*, *:before, *:after {
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--base-font-color);
  font-weight: var(--base-font-weight);
  background: var(--base-background-color);
}

p { margin: 0 0 1em 0; }

h1, h2, h3, h4 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-weight: var(--semibold);

}
h1 {
  font-size: var(--h1-font-size);
  margin-top: .7em;
  margin-bottom: .5em;
}
h2 {
  font-size: var(--h2-font-size);
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: var(--h3-font-size);
  margin: 0;
}
h4 {
  font-size: var(--h4-font-size);
  margin: 0;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: var(--silver);
  border: 0;
  padding: 0;
  margin: 0;
}
