.text--left {
  text-align: left!important;
}

.text--right {
  text-align: right!important;
}

.text--center {
  text-align: center!important;
}

.link--no-style {
  color: var(--base-font-color);
}
