.site-wrapper {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  @media(--tablet) { /* for push effect on mobile */
    overflow-x: auto;
  }
}

main {
  flex: 1 0 100%;/* for push effect on mobile (previously flex: 1 1 100%;) */
  position: relative;

  @media(--tablet) {
    flex: 1;
    position: static;
  }
}

/* Add padding to first container section to compensate for fixed position on site-header */
main > section:first-of-type {
  padding-top: 4.4rem;
}

.container {
  padding: 0 1rem;

  &--padded {
    /*padding: 0 3rem 1.2rem 3rem;*/
    padding: 0 3rem;
  }

  &--hd {
    max-width: var(--container-hd);
    @media(--desktop) {
      margin: 0 2rem;
    }
  }

  &--desktop {
    max-width: var(--container-desktop);
    @media(--desktop) {
      margin: 0 2rem;
    }
  }

  &--fixedheight {
    height: 3rem;

    & + * {
      margin-top: 5.4rem;
    }
  }

  &--branded {
    background: url("img/logo-echo.svg") no-repeat 50% 7rem;
    background-size: 7rem;
    padding-top: 26rem!important;

    &__heading {
      font-weight: var(--thin);
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &--is-editing {
    background: var(--x-light-gray);
    overflow: visible;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: var(--x-light-gray);
      width: 100%;
      height: 1.2rem;
      left: 0;
    }

    &::after {
      bottom: -1.2rem;
    }
  }
}
