.site-wrapper {
  display: flex;
  height: 100vh;
}

main {
  flex: 1 1 100%;
  position: relative;

  @media(--tablet) {
    flex: 1;
    position: static;
  }
}

/* Add padding to first container section to compensate for fixed position on site-header */
main > section:first-of-type {
  padding-top: 4rem;
}

.container {
  padding: 0 1rem;

  &--padded {
    padding: 0 2rem;
  }

  &--hd {
    max-width: var(--container-hd);
    @media(--desktop) {
      margin: 0 2rem;
    }
  }

  &--desktop {
    max-width: var(--container-desktop);
    @media(--desktop) {
      margin: 0 2rem;
    }
  }

  &--fixedheight {
    height: 10rem;

    & + section {
      margin-top: 7rem;
    }
  }

  &--branded {
    background: url("img/logo-echo.svg") no-repeat 50% 7rem;
    background-size: 7rem;
    padding-top: 26rem!important;

    &__heading {
      font-weight: var(--font-300);
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &--is-editing {
    background: var(--x-light-gray);
    overflow: visible;
    padding-bottom: 1rem;
  }
}
