a {
  color: var(--base-link-color);
  background: transparent;
  text-decoration: underline;
  cursor: pointer;

  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

.link--no-style {
  color: var(--base-font-color);
}

.link--inline {
  text-decoration: none;
  /*font-weight: 300;*/
  margin: 0 1rem;
}

.link--no-line {
  text-decoration: none;
}

.link--chevron-right::after {
  content: "\e908";
	color: color(var(--silver) shade(15%));
  font-family: 'icomoon';
  font-size: 90%;
  margin-left: .75rem;
  vertical-align: middle;
}

.link--edit {
  text-decoration: none;
  padding: .5rem 0;
  height: 32px;
  display: block;

  &:after {
    content: "\e915";
    font-family: 'icomoon';
    margin-left: .25rem;
    vertical-align: middle;
    font-size: 90%;
  }
}
