a {
  color: var(--base-link-color);
  background: transparent;
  text-decoration: underline;
  cursor: pointer;

  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

.link--no-style {
  color: var(--base-font-color);
}

.link--inline {
  text-decoration: none;
  font-weight: 300;
}

.link--chevron-right::after {
  content: "\e908";
	color: color(var(--silver) shade(15%));
  font-family: 'icomoon';
  font-size: 90%;
  margin-left: .75rem;
  vertical-align: middle;
}
