%border-success {
  box-shadow: 4px 0px 0px var(--success) inset;
}

%border-error {
  box-shadow: 4px 0px 0px var(--error) inset;
}

%no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%full-border {
  border-width: 1px 1px 3px 1px!important;
}

%margin-bottom {
  margin-bottom: 1.2rem;
}
