*,
*:before,
*:after {
  background: transparent;
  color: #000;
  box-shadow: none;
  text-shadow: none;
}

/* Links */
/*a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }*/

/* Code and Blockquotes */
pre, blockquote { page-break-inside: avoid; }

/* Tables */
thead { display: table-header-group; }
tr { page-break-inside: avoid; }

/* Images */
img { page-break-inside: avoid; max-width: 100%;}

/* Typography */
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
abbr[title]:after { content: " (" attr(title) ")"; }

/* Components */
.sidebar, .site-header, .pagination, .btn, .tabs__nav, .comments, .changelog, .files {
  display: none!important;
}
.drilldown-body {
  display: block!important;
}

/* Related to printing of restkontro */
.tabs__nav {
  display: none!important;
}

.tabs__section--outline {
  border: none!important;
}

.print-header__branding {
  left: -1rem;
}

table {
  /*display: block;*/
}

/* For print */
.print-header {
  display: flex!important;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;

  .print-header__address {
    flex: 0 1 250px;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.3;
    text-align: right;
  }
}

.scrollable-area {
  height: auto!important;
}

[class*=--screen] {
  display: none!important;
}
