*,
*:before,
*:after {
  background: transparent;
  color: #000;
  box-shadow: none;
  text-shadow: none;
}

/* Links */
/*a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }*/

/* Code and Blockquotes */
pre, blockquote { page-break-inside: avoid; }

/* Tables */
thead { display: table-header-group; }
tr { page-break-inside: avoid; }

/* Images */
img { page-break-inside: avoid; max-width: 100%;}

/* Typography */
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
abbr[title]:after { content: " (" attr(title) ")"; }

/* Components */
.sidebar, .site-header, .pagination, .btn, .tabs__nav, .comments, .changelog, .files {
  display: none!important;
}
.drilldown-body {
  display: block!important;
}
.select, .form__label--date, .section-header__meta p {
  /* display: none!important;  when printing reskontro we don't need select boxes and datepickers */
}

.section-header__meta {
  width: 100%;
  display: flex!important;
  flex: 1!important;
}

.section-header__datepicker {
  flex: 0 1 auto!important;
  
  .form__label--date {
    max-width: 100px!important;
  }
}

.print-header__branding {
  left: -1rem;
}

table {
  /*display: block;*/
}

/* For print */
.print-header {
  display: flex!important;
  justify-content: space-between;
  
  &__branding {
    position: relative;
    top: -.75rem;
  }
  
  .print-header__address {
    flex: 0 1 250px;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.3;
    text-align: right;
  }
}
