caption {
  line-height: normal;
  font-weight: var(--font-700);
  text-align: left;
  padding: .5rem 0;
  border-bottom: 1px solid #d7d7d7;
}
table {
  border-collapse: collapse;
  font-size: 1.4rem;
  border-spacing: 0;
  width: 100%;
  margin: 1rem 0;
  text-align: left;
  thead,
  tbody,
  tfoot {
    td,
    th {
      color: #585858;
      padding: 1rem 2rem;
      @media (--tablet) { padding: 1rem; }
      border-bottom: 1px solid var(--table-border-color);
    }
    th:first-child,
    td:first-child {
      padding-left: 2rem;
    }
    th:last-child,
    td:last-child {
      padding-right: 2rem;
    }
  }
}
