.text--left {
  text-align: left!important;
}

.text--right {
  @media (--desktop) { text-align: right!important; }
}

.text--center {
  text-align: center!important;
}

/* override text center for table cells on mobile devices */
td.text--center,
.fake-table__row > *.text--center {
  text-align: left!important;
  @media (--tablet) { text-align: center!important; }
}

.text--light {
  color: var(--off-gray);

  a {
    color: inherit;
  }
}

/* font weight overrides */

.text--thin {
  font-weight: 300!important;
}

.text--normal {
  font-weight: 400!important;
}

.text--semibold {
  font-weight: 600!important;
}

.text--bold {
  font-weight: 700!important;
}

/* font-size overrides */

.text--small {
  font-size: 1.2rem!important;
}

.text--medium {
  font-size: 1.4rem!important;
}

.text--large {
  font-size: 1.6rem!important;
}

/* text case overrides */
.text--lower {
  text-transform: lowercase;
}

/* Hide on mobile */

.hidden-on-mobile {
  display: none!important;
  @media (--tablet) { display: block!important; }
}

/* flexbox overrides */

.cell--block,
.cell--no-flex,
.col--no-flex,
.block--no-flex {
  display: block!important;
}

.cell--flex {
  display: flex;
}

.align--center {
  justify-content: center;
}

.align--right {
  align-items: flex-end;
}

.align--vertical-center {
  align-self: center;
}

.align--bottom {
  justify-content: flex-end;
}

/* Flex order */

.flex-mob-order {

  @media (--tablet) { order: 0!important; }

  &--1 {
    order: 1;
  }

  &--2 {
    order: 2;
  }
}

/* padding overrides */

.no-padding {
  padding: 0!important;

  &--left {
    @media (--desktop) { padding-left: 0!important; }
  }

  &--right {
    @media (--desktop) { padding-right: 0!important; }
  }

  &--top {
    @media (--desktop) { padding-top: 0!important; }
  }

  &--bottom {
    @media (--desktop) { padding-bottom: 0!important; }
  }
}

/* margin overrides */

.no-margin {
  margin: 0!important;

  &--left {
    margin-left: 0;
  }

  &--right {
    margin-right: 0!important;
  }

  &--top {
    margin-top: 0!important;
  }

  &--bottom {
    margin-bottom: 0!important;
  }
}

/* border overrides */

.no-border {
  border: 0!important;

  &--left {
    border-left: 0!important;
  }

  &--right {
    border-right: 0!important;
  }

  &--top {
    border-top: 0!important;
  }

  &--bottom {
    border-bottom: 0!important;
  }
}

.display--block {
  display: block!important;
}

.float--left {
  float: left;
  margin-right: 1rem;
}

/*** heading--inline ***/

.heading--inline {
  display: inline-block;
  vertical-align: middle;
}

/*** input--inline ***/

.input--inline {
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

/*** Inline items ***/
.text--inline,
.list--inline {
  display: inline;

  & > * {
    display: inline-block;
    margin-right: 1rem;
  }
}

.break--inline {
  display: inline-block;
  margin: 0 1rem;
}

.row--spaced {
  margin-bottom: 1rem;
}

.col {
  padding: 0 1rem;
  flex: 1;
  @extend %margin-bottom;

  @media (--tablet) {
    flex: 0;
    margin-bottom: 0;
  }
}
