@import url('utility/_pending.css');
/*** default margin-bottom ***/
%margin-bottom {
  margin-bottom: 1.2rem;
}

.text--left {
  text-align: left!important;
}

.text--right {
  @media (--tablet) { text-align: right!important; }
}

.text--center {
  @media (--tablet) { text-align: center!important; }
  &--always {
    text-align: center!important;
  }
}

/* override text center for table cells on mobile devices */
td.text--center,
.fake-table__row *.text--center {
  text-align: left!important;
  @media (--tablet) { text-align: center!important; }
}

.text--light {
  color: var(--off-gray)!important;

  a {
    color: inherit;
  }
}

/* font weight overrides */

.text--thin {
  font-weight: 300!important;
}

.text--normal {
  font-weight: 400!important;
  font-style: normal;
}

.text--semibold {
  font-weight: 600!important;
}

.text--bold {
  font-weight: 700!important;
}

.text--italic {
  font-style: italic;
}

/* preformatted */
.text--nowrap {
  white-space: nowrap;
}

/* strikethrough */
.text--strikethrough {
  text-decoration: line-through;
}

/* font-size overrides */

.text--small {
  font-size: 1.2rem!important;
}

.text--x-small {
  font-size: .8rem!important;
}

.text--medium {
  font-size: 1.4rem!important;
}

.text--large {
  font-size: 1.6rem!important;
}

/* text case overrides */
.text--lower {
  text-transform: lowercase;
}

.text--upper {
  text-transform: uppercase;
}

/* Generic error message */
.text--error {
  color: var(--gramo-red);
}

/* Strike-through for diff. */
.text--strike {
  text-decoration: line-through;
}

.text--minus {
  color: var(--gramo-red);
}

.text--plus {
  color: var(--gramo-green);
}

/* Hide on mobile */

.hidden-on-mobile {
  display: none!important;
  @media (--tablet) { display: block!important; }
}

/* Hide */
.visibility--hidden {
  visibility: hidden;
}

/* flexbox overrides */

.cell--block,
.cell--no-flex,
.col--no-flex,
.block--no-flex {
  display: block!important;
}

.cell--flex {
  display: flex;
}

.align--center {
  justify-content: center;
}

.align--right {
  align-items: flex-end;
}

.align--vertical-center {
  align-self: center;
}
/* hack to keep centered vertical alignment when error message shows */
.row--align-vertical {
  
  & > div:first-child,
  & > .fake-table__cell--delete {
    padding-top: 2.4rem!important;
  }
  
  .align--vertical-center {
    align-self: flex-start;
    padding-top: 1rem;
    
    .icon--x {
      line-height: 1.7;
    }
  }
}

.align--top {
  align-self: flex-start;
}

.align--bottom {
  align-self: flex-end;
}

.v-align--middle {
  vertical-align: middle!important;
}

.v-align--bottom {
  vertical-align: bottom!important;
}

/* Flex order */

.flex-mob-order {

  @media (--tablet) { order: 0!important; }

  &--1 {
    order: 1;
  }

  &--2 {
    order: 2;
  }
}

/* padding overrides */

.no-padding {
  padding: 0!important;

  &--left {
    @media (--desktop) { padding-left: 0!important; }
  }

  &--right {
    @media (--desktop) { padding-right: 0!important; }
  }

  &--top {
    @media (--desktop) { padding-top: 0!important; }
  }

  &--bottom {
    @media (--desktop) { padding-bottom: 0!important; }
  }
}

/* margin overrides */

.no-margin {
  margin: 0!important;

  &--left {
    margin-left: 0!important;
  }

  &--right {
    margin-right: 0!important;
  }

  &--top {
    margin-top: 0!important;
  }

  &--bottom {
    margin-bottom: 0!important;
  }
}

/* border overrides */

.no-border {
  border: 0!important;

  &--left {
    border-left: 0!important;
  }

  &--right {
    border-right: 0!important;
  }

  &--top {
    border-top: 0!important;
  }

  &--bottom {
    border-bottom: 0!important;
  }
}

.display--block {
  display: block!important;
}

.float--left {
  float: left;
  margin-right: 1rem;
}

.float--right {
  float: right;
  margin-bottom: 1.2rem;
}

/*** heading--mods ***/

.heading--inline {
  display: inline-block!important;
  vertical-align: middle;
  margin-right: 2rem;
}

.heading--sub {
  margin-top: 1.2rem;
  margin-bottom: .6rem;
}

.heading--in-form,
.heading--space-below {
  margin-bottom: 1.2rem;
}

.heading--scrollable-table {
  background: var(--light-gray);
  padding: 2rem;
  margin-left: -3rem;
  padding-left: 3rem;
  width: calc(100% + 6rem);
}

/*** input--inline ***/

.input--inline {
  display: inline-block;
  max-width: 220px;
  vertical-align: top;
}

/*** lists ***/

%no-list, .no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*** Inline items ***/
.text--inline,
.list--inline {
  display: inline;
  vertical-align: middle;
  padding: 0;

  & > * {
    display: inline-block;
    margin-right: 1rem;
  }
}

.break--inline {
  display: inline-block;
  margin: 0 0.25rem;
}

.row--spaced {
  margin-bottom: .4rem;
}

.row--spaced-large {
  margin-bottom: 1.2rem;
}

.row--with-border::after {
  content: '';
  height: 1px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  border-bottom: 1px solid var(--silver);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.col {
  padding: 0 1rem;
  flex: 1;
  /*@extend %margin-bottom;*/

  @media (--desktop) {
    flex: 0;
    margin-bottom: 0;
  }
}

.col--for-numeric-input {
  max-width: 65px;
  
  .form__input {
    padding-right: 0;
  }
/* hack to make error message extend beyond parent container */
  .form__input__errors {
    min-width: 230px;
    margin-left: -100px;
  }
}

.col--inline {
  display: inline-block;
  vertical-align: middle;
}

.col--for-dates {
  flex: 0 0 auto;
}

/* Truncated text */
.truncated {
  /*position: relative;*/
  /*background: var(--gramo-white);*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (--desktop) {
    max-width: 100px;
  }

  /*&::after {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(to right, transparent 120px, var(--gramo-white));
  }*/
}

/* Clearfix */
.clear:after {
  content: "";
  display: table;
  clear: both;
}

/* For print */
.print-header {
  display: none;
}

/* For prototype (highlight clickable areas) */
.click-here {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 5px solid var(--gramo-red);
    opacity: 0.5;
    right: -15px;
    top: -5px;
  }
}

.row--clickable {
  cursor: pointer;
}