.text--left {
  text-align: left!important;
}

.text--right {
  text-align: right!important;
}

.text--center {
  text-align: center!important;
}

.text--light {
  color: var(--off-gray);

  a {
    color: inherit;
  }
}

.text--em {
  margin: 0;
  font-style: italic;
  font-size: 1.4rem;
  color: var(--slate-gray);
}

.text--bold {
  font-weight: 600!important;
}

.text--medium {
  font-size: 1.4rem;
}

.text--small {
  font-size: 1.2rem!important;
}

.hidden-on-mobile {
  display: none;
  @media (--desktop) { display: block; }
}

.cell--block {
  display: block!important;
}

.align--center {
  justify-content: center;
}

.align--vertical-center {
  align-self: center;
}

.align--bottom {
  justify-content: flex-end;
}

.no-padding {
  padding: 0!important;

  &--left {
    @media (--desktop) { padding-left: 0; }
  }

  &--right {
    @media (--desktop) { padding-right: 0!important; }
  }

  &--top {
    @media (--desktop) { padding-top: 0!important; }
  }

  &--bottom {
    @media (--desktop) { padding-bottom: 0!important; }
  }
}

.no-margin {
  margin: 0!important;

  &--left {
    margin-left: 0;
  }

  &--right {
    margin-right: 0!important;
  }

  &--top {
    margin-top: 0!important;
  }

  &--bottom {
    margin-bottom: 0!important;
  }
}

.no-border {
  border: 0!important;

  &--left {
    border-left: 0;
  }

  &--right {
    border-right: 0;
  }

  &--top {
    border-top: 0!important;
  }

  &--bottom {
    border-bottom: 0;
  }
}

.display--block {
  display: block!important;
}

.float--left {
  float: left;
  margin-right: 1rem;
}

/*** heading--inline ***/

.heading--inline {
  display: inline-block;
  vertical-align: middle;
}

/*** Inline items ***/
.text--inline,
.list--inline {
  display: inline;

  & > * {
    display: inline-block;
    margin-right: 1rem;
  }
}

/* Flex order */

.flex-mob-order {

  @media (--tablet) { order: 0!important; }

  &--1 {
    order: 1;
  }

  &--2 {
    order: 2;
  }
}
