/* ==========================================================================
/* Root – Variables
/* ==========================================================================
*/
:root {

/* Global Colors */
--gramo-turkis:                                  #88c7d8;
--gramo-black:                                   #101010;
--gramo-white:                                   #fdfdfd;
--gramo-yellow:                                  #f8ee62;
--gramo-green:                                   #50bf9e;
--gramo-blue:                                    #0095da;
--gramo-red:                                     #ed6b6a;
--gramo-purple:                                  #a41681;
--gramo-sea-green:                               #31798d;

--dark-gray:                                     #3f3e44;
--slate-gray:                                    #504f56;
--ui-gray:                                       #434D5A;
--off-gray:                                      #a5a4ab;
--silver:                                        #d9d9dc;
--light-gray:                                    #ededed;
--x-light-gray:                                  #f9f9f9;

/* Global Typography */
--base-font-family:                              'Source Sans Pro', sans-serif;
--base-font-size:                                1.4rem;
--base-line-height:                              1.4;
--base-font-weight:                              400;
--base-font-color:                               var(--dark-gray);
--base-link-color:                               var(--gramo-blue);
--heading-color:                                 var(--slate-gray);

/* Min side variables */
--minside-font-size:                             1.6rem;
--minside-line-height:                           1.5;
--minside-font-family:                           "brandon-regular";
--minside-background-color:                      var(--x-light-gray);
--data-src-color:                                var(--gramo-blue);

/* Font Weights */
--thin:                                          300;
--normal:                                        400;
--semibold:                                      600;
--bold:                                          700;

/* Headings */
--heading-font-family:                           var(--base-font-family);

--h1-font-size:                                  2.2rem;

--h2-font-size:                                  2rem;

--h3-font-size:                                  1.6rem;

--h4-font-size:                                  var(--base-font-size);


/* Forms */
--base-placeholder-color:                        #999;

/*Tables */
--table-border-color:                            var(--silver);
--table-head-background:                         var(--light-gray);
--table-row-height:                              4.8rem;

/* Grid Containers */
--container-mobile:                              100%;
--container-tablet:                              768px;
--container-desktop:                             960px;
--container-hd:                                  1400px;

/* Responsive Breakpoints */
@custom-media --mobile-only (max-width: 768px); /* Makes the rule(s) applicable on mobile only */
@custom-media --mobile-tablet-only (max-width: 960px); /* Makes the rule(s) applicable on mobile and tablet only */
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 960px);
@custom-media --hd (min-width: 1200px);
@custom-media --hd-plus (min-width: 1400px);

/*Context specific variables */
--base-background-color:                         #f3f3f3;

/* States */
--primary:                                       var(--gramo-blue);
--secondary:                                     var(--x-light-gray);
--success:                                       var(--gramo-green);
--error:                                         var(--gramo-red);
--info:                                          var(--gramo-turkis);

--row-hover:                                     var(--x-light-gray);

/*Sidebar menu */
--sidebar-menu-bg:                               var(--ui-gray);
--sidebar-menu-color:                            var(--light-gray);
}
