/* Global Colors */
:root {
	--gramo-turkis: #88c7d8;
	--gramo-black:  #000;
	--gramo-yellow: #f8ee62;
	--gramo-green:  #50bf9e;
	--gramo-blue:   #0095da;
	--gramo-red:    #ed6b6a;
	--gramo-purple: #a41681;
	--gramo-gray:   #504f56;
	--gramo-ui-bg:  #434D5A;
}
