/* Min Side */
.flash-message-wrapper {
  position: static;
  margin-top: -2rem;
}

.flash-message {
  padding: 1rem;
  display: flex;
  align-items: center;
  
  & > p {
    flex: 1
  }
  
  &__close {
    align-self: flex-end;
    font-size: 1rem;
  }
}