/* Min Side */
.flash-message-wrapper {
  position: relative;
  left: auto;
  z-index: 1;
}

.flash-message {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  margin-top: 0;
  text-transform: none;
  font-weight: var(--semibold);
  font-size: var(--minside-font-size);
  line-height: 1;
  
  & > p {
    flex: 1;
  }
  
  &__close {
    align-self: flex-end;
    font-size: 1.5rem;
  }
}