/* Min Side */
.message {
  color: var(--gramo-white);
  font-style: normal;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  
  .icon {
    font-size: 5rem;
  }
  
  &--primary {
    background: var(--gramo-turkis);
    font-family: var(--minside-font-family);
    font-size: 1.8rem;
    font-weight: var(--semibold);
  }
  
  &--secondary {
    background: var(--light-gray);
    color: var(--slate-gray);
    margin-bottom: 2rem;
    
    h2 {
      font-size: inherit;
    }
    
    & > p {
      padding: 1rem 2rem;
      width: 100%; /* for IE */
    }
  }
  
  &--success {
    background: var(--gramo-green);
  }
  
  &--error {
    background: var(--gramo-red);
  }
  
  &--with-arrow {
    @extend .masthead;
  }
}

/* Temporary styles */
.fa-paper-plane {
  align-self: center;
  color: var(--gramo-turkis);
  margin: 2rem 0;
}