.nav-toggle {
  flex: 0 0 auto;
  position: relative;
  color: var(--gramo-white);
  display: flex;
  align-items: flex-end;
  transition: all .25s ease;
  margin-right: .5rem;
  z-index: 2;
  
  &::after {
    content: "\e90e";
    font-family: 'icomoon';
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

.nav-toggle[aria-expanded="true"]::after {
  content: "\e91c";
}

.nav--primary {
  width: 30rem;
  transform: translateX(30rem);
  transition: all .25s ease;
  height: calc(100% - 5.1rem);
  background: var(--gramo-white);
  position: fixed;
  overflow: auto;
  z-index: 2;
  right: 0;
  top: 5.1rem;
  
  &.nav-visible {
    transform: translateX(0);
    box-shadow: -3px 3px 5px 0px color(var(--ui-gray) a(50%));
  }
  
  .vertical__nav {
    background: none;
    
    &__item a {
      background: none;
      color: inherit;
      text-transform: none;
      border: 0;
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      
      &.active, &:hover {
        color: var(--gramo-sea-green);
      }
    }
    
    &__item:last-child {
      border-top: 1px solid var(--light-gray);
    }
    
    .icon {
      font-size: 2.5rem;
      margin-right: 1rem;
      margin-top: .2rem;
    }
    
    &__heading {
      background: var(--x-light-gray);
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--light-gray);
    }
  }
}