.nav-toggle {
  flex: 0 0 auto;
  position: relative;
  color: var(--gramo-white);
  display: flex;
  align-items: flex-end;
  transition: all .25s ease;
  margin-right: .5rem;
  z-index: 2;
  
  &::after {
    content: "\e90e";
    font-family: 'icomoon';
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

.nav-toggle[aria-expanded="true"]::after {
  content: "\e91c";
}

.nav--primary {
  width: 30rem;
  transform: translateX(30rem);
  transition: all .25s ease;
  height: calc(100% - 5.1rem);
  background: var(--gramo-white);
  position: fixed;
  overflow: auto;
  z-index: 2;
  right: 0;
  top: 5.1rem;
  
  &.nav-visible {
    transform: translateX(0);
    box-shadow: -3px 3px 5px 0px color(var(--ui-gray) a(50%));
  }
  
  .vertical__nav {
    background: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__item a {
      background: none;
      color: var(--ui-gray);
      text-transform: none;
      border: 0;
      padding: 1.2rem 2rem;
      display: flex;
      align-items: center;
      font-weight: var(--semibold);
      
      &.active, &:hover, &.active .icon {
        color: var(--gramo-sea-green);
      }
      
      .icon {
        color: var(--off-gray);
      }
    }
    
    li:first-child,
    li:last-child {
      background: var(--light-gray);
    }
    
    li:first-child {
      border-bottom: 1px solid var(--silver);
    }
    
    li:last-child {
      border-top: 1px solid var(--silver);
    }
    
    &__item--extend {
      flex: 1;
    }
    
    &__item--with-border {
      border-top: 1px solid var(--silver);
    }
    
    .icon {
      font-size: 2.5rem;
      margin-right: 1rem;
      margin-top: .2rem;
    }
  }
}