.nav--secondary {
  ul {
    list-style: none;
    padding: 0 0 1.2rem 0;
    margin: 0 0 1.2rem 0;
    border-bottom: 1px solid var(--silver);
    font-family: var(--minside-font-family);
    word-break: break-all;
    @media (--tablet) { 
      margin: 0; 
      border: 0; 
      padding: 0; 
      text-transform: 
      uppercase;
      font-size: 1.5rem;
      @media (--desktop) { font-size: 1.8rem; }
    }
  }
  
  li {
    display: inline-block;
    @media (--tablet) { display: block; }
    
    a {
      text-decoration: none;
      padding: .5rem 0;
      margin: 0 1rem .5rem 0;
      color: var(--off-gray);
      @media (--tablet) { display: block; }
      
      &.active, &:hover {
        color: var(--gramo-sea-green);
        text-decoration: underline;
        @media (--tablet) { text-decoration: none; }
      }
    }
  }
}