.radio-group {
  justify-content: flex-start;
  margin-top: .6rem;
  
  label, .check, .check:before {
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
  }
  
  .form__label {
    background: var(--light-gray);
    z-index: 0;
    margin: 0 1rem 0 0;
    display: flex;
    justify-content: center;
  }
  .check {
    border: 0;
  }
  input ~ span, input:checked ~ span {
    color: var(--slate-gray);
  }
  input:checked ~ .check::before {
    background: var(--gramo-turkis);
  }
}