.searchable-list {
  padding: 0;
  @media (--tablet) { max-width: 280px; }

  &__heading {
    height: auto;
    padding: 1.2rem 2.3rem 1.2rem 0.75rem;

    &:before {
      background-image: url(img/arrow-down-dark.svg);
      right: 1rem;
      top: 1.6rem;
    }
  }
  
  &--disabled {
    border-color: var(--silver);
    background: color(var(--light-gray) shade(3%));
    color: var(--off-gray);
  }
}

.searchable-list__dropdown {
  /*min-width: 100%;
  width: auto;*/
  width: 100%;
}

.searchable-list__dropdown ul {

  li.searchable-list__option {

    &--active, &:hover {
      color: inherit;
      background-color: var(--gramo-turkis);
    }
  }
}