.searchable-list {
  padding: 0;
  @media (--tablet) { max-width: 280px; }

  &__heading {
    height: auto;
    padding: 1.2rem 2.3rem 1.2rem 0.75rem;

    &:before {
      background-image: url(img/arrow-down-dark.svg);
      right: 1rem;
      top: 1.6rem;
    }
  }
  
  &--disabled {
    border-color: var(--silver);
    background: color(var(--light-gray) shade(3%));
    color: var(--off-gray);
  }
}

.searchable-list__dropdown {
  /*min-width: 100%;
  width: auto;*/
  width: 100%;
}

.searchable-list__dropdown ul {

  li.searchable-list__option {

    &--active, &:hover {
      color: inherit;
      background-color: var(--gramo-turkis);
    }
  }
}

.searchable-list--for-input {
  width: 100%;
  max-width: none;
  top: -1px;
  border: 0;
  display: block;
}



/* Ember power select */



.ember-power-select-search {
    padding: 5px;
}

.ember-power-select-trigger, .ember-power-select-trigger--active, .ember-power-select-trigger:focus {
    border: 1px solid var(--silver);
}


/* .code-example, .doc-page-nav, .section-selector {
    margin-bottom: 1rem;
}

.ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded=true], .ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded=true] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */



.ember-power-select-dropdown.ember-basic-dropdown-content--below, .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    /* border-top: none; */
    border-bottom: 1px solid var(--silver);
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
}

.ember-power-select-dropdown {
    border-left: 1px solid var(--silver);
    border-right: 1px solid var(--silver); 
    line-height: 1.75;
    border-radius: 0;
    /* box-shadow: none;
    overflow: hidden;
    color: inherit; */
}

/* .ember-basic-dropdown-content--left {
    left: 0;
}

.ember-basic-dropdown-content {
    position: absolute;
    width: auto;
    z-index: 1000;
    background-color: #fff;
} */

.ember-power-select-trigger, .ember-power-select-trigger--active, .ember-power-select-trigger:focus {
    border: 1px solid var(--silver);
}

.ember-power-select-trigger {
    /* position: relative; */
    border-radius: 1px;
    padding: 1.15rem 2.3rem 1.15rem 0.75rem;
    /* background-color: #fff;
    overflow-x: hidden;
    text-overflow: ellipsis;
    min-height: 1.75em;
    user-select: none;
    -webkit-user-select: none;
    color: inherit; */
}

.ember-power-select-trigger, .ember-power-select-trigger--active, .ember-power-select-trigger:focus {
    border: 1px solid var(--silver);
}

/* .ember-basic-dropdown-trigger[aria-expanded=true] .ember-power-select-status-icon {
    transform: rotate(180deg);
} */

.ember-power-select-status-icon {
    /* position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-style: solid; */
    border-width: 8px 5px 0;
    border-color: color(var(--off-gray) shade(15%)) transparent transparent;
    /* right: 5px; */
  }
  
  /* .ember-basic-dropdown-content-wormhole-origin {
    display: inline;
} */

.ember-power-select-search-input {
    border: 1px solid var(--silver);
    background: var(--gramo-white) url("img/search.svg") right 0.5rem center no-repeat;
    background-size: 1.8rem;
    border-radius: 0;
    /* width: 100%;
    font-size: inherit; */
    padding: 1.2rem 0.75rem;
    box-sizing: border-box!important;
}

/* .ember-power-select-options[role=listbox] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 12.25em;
} */

.ember-power-select-options {
    /* list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none; */
    
    li {
      padding: 5px;
    }
}

.ember-power-select-option[aria-current=true] {
    background-color: var(--gramo-turkis);
    color: #fff;
}