.tabs__nav {
  @extend %no-list;
  position: relative;
  z-index: 1;
  display: flex;
  
  &__item {
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 0;
    background: var(--x-light-gray);
    border: 1px solid var(--silver);
    border-width: 1px 0 0 1px;
    @media (--tablet) {
      border-width: 1px 0 0 1px;
    }

    &:last-child {
      border-right-width: 1px;
    }
  }

  &__item a {
    text-decoration: none;
    color: var(--slate-gray);
    font-weight: var(--semibold);
    padding: 1rem 0;
    flex: 1 0 auto;
    display: block;
    box-shadow: 0 1px 0 var(--silver);
  }

  &__item:hover,
  &__item a.active {
    background: var(--light-gray);
    position: relative;
    box-shadow: 0 1px 0 var(--light-gray);
    
    &::after {
      content: none;
    } 
  }
}

.tabs__nav--flexible {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -1rem;
  @media (--desktop) { display: inline-flex; margin: 0; }
  
  .tabs__nav__item {
    flex: 1 0 auto;
    @media (--tablet) { flex: 0 0 auto; }
    
    & > a {
      padding-left: 1rem;
      padding-right: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media (--tablet) { min-width: 150px; }
    }
  }
}