.tooltip-wrapper {
  position: relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  
  .icon {
    font-size: 2.5rem;
    color: var(--off-gray);
    @media (--tablet) { font-size: 2rem; }
  }
  
  &.isVisible .icon {
    color: var(--slate-gray);
  }
}

.tooltip-wrapper .tooltip {
  background: var(--slate-gray);
  color: var(--gramo-white);
  display: block;
  font-weight: var(--normal);
  margin-bottom: 15px;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  width: auto;
  min-width: 200px;
  transition: all .25s ease-out;
  transform: translateY(10px);
  left: -30px;
  bottom: 2.5rem;
  
  @media (--tablet) {
    transform: translateX(10px);
    left: calc(100% + 15px);
    bottom: auto;
    top: calc(-50% - 10px);
    min-width: 300px;
  }
}

/* Stop tooltip disappearing when you move mouse into it */
.tooltip-wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

.tooltip-wrapper .tooltip:after {
  border: solid transparent;
  border-top-color: var(--slate-gray);
  border-width: 8px;
  bottom: -16px;
  content: " ";
  width: 0;
  height: 0;
  left: 35px;
  position: absolute;
  
  @media (--tablet) {
    border-right-color: var(--slate-gray);
    border-top-color: transparent;
    top: 2.3rem;
    left: auto;
    right: 100%;
    bottom: -20px;
    border-width: 10px;  
  }
}
  
/*.tooltip-wrapper:hover .tooltip,*/ .isVisible .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}