.user {
  background: none;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  
  &__name {
    margin-right: 1rem;
    color: var(--ui-gray);
    flex: 1 0 auto;
    margin: 0;
  }
  a {
    flex: none;
    text-decoration: none;
    text-transform: none;
  }
}

/*** Profile colors for user ***/
.profile--performer .user {
  background: color(var(--gramo-blue) tint(85%));
  border-bottom: 2px solid var(--gramo-blue);
}

.profile--personlig-produsent .user {
  background: color(var(--gramo-purple) tint(85%));
  border-bottom: 2px solid var(--gramo-purple);
}

.profile--produsent .user {
  background: color(var(--gramo-green) tint(85%));
  border-bottom: 2px solid var(--gramo-green);
}

.profile--agent .user {
  background: color(var(--gramo-red) tint(85%));
  border-bottom: 2px solid var(--gramo-red);
}

.profile--heir .user {
  background: color(var(--ui-gray) tint(85%));
  border-bottom: 2px solid var(--ui-gray);
}