/* Styling of 'example pages' on UI kit index page*/
.placeholder {
  background: var(--light-gray);
  padding: 5rem 0;
  text-align: center;
  position: relative;
  color: var(--off-gray);
  margin-bottom: 2rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    top: 0;
    background: var(--silver);
  }

  &::after {
    height: 100%;
    width: 40px;
    opacity: 0.5;
    display: none;
    @media (--hd) { display: block; }

  }

  span {
    border: 1px solid var(--silver);
    border-width: 1px 0;
    padding: 5%;
    display: inline-block;
  }
}

/* search on index page */
.search__form--simple {
  margin-bottom: 2rem;
}

.search__form--simple:before {
  border-radius: 2px 0 0 2px;
  background: var(--silver);
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  color: var(--gramo-white);
  content: "\e909";
  display: inline-flex;
  flex: 0 0 4rem;
  align-items: center;
  justify-content: center;
  @media (--tablet) { display: inline-flex; }
}
