/* Min Side */
.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0.1em .5em;
  margin-left: 1rem;
  font-size: 85%;
  vertical-align: top;
  color: var(--slate-gray);
  padding: 0.15rem 1rem;
  
  &--primary {
    background: var(--gramo-turkis);
  }
  &--secondary {
    background: var(--silver);
  }
}

/* In headings */
h2 .badge {
  padding: 0.4rem;
  font-size: 80%;
  vertical-align: top;
  margin-top: .4rem;
  line-height: 1;
  min-width: 25px;
  text-align: center;
}

/* badges in tabs */
.tabs__nav__item {
  .badge {
    @extend .badge--secondary;
    color: var(--slate-gray);
    display: none;
    @media (--desktop) { display: inline-block; }
  }
  .active .badge {
    @extend .badge--primary;
    display: inline-block;
  }
}
