/* Min Side */
.badge {
  color: var(--slate-gray);
  padding: 0.15rem 1rem;
  
  &--primary {
    background: var(--gramo-turkis);
  }
  &--secondary {
    background: var(--silver);
  }
}

/* In headings */
h2 .badge {
  padding: 0.25rem .75rem;
  font-size: 80%;
  vertical-align: top;
  margin-top: .5rem;
  line-height: 1;
}

/* badges in tabs */
.tabs__nav__item {
  .badge {
    @extend .badge--secondary;
  }
  .active .badge {
    @extend .badge--primary;
  }
}

.badge--numeric {
  font-size: 1rem;
  color: var(--off-gray);
  background: var(--light-gray);
  border-radius: 2rem;
  text-align: center;
  padding: .3rem .5rem;
  min-width: 2rem;
  height: 2rem;
}
