/* Min Side */
.box--shortcut {
  box-shadow: none;
  border-bottom: 3px solid var(--gramo-turkis);
  text-align: center;
  padding-bottom: 0;
  
  .icon {
    color: var(--gramo-turkis);
    font-size: 3.2rem;
    @media (--tablet) { font-size: 4rem; }
  }
  
  em {
    font-size: 3rem;
    font-style: normal;
  }
}

.box--login {
  background: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  height: calc(100vh - 102px);
  @media (--tablet) { height: calc(70vh - 102px); margin-top: 2rem; }
  
  .form--in-box {
    flex: 1;
  }
}

.box--summary {
  border: 1px solid var(--gramo-turkis);
  box-shadow: none;
  padding: 0;
}

.box__section {
  padding: 1rem;
  background: var(--gramo-turkis);
  text-align: center;
  
  em {
    font-style: normal;
  }
  
  span {
    margin-right: 1rem;
  }
}

.box__section--main {
  padding: 2rem;
  background: color(var(--gramo-turkis) tint(60%));
  
  & > * {
    display: block;
  }
  
  em {
    font-size: 3.2rem;
    font-weight: var(--semibold);
  }
  
  span {
    margin-right: 0;
  }
}