/* Min Side */
.box--shortcut {
  /*display: block;*/
  flex: none;
  box-shadow: none;
  border-bottom: 3px solid var(--gramo-turkis);
  text-align: center;
  padding: 1rem 0;
  @media (--tablet) { padding: 2rem 1rem; }
  
  .icon {
    color: var(--gramo-turkis);
    font-size: 3.2rem;
    @media (--tablet) { font-size: 4rem; }
  }
  
  h4 {
    font-size: 1.4rem;
    @media (--tablet) { font-size: inherit; }
  }
  
  em {
    font-size: 3rem;
    font-style: normal;
  }
}

.box--login {
  background: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 102px);
  @media (--tablet) { margin-top: 2rem; min-height: 550px; }
  
  .box__inner {
    flex: 1;
    padding: 2rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    text-align: center;
    
    .icon {
      font-size: 5rem;
    }
  }
}

.box--onboarding {
  @extend .box--login;
  /*min-height: 0;*/
  background: var(--light-gray);
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 color(var(--gramo-black));
}