/* Min Side */
.box {
  background: var(--gramo-white);
  padding: 2rem;
  width: 100%;
  @media (--tablet) { 
    padding: 3rem;
    width: 400px;
    box-shadow: 0 1px 3px color(var(--slate-gray) a(30%));
    margin: auto;
  }
}

.box--login {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 170px);
  @media (--tablet) { 
    display: block;
    min-height: 350px;
    box-shadow: none;
    border: 1px solid var(--silver);
  }
  
  .box__inner {
    flex: 1;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    @media (--tablet) {
      padding: 2rem 3rem 0 3rem;
    }
    
    .icon {
      font-size: 5rem;
    }
    
    &--centered {
      justify-content: center;
      @media (--tablet) { padding: 5rem 0; }
    }
  }
}

.box__header {
  text-align: center;
  padding: 1rem 3rem 0 3rem;
}

.box--overlay {
  @extend .box--login;
  border: 0;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 color(var(--gramo-black));
}

.box--meta {
  background: var(--silver);
}