.btn {
  font-family: var(--minside-font-family);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  font-weight: var(--semibold);
  
  &--primary {
    background: var(--gramo-turkis);
    border-color: color(var(--gramo-turkis) shade(15%));
    color: var(--slate-gray);
    
    &:hover {
       background-color: color(var(--gramo-turkis) shade(25%));
    }
  }
  &--secondary {
    color: var(--slate-gray);
  }
  &--solo {
    min-width: 200px;
    max-width: 300px;
    margin-top: 2rem;
    align-self: center;
  }
}