.btn {
  font-family: var(--minside-font-family);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem 1.25rem;
  font-weight: var(--semibold);
  @media (--tablet) {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
  }
  
  &--primary {
    background: var(--gramo-turkis);
    border-color: color(var(--gramo-turkis) shade(15%));
    color: var(--slate-gray);
    
    &:hover {
       background-color: color(var(--gramo-turkis) shade(25%));
    }
  }
  &--secondary {
    color: var(--slate-gray);
    background: var(--light-gray);
    min-height: 0;
  }
  &--solo {
    display: block;
    min-width: 200px;
    max-width: 300px;
    margin: 2rem auto 0 auto;
    align-self: center;
  }
  &--small {
    padding: .3rem 2rem;
    margin: 0;
  }
  
  &--compact {
    padding: 1.2rem 1rem;
  }
  
  &--inline {
    margin-bottom: 0;
  }
}