.form__label {
  @extend %font-size;
  padding: 0;
  margin: 0 0 1.2rem 0;
  color: inherit;
}

.form__label:not(.form__label--inline):not(.form__label--required):before {
  content: '';
  margin-left: .4rem;
}

.form__label--inline {
  margin-right: 2rem;
}