.form__label.is-valid::after,
.form__label.has-error::after {
  color: var(--slate-gray);
  font-family: 'icomoon';
  position: absolute;
  left: 92%;
  top: 55%;
  background: var(--gramo-white);
  content: none;
  @media (--desktop) { content: "\e90a"; }
}

.form__label.has-error::after {
  color: var(--gramo-red);
  content: none;
  @media (--desktop) { content: "\e90b"; }
}

.form__label.is-valid .form__input,
.form__label.has-error .form__input {
  border: 1px solid var(--silver);
  background-image: none;
}



