.form__input {
  @extend %font-size;
  padding: 1.2rem 0.75rem;
  display: block;
  width: 100%;
  margin-top: .4rem;
  margin-bottom: 0;
  border: 1px solid var(--silver);
  background-color: var(--gramo-white);
  font-weight: var(--normal);
  
  &[type="text"], &[type="password"], &[type="email"], &[type="url"], &[type="tel"] {
    -webkit-appearance: none;
    border-radius:0;
  }
  /*** Remove 'x' from inputs on IE ***/
  &::-ms-clear {  display: none; width : 0; height: 0; }
}

/* Checkboxes/radio buttons */
input[type="radio"], input[type="checkbox"],
.form__input--checkbox,
.form__input--radio {
  display: inline-block;
  width: auto;
  margin-right: 0.2rem;
}

/* Date inputs */
.form__input--date,
.form__input[type="date"] {
  @extend .form__input;
  padding: 1rem .75rem;
  min-height: 45px;
  background: #fff url(img/calendar.svg) center right 1rem no-repeat;
  max-width: 150px;
  min-width: 115px;
  
  @media (--tablet) { 
    min-width: 0;
    max-width: 200px;
  }
  
  &::-webkit-calendar-picker-indicator,
  &::-webkit-inner-spin-button {
    opacity: 0!important;
    -webkit-appearance: none!important;
  }
}

/* Hack to vertically center text in input on ie/edge */
_:-ms-lang(x), .form__input[type="date"] {
  line-height: 0;
}
/* Hack to fix heights of date inputs in IE10/11 */
_:-ms-input-placeholder, :root .form__input[type="date"] {
  box-sizing: content-box;
  padding: 1.2rem 0 1.2rem .5rem;
  width: 95%;
}

input[type="number"],
input[type="time"] {
  height: auto;
  @media (--tablet) { max-width: 150px; }
}

.form__input[disabled] {
  border-color: var(--silver);
  background-color: color(var(--light-gray) shade(3%));
  color: var(--off-gray);
  cursor: not-allowed;
}

.form__input--discreet[disabled] {
  border: 0;
  background: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: var(--semibold);
}

input[type="checkbox"].form__input--toggle-visibility {
  visibility: hidden;
}

.form__input--stretch {
  max-width: none!important;
  width: 100%!important;
}

.form__input--textarea {
  margin-bottom: 1rem;
}

.form__input__errors, .form__input__valid {
  position: relative;
  top: -1rem;
  font-size: 1.5rem;
  font-weight: var(--semibold);
  p {
    color: var(--gramo-red);
    text-align: left;
  }
}

.form__input__valid {
  p {
    color: var(--gramo-green);
  }
}

.form__input--small {
  padding: .2rem .5rem;
  margin: 0;
}

.form__input--inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form__input--300 {
  @media (--tablet) { width: 300px; }
}

.form__input--170 {
  @media (--tablet) { width: 170px; }
}

.form__input--80 {
  @media (--tablet) { width: 80px; }
}

.form__input--60 {
  @media (--tablet) { width: 60px; }
}

.form__input--30 {
  width: 30px; padding-right: 0;
}

/* Textarea */
.form__input--textarea {
  resize: vertical;
  background: var(--gramo-white);
  min-height: 100px;
  max-width: 400px;
  margin-bottom: 1.2rem;
}

.form__input--searchable {
  background: var(--gramo-white) url("img/search.svg") right 1rem center no-repeat;
  background-size: 1.8rem;
}