/* Minside */
hr, .horizontal-rule {
  height: 1px;
  border: 0;
  padding: 0;
  position: relative;
  text-align: center;
  margin: 4rem 0 3rem 0;
  background: var(--silver);
  clear: both;
}

.horizontal-rule--with-arrow {
  padding: 0;
  position: relative;
  text-align: center;
  margin: 2rem 0;
  background: var(--silver);
  
  hr {
    height: 1px;
    border: 0;
  }
}

.horizontal-rule--spacer {
  margin: 1.2rem 0 2rem 0!important;
  background: none;
  &:before,
  &:after {
    content: none;
  }
  hr {
    background: none; /* compensates for Ember component which is a div containing an <hr> */
  }
}

.horizontal-rule--with-arrow:before,
.horizontal-rule--with-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  top: 0;
}

.horizontal-rule--with-arrow:before {
  margin-left: -10px;
  border-top-color: color(var(--silver) shade(5%)); /* darken stroke slightly */
  border-width: 10px;
  left: 50%;
}

.horizontal-rule--with-arrow:after {
  margin-left: -9px;
  border-top-color: var(--minside-background-color);
  border-width: 9px;
  left: 50%;
}

/* standar hr */
hr.horizontal-rule {
  margin: 2.4rem 0;
}

/* In <ul> */
hr.horizontal-rule--in-list {
  margin: .6rem 0;
}

/* --choice */
hr.horizontal-rule--choice {
  overflow: visible;
  text-align: center;
  &:after {
    content: attr(data-text);
    position: relative;
    top: -1.5rem;
    font-size: 1.8rem;
    color: var(--off-gray);
    background: var(--x-light-gray);
    padding: 0 0.75rem;
    font-style: italic;
  }
}