@font-face {
  font-family: 'icomoon';
  src:  url('fonts/minside.eot?p1g1hx');
  src:  url('fonts/minside.eot?p1g1hx#iefix') format('embedded-opentype'),
    url('fonts/minside.ttf?p1g1hx') format('truetype'),
    url('fonts/minside.woff?p1g1hx') format('woff'),
    url('fonts/minside.svg?p1g1hx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Icon colors */
.icon--primary {
  color: var(--gramo-turkis);
}

.icon--secondary {
  color: var(--off-gray);
}

.icon--dark {
  color: var(--slate-gray);
}

.icon--danger {
  color: var(--gramo-red);
}

.icon--success {
  color: var(--gramo-green);
}

/* Icons */
.icon--pencil:before {
  content: "\e919";
  color: #0095da;
}
.icon--language:before {
  content: "\e917";
  font-size: 2rem;
}
.icon--logout:before {
  content: "\e918";
  font-size: 2rem;
}
.icon--calendar:before {
  content: "\e900";
}
.icon--account:before {
  content: "\e901";
}
.icon--address:before {
  content: "\e902";
}
.icon--album-label:before,
.icon--album:before {
  content: "\e903";
}
.icon--producer:before {
  content: "\e904";
}
.icon--profile:before {
  content: "\e905";
}
.icon--artist:before,
.icon--performer:before {
  content: "\e906";
}
.icon--recording:before,
.icon--notes:before {
  content: "\e907";
}
.icon--arrow-back:before {
  content: "\e908";
}
.icon--carret_down:before {
  content: "\e909";
}
.icon--checkmark:before {
  content: "\e90a";
}
.icon--close:before {
  content: "\e90b";
}
.icon--down:before {
  content: "\e90c";
}
.icon--info:before {
  content: "\e90d";
}
.icon--menu:before {
  content: "\e90e";
}
.icon--switch:before {
  content: "\e90f";
}
.icon--lock:before {
  content: "\e910";
}
.icon--show:before {
  content: "\e911";
}
.icon-altok2:before {
  content: "\e912";
}
.icon--no2:before {
  content: "\e913";
}
.icon--nerd:before {
  content: "\e914";
}
.icon--yay2:before {
  content: "\e915";
  @extend .icon--success;
}
.icon--altok:before {
  content: "\e916";
  @extend .icon--success;
}

.icon--yay:before {
  content: "\e92a";
}

.icon--bank:before {
  content: "\e925";
}
.icon--paperplane:before {
  content: "\e926";
  @extend .icon--primary;
}
.icon--no:before {
  content: "\e927";
  @extend .icon--danger;
}
.icon--quill:before {
  content: "\e928";
}

.icon--large {
  font-size: 6rem;
}
