@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6on5zt');
  src:  url('fonts/icomoon.eot?6on5zt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6on5zt') format('truetype'),
    url('fonts/icomoon.woff?6on5zt') format('woff'),
    url('fonts/icomoon.svg?6on5zt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'minside-icons';
  src:  url('fonts/minside.eot?dfconb');
  src:  url('fonts/minside.eot?dfconb#iefix') format('embedded-opentype'),
    url('fonts/minside.ttf?dfconb') format('truetype'),
    url('fonts/minside.woff?dfconb') format('woff'),
    url('fonts/minside.svg?dfconb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'minside-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Icon colors */
.icon--primary {
  color: var(--gramo-turkis);
}

.icon--secondary {
  color: var(--off-gray);
}

.icon--dark::before {
  color: var(--slate-gray)!important;
}

.icon--ui-gray {
  color: var(--ui-gray);
}

.icon--danger {
  color: var(--gramo-red);
}

.icon--success, .icon--green {
  color: var(--gramo-green);
}

.icon--blue {
  color: var(--gramo-blue);
}

.icon--purple {
  color: var(--gramo-purple);
}

/* Icons */
.icon--katalog:before {
  content: "\e920";
}
.icon--kladd:before {
  content: "\e921";
}
.icon--move-down:before {
  content: "\e91e";
}
.icon--move-up:before {
  content: "\e91f";
}
.icon--edit:before {
  content: "\e91c";
}
.icon--trash:before {
  content: "\e91d";
}
.icon--link-ext:before {
  content: "\e91b";
  font-size: 1.4rem;
  margin-left: .25rem;
}
.icon--cookie:before {
  content: "\e91a";
}
.icon--pencil:before {
  content: "\e919";
}
.icon--language:before {
  content: "\e917";
  font-size: 2rem;
}
.icon--logout:before {
  content: "\e918";
  font-size: 2rem;
}
.icon--calendar:before {
  content: "\e900";
}
.icon--account:before {
  content: "\e901";
}
.icon--address:before {
  content: "\e902";
}
.icon--album-label:before,
.icon--album:before {
  content: "\e903";
}
.icon--producer:before {
  content: "\e904";
}
.icon--profile:before {
  content: "\e905";
}
.icon--artist:before,
.icon--performer:before {
  content: "\e906";
}
.icon--recording:before,
.icon--notes:before {
  content: "\e907";
}
.icon--arrow-back:before {
  content: "\e908";
}
.icon--carret_down:before {
  content: "\e909";
}
.icon--carret_up:before {
  content: "\e909";
  transform: rotate(-180deg);
}
.icon--checkmark:before {
  content: "\e90a";
}
.icon--close:before {
  content: "\e90b";
}
.icon--down:before {
  content: "\e90c";
}
.icon--info:before {
  content: "\e90d";
}
.icon--menu:before {
  content: "\e90e";
}
.icon--switch:before {
  content: "\e90f";
}
.icon--lock:before {
  content: "\e910";
}
.icon--show:before {
  content: "\e911";
}
.icon--altok2:before {
  content: "\e912";
}
.icon--no2:before {
  content: "\e913";
}
.icon--nerd:before {
  content: "\e914";
}
.icon--yay2:before {
  content: "\e915";
  color: var(--gramo-green);
}
.icon--altok:before {
  content: "\e916";
  color: var(--gramo-green);
}

.icon--yay:before {
  content: "\e92a";
}

.icon--bank:before {
  content: "\e925";
}
.icon--paperplane:before {
  content: "\e926";
  color: var(--gramo-turkis);
}
.icon--paperclip:before {
  font-family: 'icomoon';
  /*line-height: 2;*/
  content: "\e923";
}
.icon--no:before {
  content: "\e927";
  color: var(--gramo-red);
}
.icon--quill:before {
  content: "\e928";
}

.icon--dashboard:before {
  content: "\e922";
}

.icon--avatar:before {
  content: "\e923";
}

.icon--pagination-next:before {
	content: "\e909";
  font-size: inherit;
  display: block;
  transform: rotate(-90deg);
}

.icon--pagination-previous:before {
	content: "\e909";
  font-size: inherit;
  display: block;
  transform: rotate(90deg);
}

.icon--large {
  font-size: 6rem;
}

.icon--medium {
  font-size: 4.5rem;
}

.icon--small {
  font-size: 2rem;
}
