.link--back {
  text-decoration: none;
  
  &:before {
    margin-right: .5rem;
    content: "\e908";
    font-family: 'minside-icons';
  }
}

.link--edit {
  height: 49px;
  transition-property: none;

  &:after {
    content: "\e91c";
    font-family: 'minside-icons';
  }
}

.link--trash {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--slate-gray);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  
  &:after {
    content: "\e91d";
    font-family: 'minside-icons';
    margin-left: .5rem;
  }
  
  &--in-row {
    bottom: 2.5rem;
  }
}

.link--add {
  margin: -0.5rem 0 1rem 0rem;
}

.link--disabled {
  pointer-events: none;
}

/* For prototype (turning edit link into 'avbryt') */
.link--edit:not(.btn) {
  padding: 1.2rem 0 1.2rem 2rem;
}
/* this is added to edit link via js */
.link--edit--hidden {
  height: auto;
  
  &::after {
  content: none;
  }
}

.link--edit.click-here::after {
  position: static;
}

.link--add, .link--trash, .link-prototype {
  
  &--hidden {
    display: none;
  }
}

.link--to-dashboard {
  margin-left: .5rem;
}