.link--back {
  text-decoration: none;
  
  &:before {
    margin-right: .5rem;
    content: "\e908";
    font-family: 'minside-icons';
  }
}

.link--edit {
  padding: 1.2rem 2rem;
  height: 49px;
  transition-property: none;

  &:after {
    content: "\e91c";
    font-family: 'minside-icons';
  }
  
  &--hidden {
    height: auto;
    
    &::after {
    content: none;
    }
  }
}

.link--trash {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--slate-gray);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
  
  &:after {
    content: "\e91d";
    font-family: 'minside-icons';
    margin-left: .5rem;
  }
  
  &--hidden {
    display: none;
  }
}

.link--add {
  
  &--hidden {
    display: none;
  }
}