.table__cell--action {
  order: 1!important;
  flex: 1;
  align-self: flex-end;
  margin-top: -3rem;
  position: relative;
  top: -.25rem;
  text-align: right;
  @media (--tablet) {
    margin-top: 0;
    top: .25rem;
  }
  a {
    color: inherit;
  }
}

.table__cell--file-upload {
  order: 2;
}