.table-sort {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  
  &--asc:after,
  &--desc:after,
  &--null::after {
    content: '';
    margin-left: .25rem;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 1px;
  }
  
  &--desc:after {
    background-image: url(img/table-sort--desc.svg);

  }
  
  &--asc:after {
    background-image: url(img/table-sort--asc.svg);

  }
  
  &--null::after {
    background-image: url(img/table-sort.svg);

  }
}