.table__cell--action {
  order: 1!important;
  flex: 1;
  align-self: flex-end;
  margin-top: -3rem;
  position: relative;
  top: -.25rem;
  text-align: right;
  @media (--tablet) {
    margin-top: 0;
    top: .25rem;
  }
  a {
    color: inherit;
  }
}

.table__cell--file-upload {
  order: 2;
}

/* Table cell containing up / down arrows for reordering tracks */
.table__cell--move {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  
  @media (--desktop) {
    position: relative;
  }
  
  & > *:first-child {
    position: absolute;
    top: 1.2rem;
    left: .5rem;
    font-size: 1.6rem;
    @media (--desktop) {
      left: -5rem;
      top: calc(50% - .75rem);
    }
  }

  & > *:last-child {
    position: absolute;
    bottom: 1rem;
    left: .5rem;
    font-size: 1.6rem;
    @media (--desktop) {
      left: -3rem;
      top: calc(50% - .5rem);
    }
  }
}

/* Table cell trash can button for deleting tracks */
.table__cell--trash {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  @media (--desktop) {
    right: auto;
    top: auto;
    position: relative;
  }
  
  & > * {
    position: absolute;
    @media (--desktop) { 
      right: -3rem;
      top: calc(50% - 1rem);
    }
  }
}
/* Make release title larger and take up 100% width */
.table__cell--title {
  font-size: 2rem;
  flex: 1 0 100%;
  
  @media (--desktop) {
    font-size: inherit;
  }
}
 /* Don't show data-label attribute or ':' for these cells */
.table__cell--title,
.table__cell--move,
.table__cell--trash {
  &:before {
    content: none;
  }
}