.toolbar {
  background: var(--table-head-background);
  border: 1px solid var(--table-border-color);
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  display: block;
}