.toolbar {
  background: var(--table-head-background);
  border: 1px solid var(--table-border-color);
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  display: block;
  
  &--in-tabs {
    border-width: 1px 1px 0 1px;
    padding-top: 1.2rem;
    margin: 0 -1rem;
    @media (--desktop) { margin: 0;}
  }
}