/* Toggle sidebar */

.toggle-sidebar a::before {
  content: "\e921";
  font-family: 'icomoon';
  font-size: 1.8rem;
}

.toggle-sidebar.open a::before {
  content: "\e901";
  font-family: 'icomoon';
  font-size: 1.2rem;
}

.heading--space-below {
  border-bottom: 1px solid #ddd;
  padding-bottom: .6rem;
}

.row--spaced {
  padding-bottom: .6rem;
  margin-bottom: .6rem;
  border-bottom: 1px dashed #ddd;
}