.btn--download {
  padding: .5rem 0;
  
  font-weight: var(--thin);
  text-transform: none;

  margin-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  display: inline-block;
  background-image: url("/assets/img/download.svg");
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
}

.download-title {
  display: none;
}

@media (--tablet) {
  .btn--download {
    padding-right: 3.5rem;
    padding-left: 1rem;
  }
  .download-icon {
    margin-top: 0rem;
    padding: 0;
  }
  .download-title {
    display: inline;
  }
}