.fake-table__row--child {
  @extend .row;
  border: 0;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;

  & > div {
    display: block;
    cursor: default;
  }

  &:nth-child(odd) {
    background: var(--row-hover);

    &:hover {
      background: var(--row-hover)!important;
    }
  }
  
  & > .fake-table__row > div[class*="col-"]:first-child {
    padding-left: 3rem;
  }
  
  &__header {
    margin: 1rem 0 0 2rem;
  }
}

.fake-table__row--expanded > .fake-table__row--child {
  display: flex!important;

  &:hover {
    background: var(--gramo-white);
  }
}


