.fake-table__row--child {
  @extend .row;
  border: 0;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;

  & > div {
    display: block;
    cursor: default;

    span {
      font-weight: 300;
      margin-right: .5rem;
    }
  }

  &:nth-child(odd) {
    background: var(--row-hover);

    &:hover {
      background: var(--row-hover)!important;
    }
  }
}

.fake-table__row--expanded > .fake-table__row--child {
  display: flex!important;

  &:hover {
    background: var(--gramo-white);
  }
}

.fake-table__row--child--level-1,
.fake-table__row--child--level-2 {
  width: 100%;
  padding: 0 1rem;
  
  & > .fake-table__row {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  
  
  
  div[class*="col-"]:first-child {
    padding-left: 3rem;
  }
  
  .fake-table__row--expanded > .fake-table__toggle-container {
    border-bottom: 0;
  }
}

.fake-table__row--child--level-1 {
  
  .fake-table__row--expanded {
    background: color(var(--x-light-gray) shade(2%));  
  }
}

.fake-table__row--child--level-2 {
  
  & > .fake-table__row {
    background: color(var(--x-light-gray) tint(5%));
  }
  
  & > .fake-table__row div[class*="col-"]:first-child {
    padding-left: 5rem;
  }
  
  & > .fake-table__row:last-child {
    margin-bottom: 0;
  }
}

.fake-table__row--expanded > .fake-table__row--child--with-rows {
  display: block!important;
}
