/*** Fade in ***/
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.flash-message-wrapper {
  overflow: hidden;
  display: flex;  
  margin: 0;
  transition: all .25s ease;
  @media (--desktop) { 
    top: 0;
    left: 20rem;
    right: 0;
    z-index: 6;
    position: fixed; 
  }

  &--full-width {
    left: 0;
    top: 19rem;
  }
  
  &--static {
    position: static;
  }
}

.pull .flash-message-wrapper {
  left: 0;
}

.flash-message {
  text-align: center;
  background: var(--info);
  color: var(--gramo-white);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 3.2rem;
  animation: fadeIn ease 1s;
  padding: .4rem 0;
  min-height: 3.2rem;
  flex: 1 0 100%;
  @media (--desktop) {
    margin-top: 0;
  }

  &.exiting {
    animation: fadeOut ease 1s;
  }

  p {
    margin: 0;
    /*padding: 1.2rem 3rem;*/
    display: inline-block;
  }

  a {
    color: var(--gramo-white);
  }

  .btn {
    background: color(var(--info) shade(25%));
    text-transform: uppercase;
    padding: .15rem 1rem;
    margin: 0 0 0 .5rem;
    @media (--desktop) { margin: 0 1rem; }
  }
}

.flash-message--error {
  background: var(--error);

  .btn {
    background: color(var(--error) shade(25%));
  }
}

.flash-message--success {
  background: var(--success);

  .btn {
    background: color(var(--success) shade(25%));
  }
}

/* Ingen filer er lest inn i perioden message */
.message {
  clear: both;
  margin: 2rem;
  font-style: italic;
  color: var(--off-gray);
}
