/* Form fields for right aligned labels and inline inputs */
.form__field {
  margin-bottom: .4rem;

  /*&:last-child {
    margin-bottom: 0;
  }*/

  & > *,
  .form__label > span,
  .form__field__text,
  &__action {
    @media (--tablet) {
      display: inline-block;
    }
  }

  .form__field__text {
    font-weight: var(--semibold);
  }

  /*.form__label:first-child > span,*/
  & > *:first-child span,
  .form__field__text {
    width: 132px;
    text-align: right;
    padding-right: 1rem;

    &--double {
      vertical-align: middle;
    }
  }

  /* override for second span when dynamically inserted */
  span.normal-width {
    width: auto;
    text-align: left;
    padding-right: 0;
  }

  .form__label,
  &__action {
    vertical-align: top;
  }

  &__action {
    padding-top: .6rem;
    margin-right: .5rem;
  }

  .form__label--required {
    &:before {
      content: none;
    }

    & > span::before {
      @extend .form__label--required:before;
    }
  }


  &__suggestion {
    margin-right: 1rem;
    position: relative;
    top: .5rem;
  }
}

/* Make error messages line up with inputs */
.form__field > *:first-child {
  .form__input__errors > p,
  p.error--form-field {
    @media (--tablet) {
      margin-left: 136px
    }
  }
}

.form__field {
  .form__input__errors > p,
  p.error--form-field {
    color: var(--off-gray);
    font-style: italic;
    margin-bottom: .5rem;
    @media (--tablet) {
      max-width: 200px; /* changed from 100px */
    }
  }
}

.form__field--for-stepper {
  .form__input__errors > p {
    max-width: 100px;
  }
}

/* Make help text line up with inputs */
.form__field__help,
.form__field__add {
  @media (--tablet) {
    margin-left: 136px
  }
}

.form__field__add {
  display: block;
}

.form__field > .form__field__add {
  margin-top: .6rem;
}

/* Form field with table */
.form__field--with-table {
  margin-top: 2rem;
  
  & > .form__label {
    display: flex;
    
    & > span {
      margin-top: 1.5rem;
    }
    
    .table {
      font-weight: var(--normal);
    }
  }
}

/* displays second label directly under first when there isn't room to show them side by side */
.form__field .form__input--has-break {
  margin: 0;

  @media(--hd) {
    margin: 3px 0 0 135px;
  }
}

.form__field--with-radio-group {
  & > label > span {
    margin-top: .75rem;
  }
}

.form__field--with-toggles {
  display: flex;
  align-items: center;
  max-width: 500px;
  
  & > *:first-child {
    flex: 1;
  }
  
  .x-toggle-container {
    align-self: flex-start;
    margin-top: .25rem;
  }
}

/* Form fieldset for duration */

.form__fieldset--for-duration {
  border: 0;
  padding: 0;
  
  legend {
    width: 136px;
    float: left;
    font-weight: 600;
    text-align: right;
    padding-right: 1rem;
    margin-top: .6rem;
  }
  
  .form__label:not(:first-child) span {
    display: none;
  }
}
