.searchable-list {
  display: inline-block;
  position: relative;
  background-color: var(--gramo-white);
  border-radius: 2px;
  border: 1px solid var(--silver);
  text-align: left;
  padding: 0 0.25rem;
  vertical-align: middle;

  &--fluid {
    min-width: 0;
  }

  &__heading {
    position: relative;
    height: 30px;
    padding: 7px 23px 7px 5px;
    cursor: pointer;
    min-width: 100px;
    white-space: nowrap;

    &:before {
      content: '';
      background-image: url("img/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 12px;
      position: absolute;
      height: 20px;
      width: 12px;
      right: 7px;
    }
  }

  &--open {
    .searchable-list__heading:before {
      transform: rotate(180deg);
    }

    .searchable-list__dropdown {
      display: block;
    }
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: color(var(--x-light-gray) shade(7%));

    .searchable-list__heading {
      cursor: not-allowed;
    }

    .searchable-list__heading:before {
      background-image: none;
    }
  }

  &__dropdown {
    position: absolute;
    /*width: 100%;*/ /* Let the dropdown be as wide as it's longest child */
    left: 0;
    display: none;
    background-color: var(--gramo-white);
    border-radius: 2px;
    border: 1px solid var(--silver);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;

    .searchable-list__search {
      background: url("img/search.svg") right 0.5rem center no-repeat;
      background-size: 1.8rem;
      width: 96%;
      margin: 0.5rem auto;

      &--dirty {
        background-image: none;
      }
    }
  }

  &__dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow: auto;
    font-weight: var(--normal);

    li.searchable-list__option {
      padding: 5px;
      white-space: nowrap;

      &--active, &:hover {
        color: var(--gramo-white);
        background-color: var(--gramo-blue);
        cursor: pointer;
      }
    }
  }

  /*** Below search list for search results e.g. discography search in manual matching ***/
  &--below-search {
    border: 0;
    padding: 0;
    display: block;

    .searchable-list__dropdown {
      border-top: 0;
      width: 100%;
    }
  }

  &__delete {
    color: var(--off-gray);
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -1rem;
    font-size: 110%;
  }
}

.searchable-list--in-form-field {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border: 0;
  @media (--tablet) {
    width: calc(100% - 140px);
    left: 137px;
  }
}
