/*** Table summary ***/
.table-summary {
  min-width: 0;
  width: 100%;

  &__heading {
    color: var(--slate-gray);
    font-weight: var(--semibold);
    font-size: 1.6rem;
    margin: 0;
  }

  & > tbody:before {
    content: none;
    }

  tr:first-child {
    border-top: 0;
  }
  
  th:first-child {
    padding-left: .75rem;
  }
}

.table-summary__cell {
  padding-top: 2rem;

  b {
    font-size: 2.2rem;
    font-weight: var(--thin);
  }

  span {
    display: block;
    color: var(--gramo-black)!important;
  }
}

.table-summary__row--current {

  .table-summary__cell {

    b {
      font-size: 2.8rem;
    }

    &--sum b {
      font-size: 4.2rem;
    }
  }
}

.summary {
  @extend .col-md;
  max-width: 600px;
  margin: 2rem auto;
}

.summary__header {
  margin: 2rem 0;
  text-align: center;
  
  h2 {
    font-weight: var(--thin);
  }
}

.summary__footer {
  margin: 2rem 0;
  text-align: center;
}

.summary__row {
  @extend .row;
  padding: 1rem 0;
  background: var(--gramo-white);
  
  &:nth-child(odd):not(.summary__header):not(.summary__footer) {
    background: var(--x-light-gray);
  }
  
  div:first-child {
    @extend .col-sm-4;
    text-align: right;
    font-weight: var(--semibold);
  }
  
  div:last-child {
    @extend .col-sm-8;
  }
  
  span {
    @extend .text--light;
    margin-left: 1rem;
  }
}

.summary__row--header {
  border-bottom: 1px solid var(--light-gray);
  font-size: 110%;
  margin-bottom: 1rem;
}

.summary__row--footer {
  border-top: 1px solid var(--light-gray);
  font-size: 110%;
  margin-top: 1rem;
}
