/*** Table head widths ***/
.table__head--small {
  @media (--desktop) { width: 8%; }
}

.table__head--medium {
  @media (--desktop) { width: 15%; }
}

.table__head--large {
  @media (--desktop) { width: 25%; }
}

.table__head--xlarge {
  @media (--desktop) { width: 30%; }
}

.table__head--always-visible {
  border-bottom: 0;
}

.table__head th {
  white-space: nowrap;
}

.table__head {
  .select, .form__input {
    height: auto;
    padding: .25rem 2rem .25rem .5rem;
  }
  .x-toggle-btn {
    vertical-align: bottom;
  }
}

.table__head .select {
  max-width: 100px;
}
