/***Drilldown plugin styles***/
.table {
  
  tr[data-level="1"].dd-open .table-row-toggle {
    transform: rotate(90deg);
  }
  
  tr[data-level="1"].dd-open {
    background: var(--table-head-background);
  }
  
  .dd-open, .dd-close {
    cursor: pointer;
  }
  
  tr[data-level="2"] {
    background: color(var(--table-head-background) tint(50%));
  }
  
  tr[data-level="2"] > td:first-child {
    @media (--tablet) { padding-left: 4rem; }
  }
  
  tr[data-level="2"].drilldown-toggle > td:first-child::before,
  tr[data-level="2"].drilldown-toggle.dd-close > td:first-child::before {
    content: '+';
    margin-right: .25rem;
  }
  
  tr[data-level="2"].dd-open > td:first-child::before {
    content: '-';
    margin-right: .5rem;
  }
  
  tr[data-level="3"] > td:first-child {
    @media (--tablet) { padding-left: 7rem; }
  }
}