.table__head--expandable {
  
  tr {
    background: var(--row-hover);
  }
  
  .table-row-toggle {
    margin-right: 0;
  }
  
  & + tbody {
  display: none;
  }
}

.table__head--expanded {
  & + tbody {
    display: table-row-group;
    
    & > tr > td:first-child {
      padding-left: 4rem;
    }
    
    & > tr:nth-child(odd) {
      background: var(--row-hover);
    }
  }
  
  .table-row-toggle {
    transform: rotate(90deg);
  }
}

/***Drilldown plugin styles***/
.table {
  
  .dd--is-hidden {
    display: none;
  }
  
  tr[data-level="1"].dd-open .table-row-toggle {
    transform: rotate(90deg);
  }
  
  tr[data-level="1"].dd-open {
    background: var(--table-head-background);
  }
  
  tr[data-level="2"] > td {
    vertical-align: top;
  }
  
  tr[data-level="2"] > td:first-child {
    padding-left: 4rem;
  }
  
  tr[data-level="2"].dd-close > td:first-child::before {
    content: '+';
    margin-right: .25rem;
  }
  
  tr[data-level="2"].dd-open > td:first-child::before {
    content: '-';
    margin-right: .25rem;
  }
  
  tr[data-level="3"] > td:first-child {
    padding-left: 7rem;
  }
}