/*** Editable rows  ***/
.table__row--is-editing,
.table__row--expanded {
  background: var(--row-hover);
}

/*** Error rows in table - validering ***/
.table__row--has-errors {
  background: color(var(--error) tint(90%))!important;

  td {
   padding: 0 0 0 1rem;
   border: 0;
   height: auto;

   p {
     margin: 1rem 0;
   }

    p::before {
      content: '-';
    }
  }
}

.table__row--summary {
  background: color(var(--x-light-gray) shade(2%));
  font-weight: bold;
}

/*** Error rows in table - data error marking ***/

.table__row--with-errors {
  box-shadow: 5px 0px 0px var(--error) inset;
  
  i {
    color: var(--error);
  }
}

/*** Disabled rows in table ***/
.table__row--disabled td {
  background: var(--x-light-gray);
  color: var(--silver);
  cursor: not-allowed;
}

/*** New rows in tables ***/
.table__row--new td:first-child {
  position: relative;

  &:before {
    content: "\e90a";
    font-family: 'icomoon';
    font-size: 1.6rem;
    background: var(--gramo-turkis);
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    @media (--desktop) { left: -1rem; }
    border-radius: 2rem;
    color: var(--gramo-white);
    text-align: center;
    margin-top: 0.1rem;
  }
}

/*** Heading row - a row without background or borders ***/
.table__row--heading {
  background: var(--x-light-gray);
  border-top: 0!important;

  td {
    padding: .5rem 2rem;
  }

  & > td:first-child,
  & > td:last-child {
    border-left: 0;
    border-right: 0;
  }

  &__title {
    font-weight: var(--bold);
    color: #fff;
    margin: 0.5rem 0;
    font-size: 2.8rem;
    text-align: center;
    @media (--desktop) {
      text-align: left;
      font-size: 1.5rem;
      margin: 1rem 0 0 0;
      color: var(--slate-gray);
    }
  }
}

.table__row--multiline > td {
  vertical-align: top;
}

/* Create empty row style for empty state component in search results */
.table__row--empty, .table__row--empty:hover {
  background: none;
  
  & > td:first-child {
    padding-left: 1rem!important;
  }
  
  & > td, & > td:first-child, & > td:last-child {
    border: 0;

    &:first-child:before {
      content: none;
    }
  }
}