.toggle-sidebar {

  a {
    display: inline-block;
    height: 3rem;
    width: 8rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--slate-gray);
    top: -.1rem;
    left: 1rem;

    &::before {
      content: "\e914";
      font-family: 'icomoon';
      font-size: 2.4rem;
      position: relative;

    }

    &::after {
      content: 'menu';
      position: relative;
      left: .5rem;
      top: -0.5rem;
    }
  }

  &.open {

    a {
      color: #fff;
      margin-left: -7rem;
      top: .5rem;
    }

    a::before {
      content: "\e907";
      font-family: 'icomoon';
      font-size: 1.5rem;
    }

    a::after {
      content: 'lukk';
      top: -0.2rem;
    }
  }
}
