.vertical__nav {
  @extend %no-list;
  background: var(--sidebar-menu-bg);

  &__item {
    text-transform: uppercase;
    margin: 0;

    a {
      position: relative;
      padding: 0.8rem 3rem;
      color: var(--sidebar-menu-color);
      text-decoration: none;
      display: block;
      border-bottom: 1px solid var(--sidebar-menu-bg);
      background: color(var(--sidebar-menu-bg) shade(15%));
      
      &.active,
      &:hover {
        color: var(--gramo-turkis);
      }
    }

    &--has-children > a::before {
      @extend .icon--chevron-right:before;
      font-family: 'icomoon';
      font-size: 1rem;
      position: absolute;
      left: 1.5rem;
      padding-top: .25rem;
    }

    &--is-expanded > a {


      &::before {
        @extend .icon--chevron-down:before;
        transform: rotate(90deg);
      }
    }
  }

  &--sub {
    display: none;

    &__item {
      text-transform: none;

      a {
        background: none;
        border-bottom: 1px solid color(var(--sidebar-menu-bg) shade(15%));
      }

      a:hover {
        background: color(var(--sidebar-menu-bg) shade(15%));;
      }

      &--active a, a:hover {
        color: var(--gramo-turkis);
      }
      a.active,
      a:hover {
        color: var(--gramo-turkis);
      }
    }
  }
  /*** Make sub nav visible when parent is expanded ***/
  .vertical__nav__item--is-expanded > .vertical__nav--sub {
    display: block;
  }
}
