@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ours4z');
	src:url('fonts/icomoon.eot?ours4z#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ours4z') format('truetype'),
		url('fonts/icomoon.woff?ours4z') format('woff'),
		url('fonts/icomoon.svg?ours4z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--checkmark:before {
	content: "\e900";
  color: $gramo-green;
}
.icon--cross:before {
	content: "\e901";
  color: $gramo-red;
}
.icon--expand-arrow:before {
	content: "\e902";
  color: $light-gray;
}

.icon--link-arrow:before {
	content: "\e902";
  color: $gramo-blue;
  font-size: 0.6rem;
}

.icon--pagination-next:before {
	content: "\e902";
  color: $gramo-blue;
  font-size: 0.6rem;
}

.icon--pagination-previous:before {
	content: "\e903";
  color: $gramo-blue;
  font-size: 0.6rem;
}
