.site-wrapper {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

main {
  flex: 1 0 100%;
  transform: translateX(-12rem);
  transition: .25s ease;
  @include respond-to(desktop) {
    transform: translateX(0);
    flex: 1;
  }
  &.push {
    transform: translateX(0);
  }
}

.container {
  padding: 0 0.5rem;
  margin: 0 auto;

  &--hd {
    max-width: $container-hd
  }

  &--desktop {
    max-width: $container-desktop;
  }

  &--tablet {
    max-width: $container-tablet;
  }

  &--mobile {
    max-width: $container-mobile;
  }

  &--branded {
    @include bg-svg("/img/logo-echo.svg", "/img/logo-echo.png", 50%, 1rem);
    background-size: 5rem;
    padding-top: 7rem;

    h2 {
      font-weight: $font-300;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

//Temporary styling to highlight grid
.container.grid-test > .row {
  border: 1px solid #fff;
  border-width: 0 0 1px 0;
}

.container.grid-test > .row > * {
  background: lighten($gramo-turkis, 20%);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:nth-child(odd) {
    background: lighten($gramo-turkis, 25%);
  }
}
