%global-shadow {
  box-shadow: 0 1px 3px rgba($gramo-gray, 0.3);
}

%border-success {
  // border-left: 4px solid $gramo-green;
  box-shadow: 4px 0px 0px $gramo-green inset;
}

%border-danger {
  // border-left: 4px solid $gramo-red;
  box-shadow: 4px 0px 0px $gramo-red inset;
}
