.btn {
  margin-bottom: 1.25rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0;
  border-width: 0 0 3px 0;
  border-style: solid;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;

  /* TODO: replace min-width value with custom property (var) */
  @media (min-width: 740px) {
    display: inline-block;
  }

  &:hover {
     transition: 0.5s ease;
  }

  &--primary {
    border-color: color(var(--gramo-turkis) shade(10%));
    background-color: var(--gramo-turkis);
    color: #FFF;
  }

  &--primary:hover {
     background-color: color(var(--gramo-turkis) shade(6%));
  }

  &--info {
    border-color: color(var(--gramo-blue) shade(10%));
    background-color: var(--gramo-blue);
  }

  &--info:hover {
     background-color: color(var(--gramo-blue) shade(6%));
  }

  &--success {
    border-color: color(var(--gramo-green) shade(10%));
    background-color: var(--gramo-green);
  }

  &--success:hover {
     background-color: color(var(--gramo-green) shade(6%));
  }

  &--danger {
    border-color: color(var(--gramo-red) shade(10%));
    background-color: var(--gramo-red);
  }

  &--danger:hover {
     background-color: color(var(--gramo-red) shade(6%));
  }
}
