.btn {
    padding: 0.6rem 1.5rem;
    font-weight: $font-400;

    &--primary {
      @include btn($gramo-turkis);
    }

    &--info {
      @include btn($gramo-blue);
    }

    &--danger {
      @include btn($gramo-red);
    }

    &--success {
      @include btn($gramo-green);
    }

    &--large {
      padding: 0.8rem 2rem;
      font-size: 1.2rem;
    }

    &--medium {
      @include respond-to(tablet) {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
      }
    }

    &--small {
      @include respond-to(tablet) {
        padding: 0.25rem 0.75rem;
        font-size: 0.8rem;
      }
    }
}
