.container--login {
  @include bg-svg("img/logo-echo.svg", "img/logo-echo.png", 50%, 1rem);
  background-size: 5rem;
  padding-top: 7rem;

  h2 {
    font-weight: $font-300;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.login {
  background: #fff;
  @extend %global-shadow;
  @extend .col-xs;
  @extend .col-sm-6;
  @extend .col-md-5;
  @extend .col-lg-3;
  margin: auto;
  padding: 2rem;
  @include respond-to(desktop) { padding: 3rem; }
}
