.pagination {
  @extend .row;
  justify-content: center;
  @include respond-to(tablet) { justify-content: flex-end; }
  list-style: none;
  padding: 0 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.pagination .pagination__item {
  display: none;
  font-size: 0.8rem;
  background: #fff;
  border: 1px solid rgba($light-gray, 0.5);
  border-width: 1px 1px 0 1px;
  box-shadow: 0px 4px 0 rgba($gramo-blue, 1);
  text-align: center;
  @include respond-to(tablet) { display: inline-block; }

  a {
    text-decoration: none;
    padding: 0.7rem;
    line-height: 1rem;
    min-width: 0.8rem;
    display: inline-block;

    &:hover {
      background: lighten($gramo-blue, 50%);
    }
  }

  &--previous,
  &--next {
    display: inline-block;
  }

  &--current {
    background: $gramo-blue;

    a {
      color: #fff;

      &:hover {
        background: none;
      }
    }
  }
}
