.sidebar {
  flex: 0 0 12rem;
  transform: translateX(-12rem);
  transition: .25s ease;
  @include respond-to(desktop) {
    transform: none;
  }

  &--isOpen {
    transform: translateX(0);
  }

  &__content {
    position: fixed;
    width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $gramo-ui-bg;
  }

  &__header {
    text-align: center;
    flex: 0 0 auto;
  }
  &__header__title {
    color: $light-gray;
    margin-top: 2rem;
    font-size: 5rem;
  }

  .sidebar__nav {
    flex: 1;
  }
}
