.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  thead {
    box-shadow: 0 0 1px rgba(black, 0.3);
    background: darken($base-background-color, 5%);

    th.date-picker {
      width: 20%;

      input {
        margin-left: 1rem;
      }
    }
  }

  &__head--channel {
    width: 5%;
  }

  &__head--date {
    width: 10%;
  }

  &__head--program {
    width: 15%;
  }

  &__head--from,
  &__head--to {
    width: 10%;
  }


  tbody:not(.broadcaster) {

    &::before {
      content: '';
      display: block;;
      height: 2rem;
    }

    tr {
      background: #fff;
    }

    tr:first-child {
      border-top: 1px solid $table-border-color;
    }

    tr > td:first-child {
      border-left: 1px solid $table-border-color;
    }

    tr > td:last-child {
      border-right: 1px solid $table-border-color;

      span {
        color: $mid-gray;
      }
    }
  }

/*** Broadcaster ***/

  .broadcaster {

    & + tbody::before {
      content: none;
    }

    td {
      padding: 0.3rem 1rem;
    }

    &__title {
      font-weight: $font-700;
      color: $gramo-gray;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }

  /*** Expanded rows ***/

  &__row--expanded {

    &:nth-child(even) td {
      background: lighten($table-border-color, 5%);
      border-bottom: 0;
    }

    td {
      padding: 0.5rem 1rem;
    }
  }
}

  /*** Make table responsive - not mobile first in this case! ***/

.table--detail {

  @media
  only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
      /* Force table to not be like tables anymore */
    	table, thead, tbody, th, td, tr {
    		display: block;
    	}

    	/* Hide table headers (but not display: none;, for accessibility) */
    	thead tr {
    		position: absolute;
    		top: -9999px;
    		left: -9999px;
    	}


      tr:nth-child(odd) td {
        background: lighten($table-border-color, 5%);
      }

      tr.table__row--expanded {
        border-bottom: 1px solid $table-border-color;
      }

      tr.table__row--expanded td {
        background: #fff;
        border: 0;

        &:first-child {
          border-left: 0!important;
        }
        &:last-child {
          border-right: 0!important;
        }
      }

    	td {
    		/* Behave  like a "row" */
    		border: none;
    		border-bottom: 1px solid #eee;
    		position: relative;
    		padding-left: 50%;
    	}

    	td:before {
    		/* Now like a table header */
    		position: absolute;
    		/* Top/left values mimic padding */
    		top: 1rem;
    		left: 1rem;
    		width: 45%;
    		padding-right: 1rem;
    		white-space: nowrap;
        font-weight: $font-700;
    	}

      tr.table__row--expanded td::before {
        top: 0.5rem;
      }

    	/*
    	Label the data
    	*/
      td:nth-of-type(1):before { content: ""; }
    	td:nth-of-type(2):before { content: "Dato"; }
    	td:nth-of-type(3):before { content: "Program"; }
    	td:nth-of-type(4):before { content: "Fra"; }
    	td:nth-of-type(5):before { content: "Til"; }
    	td:nth-of-type(6):before { content: "Avvik"; }

      tr.table__row--expanded td:nth-of-type(1):before { content: ""; }
      tr.table__row--expanded td:nth-of-type(2):before { content: ""; }
      tr.table__row--expanded td:nth-of-type(3):before { content: ""; }
  }
}
