.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  th, td {
    white-space: normal;
    @include respond-to(desktop) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  thead {
    border: 1px solid $table-border-color;
    background: lighten($table-border-color, 7%);

    th.date-picker {
      text-align: center;
      @include respond-to(tablet) { width: 30%; }
      @include respond-to(desktop) { width: 25%; }
      @include respond-to(hd) { width: 20%; }
    }
  }

  &__head--channel {
    width: 6%;
  }

  &__head--date {
    width: 8%;
  }

  &__head--program {
    width: 11%;
  }

  &__head--deviation {
    width: 15%;
  }

  &__head--from,
  &__head--to {
    width: 5%;
  }

  &__head--id {
    width: 17%;
  }

  //remove white space property on Avvik
  tr > td:nth-child(4) > span {
    white-space: normal;
    color: $mid-gray;
  }


  tbody:not(.broadcaster) {

    &::before {
      content: '';
      display: block;;
      height: 2rem;
    }

    tr {
      background: #fff;
    }

    tr:first-child {
      border-top: 1px solid $table-border-color;
    }

    tr > td:first-child {
      border-left: 1px solid $table-border-color;
      font-weight: $font-700;
    }

    tr > td:last-child {
      border-right: 1px solid $table-border-color;

      span {
        color: $mid-gray;
      }
    }
  }

/*** Broadcaster ***/

  .broadcaster {

    & + tbody::before {
      content: none;
    }

     tr > td {
      padding: 0.3rem 1rem;
    }

    &__title {
      font-weight: $font-700;
      color: #fff;
      margin: 0.5rem 0;
      font-size: 2.2rem;
      text-align: center;
      @include respond-to(tablet) { text-align: left; font-size: 1.2rem; margin: 1rem 0 0 0; color: $gramo-gray; }
    }
  }

  /*** Expanded rows / comment rows ***/

  &__row--expanded,
  &__row--comment {

    &:nth-child(odd) td {
      background: lighten($table-border-color, 8%);
    }
  }
}

  /*** Make table responsive - not mobile first in this case! ***/

@media
only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

  .table {
    /* Force table to not be like tables anymore */
  	table, thead, tbody, th, td, tr {
  		display: block;
  	}

    thead {
      display: none;
    }

    .broadcaster {
      tr > td {
        background: $gramo-gray!important;
        border-bottom: 0;
      }
    }
    tr td:first-child {
      border-left: 0!important;
      background: $table-border-color;
    }
    tr td:last-child {
      border-right: 0!important;
    }
  }
}
