.vertical__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;

  &__item {
    text-transform: uppercase;
    margin: 0;

    a {
      padding: 0.4rem 2rem;
      color: $sidebar-menu-color;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid darken($sidebar-menu-bg, 5%);
    }

    &--isExpanded > a {
      background: darken($sidebar-menu-bg, 5%);
      position: relative;

      &::before {
        @extend .icon--expand-arrow:before;
        font-family: 'icomoon';
        font-size: 0.6rem;
        transform: rotate(90deg);
        position: absolute;
        left: 1.1rem;
      }
    }
  }

  &--sub {

    &__item {
      text-transform: none;

      a:hover {
        background: darken($sidebar-menu-bg, 5%);;
      }

      a.active, a:hover {
        color: $gramo-turkis;
      }
      a.active,
      a:hover {
        color: $gramo-turkis;
      }
    }
  }
}
