.fake-table {
  margin: 0;
  font-size: 1.4rem;
  @extend .container;
  min-width: 100%;
}

.fake-table--scrollable {

  @media (--hd) {
    height: 50vh;
    overflow-y: auto;
  }
}

.fake-table--with-tabs {
  .fake-table__row--expanded,
  .fake-table__row--expanded:hover {
    background: var(--table-head-background);
  }
}

/*** Containers for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/

.fake-table__wrapper--sidebar {
  @extend .col-md;
  padding: 0;
}

.fake-table__wrapper--sidebar,
.fake-table__wrapper--main {
  .fake-table__row {

    div[class*="col-"]:first-child,
    div[class*="col-"]:last-child {
      justify-content: center;
    }
  }
}

.fake-table__wrapper--main {
  @extend .col-xs-12;
  @extend .col-md-8;
  padding: 0;
  @media (--hd) { padding-left: 2rem; }
}

/*** Toolbar ***/

.fake-table__toolbar {
  background: var(--table-head-background);
  border: 1px solid var(--table-border-color);
  border-width: 1px 1px 0 1px;
  border-radius: 2px 2px 0 0;
}

.toolbar__above,
.toolbar__below {
  padding: 1rem 0;

  & > div[class*="col-"] {
    display: block;
  }
}

.toolbar__below {
  background: var(--gramo-white);
  padding-bottom: 0;
  border-bottom: 1px solid var(--table-border-color);
}

.filter-items {
  font-size: 80%;
  @extend %no-list;

  &__remove {
    font-size: 55%;
    text-decoration: none;

    &:before {
      content: '';
      margin: 0 1rem 0 .5rem;
      border-left: 1px solid var(--silver);
    }
  }
}

/*** Infobar ***/

.fake-table__infobar {
  border: 1px solid var(--table-border-color);
  border-left: 6px solid var(--gramo-blue);
  background: var(--gramo-white);
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__heading {
    margin: 0;
  }
}
