.fake-table {
  margin: 0;
  font-size: 1.4rem;
  @extend .container;
  min-width: 100%;
}

.fake-table--scrollable {

  @media (--hd) {
    height: 50vh;
    overflow-y: auto;
  }
}

.fake-table--with-tabs {
  .fake-table__row--expanded,
  .fake-table__row--expanded:hover {
    background: var(--table-head-background);
  }
}

/*** Containers for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/

.fake-table__wrapper--sidebar {
  @extend .col-md;
  padding: 0;
}

.fake-table__wrapper--sidebar,
.fake-table__wrapper--main {
  .fake-table__row {

    div[class*="col-"]:first-child,
    div[class*="col-"]:last-child {
      justify-content: center;
    }
  }
}

.fake-table__wrapper--main {
  @extend .col-xs-12;
  @extend .col-md-8;
  padding: 0;
  @media (--hd) { padding-left: 2rem; }
}

/*** Toolbar ***/

.fake-table__toolbar {
  background: var(--table-head-background);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*** Infobar ***/

.fake-table__infobar {
  background: var(--gramo-blue);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  & > .row {

    div[class*="col-"]:last-child {
      justify-content: center;
    }
  }
}
