.fake-table {
  margin: 0;
  font-size: 1.4rem;
  @extend .container;
  min-width: 100%;

  &--detached {
    margin-top: 2rem;
  }
}

.fake-table--scrollable {

  @media (--hd) {
    height: calc(100vh - 21rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* Numeric fake table */
.fake-table--numeric {
  counter-reset: section; /* Creates a new instance of the section counter with each ol element */
  list-style-type: none;
}

/* Change height of .fake-table--scrollable when toggleable tabs are toggled */
.tabs--toggleable #tab-control:checked ~ .tabs__section > .fake-table--scrollable {
  height: calc(100vh - 28rem);
}

.fake-table--with-tabs {
  .fake-table__row--expanded,
  .fake-table__row--expanded:hover {
    background: var(--table-head-background);
  }
}

/*** Infobar ***/

.fake-table__infobar {
  border-bottom: 1px solid var(--table-border-color);
  background: var(--base-background-color);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @media (--desktop) {
    position: fixed;
    width: inherit;
    z-index: 2;
    width: 615px;

    & + div {
      padding-top: 15rem;
    }
  }

  @media (--hd) {
    width: 935px;
  }

  &--no-border {
    border-bottom: 0;
  }

  &__heading,
  &__count {
    margin: .4rem 0;
  }

  &__meta {
    @extend .text--inline;
    @extend .text--medium;
    @extend .text--light;
    line-height: 130%;
  }

  &__count {
    @extend .h3;
  }
}
