/* Toggle containers - rows that toggle child rows */
.fake-table__toggle-container {
  @extend .container;
  width: 100%;
  cursor: pointer;
  /*padding-top: 1.25rem;
  padding-bottom: 1.25rem;*/ /* REMOVE PADDING TO MAKE FAKE TABLE ROWS THE SAME SIZE WHETHER TOGGLE OR NOT */
}

.fake-table__toggle-row {
  @extend .row;

  /* stop child elements from flexing 100% */
  & > div {
    display: block;
  }

  & > div[class*="col-"] {
    padding: 1.25rem 1rem; /* give cols elements the same padding as in .fake-table__row */
  }
}
