.fake-table__row {
  @extend .row;
  background: var(--gramo-white);
  border: 1px solid var(--table-border-color);
  border-width: 1px 1px 0 1px;
  cursor: pointer;

  &:last-child {
    border-bottom-width: 1px;
  }

  &:hover {
    @media (--tablet) { background: var(--row-hover); }
  }

/* Make link color regular */
  a {
    color: inherit;
  }

/* Give selected rows gray background */
  &--selected,
  &--selected:hover {
    background: var(--table-head-background);
  }

  /* give div elements padding in .fake-table__row */
  & > div[class*="col-"] {
    padding: .75rem 1rem;
  }

  /* Make columns stack on smaller screens */
  div[class*="col-"] {
    width: 100%;
    /*justify-content: center;  vertically center content */
    @media (--tablet) { width: auto; }
  }

  /* data attributes for 'faux-heads' on mobile */
  div[class*="col-"]::before {
    content: attr(data-label);
    display: block;
    color: var(--off-gray);
    text-transform: uppercase;
    margin-top: .5rem;
    @media (--tablet) { content: none; }
  }

  /* fake-table--head */
  &--head {
    background: var(--table-head-background);
    text-align: center;
    font-weight: var(--font-400);
    display: none;
    cursor: default;
    @media (--tablet) { display: flex; }

    &:hover {
      background: var(--table-head-background);
    }

    @media (--tablet) {
      text-align: left;
    }
  }
  /* fake-table__row--foot */
  &--foot {
    border: 0;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 2px;

    &:after {
      content: '';
      height: 10px;
      width: calc(100% + 2px);
      background: var(--base-background-color);
      position: absolute;
      left: -1px;
      bottom: -9px;
      z-index: 2;
      border-top: 1px solid var(--table-border-color);
    }

    &:hover {
      background: var(--gramo-white);
    }

    a {
      color: var(--base-link-color);
    }
  }

  &--subfoot {
    position: relative;
    border: 0;

    & > * {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      height: calc(100% + 1px);
      bottom: -8px;
      left: -1px;
      width: calc(100% + 2px);
      background: var(--base-background-color);
    }
  }

  /* Borderless row */
  &--borderless {
    background: none;
    border-width: 1px 0 0 0;
  }

  /* Extra padding use !important to overide .fake-table__row--child */
  &--padded {
    @media (--hd) { padding: .5rem 2rem!important; }
  }
}

/* Expanded rows */

.fake-table__row--expanded {
  background: var(--table-head-background);

  &:hover {
    background: var(--table-head-background);
  }

  /* Disables the effect of the .fake-table__row--foot:after gap */
  &:last-child .fake-table__row--foot {
    margin-bottom: 0;
    padding-bottom: 2px;
  }

  .fake-table__toggle-container {
    border-bottom: 1px solid var(--table-border-color);
  }

  .table-row-toggle {
    @extend .icon--chevron-down;
  }
}

/* Numeric badges in selected/expanded rows */

.fake-table__row--selected,
.fake-table__row--expanded {

  .badge--numeric {
    color: var(--gramo-white);
    background: var(--slate-gray);
  }
}
