.fake-table__row {
  @extend .row;
  background: var(--gramo-white);
  border: 1px solid var(--table-border-color);
  border-width: 1px;
  margin-bottom: -1px;
  /*cursor: pointer;*/

  &:hover {
    @media (--tablet) { background: var(--row-hover); }
  }

  /* draggable rows */
  &[draggable=true] {
    cursor: grab;

    &:active {
      background: color(var(--row-hover) shade(5%));
    }
  }

/* Make link color regular */
  a {
    color: inherit;
  }

/* Give selected rows gray background */
  &--selected,
  &--selected:hover {
    background: var(--table-head-background);
  }

  & > div[class*="col-"] {
    padding: 1.4rem 1rem; /* give cols elements padding in .fake-table__row -- changed from 1.25rem 1rem */
    min-height: var(--table-row-height);
  }

  div[class*="col-"] {
    width: 100%; /* Make columns stack on smaller screens */
    @media (--tablet) { width: auto; }
  }

  /* data attributes for 'faux-heads' on mobile */
  div[class*="col-"]::before {
    content: attr(data-label);
    display: block;
    color: var(--off-gray);
    text-transform: uppercase;
    /*margin-top: .5rem;*/ /* Remove to make fake-table--numeric numbers align properly on mobile */
    @media (--tablet) { content: none; }
  }

  /* fake-table--head */
  &--head {
    background: var(--table-head-background);
    text-align: center;
    font-weight: var(--semibold);
    display: none;
    cursor: default;
    @media (--tablet) { display: flex; }

    &:hover {
      background: var(--table-head-background);
    }

    @media (--tablet) {
      text-align: left;
    }
  }
  /* fake-table__row--foot */
  &--foot {
    border: 0;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 2px;

    &:after {
      content: '';
      height: 10px;
      width: calc(100% + 2px);
      background: var(--base-background-color);
      position: absolute;
      left: -1px;
      bottom: -16px; /* changed from -14px */
      z-index: 2;
      border-top: 1px solid var(--table-border-color);
    }

    &:hover {
      background: var(--gramo-white);
    }

    a {
      color: var(--base-link-color);
    }
  }

  &--subfoot {
    position: relative;
    border: 0;

    & > * {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      height: calc(100% + 1px);
      bottom: -8px;
      left: -1px;
      width: calc(100% + 2px);
      background: var(--base-background-color);
    }
  }

  /* Borderless row */
  &--borderless {
    /*background: none;*/
    border-width: 1px 0 0 0;
  }

  /* Detached row (needs bottom border) */
  &--detached {
    border-bottom: 1px solid var(--table-border-color);
    margin-bottom: 1rem;
  }

  /* Extra padding use !important to overide .fake-table__row--child */
  &--padded {
    @media (--hd) { padding: .5rem 2rem!important; }
  }

  &--success {
    @extend %border-success;
  }
  &--error {
    @extend %border-error;
  }
}

/* Expanded rows */

.fake-table__row--expanded {
  background: var(--table-head-background);

  &:hover {
    background: var(--table-head-background);
  }

  /* Disables the effect of the .fake-table__row--foot:after gap */
  &:last-child .fake-table__row--foot {
    margin-bottom: 0;
    padding-bottom: 2px;
  }

  .fake-table__toggle-container {
    border-bottom: 1px solid var(--table-border-color);
  }

  .table-row-toggle {
    @extend .icon--chevron-down;
  }
}

/* Numeric badges in selected/expanded rows */

.fake-table__row--selected,
.fake-table__row--expanded {

  .badge--numeric {
    color: var(--gramo-white);
    background: var(--slate-gray);
  }
}

.fake-table__row__handle {
  @extend .drag-handle;
  display: none;
}

.fake-table__row__delete {
  position: absolute;
  right: -3rem;
  top: 1.5rem;
  color: var(--off-gray);
  display: none;
  padding-left: 2rem;

  & > a {
    padding: 1rem;
  }
}

.fake-table__row:hover > .fake-table__row__handle,
.fake-table__row:hover > .fake-table__row__delete {
  display: block;
}
