.fake-table--numeric {
  counter-reset: section; /* Creates a new instance of the section counter with each ol element */
  list-style-type: none;

  .fake-table__row {
    position: relative;
    padding-left: 4rem;
  }

  & > .fake-table__row > *:first-child::before {
    counter-increment: section; /* Increments only this instance of the section counter */
    content: counters(section,".") " ";
    position: absolute;
    @extend .badge--numeric;
    margin-top: -1rem;
    left: 1.5rem;
    top: 50%;
  }

  & > .fake-table__row--selected > *:first-child::before,
  & > .fake-table__row--expanded > *:first-child::before {
    color: var(--gramo-white);
    background: var(--slate-gray);
  }

  .fake-table__row--head::before {
    content: none;
  }

  .fake-table__row--child {
    margin-left: -4rem;
    width: calc(100% + 4rem);
    padding-left: 0;
  }
}
