/* Toggle containers - rows that toggle child rows */
.fake-table__toggle-container {
  @extend .container;
  width: 100%;
  cursor: pointer;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.fake-table__toggle-row {
  @extend .row;

  /* stop child elements from flexing 100% */
  & > div {
    display: block;
  }
}
