.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  vertical-align: top;

  &--danger {
    background: var(--gramo-red);
    color: #fff;
  }

  &--notification {
    background: var(--gramo-turkis);
    font-size: 1.2rem;
    border-radius: 2rem;
    color: var(--gramo-white);
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0.2rem auto 0 auto;
    display: block;
    @media (--desktop) {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}
