.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  vertical-align: top;

  &--error {
    background: var(--error);
    color: #fff;
  }

  &--info {
    background: var(--info);
    color: #fff;
  }

  &--success {
    background: var(--success);
    color: #fff;
  }

  &--notification {
    background: var(--info);
    font-size: 1.2rem;
    border-radius: 2rem;
    color: var(--gramo-white);
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0.2rem auto 0 auto;
    display: inline-block;
    text-align: center;
    @media (--desktop) {
      margin-left: 0.5rem;
    }
  }
}

.badge--draft {
  background: var(--info);
  color: #fff;
  font-size: 1.3rem;
  padding: 0.3rem .75rem;
}

.badge--icon {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  margin-right: 1rem;

  &:before {
    color: var(--gramo-white);
    font-family: 'icomoon';
    font-size: 1.3rem;
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
  }

  &-error {
    background: var(--error);

    &:before {
      @extend .icon--cross:before;
    }
  }

  &-success {
    background: var(--success);

    &:before {
      @extend .icon--checkmark:before;
    }
  }
}

.badge--numeric {
  font-size: 1rem;
  line-height: 110%;
  color: var(--off-gray);
  background: var(--light-gray);
  border-radius: 50%;
  text-align: center;
  padding: .4rem;
  margin: .2rem .5rem 0 0;
  width: 2rem;
  height: 2rem;

  &--moveable {
    position: absolute;
    z-index: 1;
    display: block;

    &:hover {
      display: none;
    }
  }
}

.badge-wrapper {
  float: left;
  height: 100%;
  margin-right: .5rem;
}
