.box {
  background: var(--gramo-white);
  @extend %global-shadow;
  @extend .col-xs;
  @extend .col-sm-6;
  @extend .col-md-5;
  @extend .col-lg-3;
  margin: auto;
  padding: 2rem;
  @media (--desktop) { padding: 3rem; min-width: 400px; }

  .btn {
    width: 100%;
  }

  &--full {
    max-width: none;
    margin: 0;
    display: block;
    flex: 1 0 auto;
  }

  &--gray {
    background: var(--light-gray);
    box-shadow: none;
    border: 1px solid color(var(--light-gray) shade(5%));
    padding: 2rem;
  }
}
