.box {
  background: var(--gramo-white);
  @extend %global-shadow;
  @extend .col-xs-10;
  @extend .col-sm-5;
  @extend .col-md-4;
  @extend .col-lg-2;
  margin: auto;
  padding: 2rem;
  @media (--desktop) { padding: 3rem; min-width: 400px; }


  &--full {
    max-width: none;
    display: block;
    flex: 1 1 auto;
  }

  &--gray {
    background: var(--light-gray);
    box-shadow: none;
    border: 1px solid color(var(--light-gray) shade(5%));
    padding: 2rem;
    margin-bottom: 2rem;
  }
}
