.breadcrumbs {
  list-style: none;
  padding: 0.7rem 0 0.5rem 0;
  margin: 0;
  font-size: 1.4rem;
  @extend .col-sm;
  display: block;
  color: var(--light-gray);

  &__item {
    margin-bottom: 0;
    @extend .col-md;
    display: inline-block;
    padding-right: 0;

    &:not(.toggle-sidebar):not(.breadcrumbs__item--home) {
      display: none;
      @media (--tablet) { display: inline-block; }
    }

    &::before {
      @media (--tablet) {
        content: "\e904";
        font-family: 'icomoon';
        margin: 0 1rem 0 0;
        font-size: 1rem;
      }
    }

    &--home {
      padding-left: 0;
      @media (--tablet) { padding-left: 1rem; }

      i {
      font-size: 1.7rem;
      vertical-align: top;
      }

      &::before {
        content: none;
      }
    }

    a {
      color: var(--light-gray);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: var(--font-300);
    }

    &--action {

      &::before {
        content: none;
      }

      a {
        text-transform: none;
        color: var(--base-link-color)!important;
      }
    }
  }

  /* breadcrumbs used elsewhere in content */
  &--in-content {
    color: inherit;

    a {
      color: inherit;
    }
  }
}
