.breadcrumbs {
  list-style: none;
  padding: 0.7rem 0 0.5rem 0;
  margin: 0;
  font-size: 1.4rem;
  @extend .col-sm;
  display: inline-block;
  color: var(--light-gray);

  &__item {
    margin-bottom: 0;
    @extend .col-md;
    display: inline-block;
    padding-right: 0;


    &::before {
      content: "\e904";
      font-family: 'icomoon';
      margin: 0 1rem 0 0;
      font-size: 1rem;
    }

    &--home {
      padding-left: 0;
      @media (--tablet) { padding-left: 1rem; }

      i {
      font-size: 1.7rem;
      vertical-align: top;
      }

      &::before {
        content: none;
      }
    }

    a {
      color: var(--light-gray);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: var(--font-300);
    }

    &--action {

      &::before {
        content: none;
      }

      a {
        text-transform: none;
        color: var(--base-link-color)!important;
      }
    }
  }

  &__arrow::before {
    @extend .breadcrumbs__item::before
    }

  /* breadcrumbs used elsewhere in content */
  &--in-content {
    color: inherit;

    a {
      color: inherit;
      font-weight: 600;
    }

    .breadcrumbs__item {
      padding-left: .5rem;
    }

    .breadcrumbs__item::before,
    .breadcrumbs__arrow::before {
      color: var(--silver);
      margin: 0 0 0 .75rem;
    }
  }

  /* remove arrows between --in-content breadcrumbs itemst */
  &--without-arrows {
    .breadcrumbs__item::before {
      content: none;
    }
  }
}
