.bucket {
  position: relative;
  margin-top: -3.3rem;
  z-index: 5;
  font-size: 1.3rem;
  display: flex;

  &__list {
    @extend %no-list;
    display: flex;
    flex: 1 0 auto;
  }

  &__list__item {
    display: flex;
    position: relative;
    margin-left: 2rem;
    border-radius: 2px;

    &:before {
      content: '';
      border-left: 1px solid var(--silver);
      position: absolute;
      height: 1.5rem;
      left: -1rem;
      top: .2rem;
    }


    &__close {
      position: relative;
      top: .4rem;
      margin-right: .5rem;
      color: var(--off-gray);
      font-size: .8rem;
    }
  }

  &__add-btn {

    .btn {
      position: relative;
      top: -.7rem;
      right: 1rem;
    }
  }
}

main.pull .bucket {
  left: 8rem;
  width: calc(100% - 8rem);
}
