.bucket {
  position: relative;
  margin-top: -2.1rem;
  z-index: 5;
  padding-left: 1rem;
  font-size: 1.3rem;


  &__list {
    @extend %no-list;
    @extend .list--inline;
    display: flex;
  }

  &__list__item {
    display: flex;
    position: relative;
    padding-left: 1rem;
    margin-right: 1rem;
    border-left: 1px solid var(--silver);
    /*background: var(--light-gray);*/
    border-radius: 2px;


    &__close {
      position: relative;
      top: .2rem;
      margin-right: .5rem;
      color: var(--off-gray);
      font-size: .8rem;
    }
  }

  &__add-btn {


    .btn {
      position: relative;
      top: -0.3rem;
      right: 1rem;
    }
  }
}

main.pull .bucket {
  left: 6rem;
  width: calc(100% - 4rem);
}
