.btn {
  padding: 1rem;
  border-radius: 2px;
  border-width: 0 0 3px 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: var(--font-300);
  display: block;
  font-size: 1.7rem;

  @media (--tablet) {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
     transition: 0.5s ease;
  }

  &--white {
    background-color: var(--gramo-white);
    color: var(--gramo-black);
    border: 0;
    &:hover {
       background-color: color(#fff shade(3%));
    }
  }

  &--default {
    border-color: color(var(--off-gray) shade(15%));
    background-color: var(--off-gray);
    &:hover {
       background-color: color(var(--off-gray) shade(6%));
    }
  }

  &--primary {
    border-color: color(var(--gramo-turkis) shade(15%));
    background-color: var(--gramo-turkis);

    &:hover {
       background-color: color(var(--gramo-turkis) shade(6%));
    }
  }

  &--info {
    border-color: color(var(--gramo-blue) shade(15%));
    background-color: var(--gramo-blue);

    &:hover {
       background-color: color(var(--gramo-blue) shade(6%));
    }
  }

  &--success {
    border-color: color(var(--gramo-green) shade(15%));
    background-color: var(--gramo-green);

    &:hover {
       background-color: color(var(--gramo-green) shade(6%));
    }
  }

  &--danger {
    border-color: color(var(--gramo-red) shade(15%));
    background-color: var(--gramo-red);

    &:hover {
       background-color: color(var(--gramo-red) shade(6%));
    }
  }

  &--outline {
    background: none;
    border: 1px solid;
  }

  &--inline {
    vertical-align: baseline;
    width: auto;
    display: inline-block;
  }

  &--large {
    padding: 0.7rem 3rem;
  }

  &--medium {
    @media (--tablet) {
      padding: 0.4rem 2.5rem;
      font-size: 1.4rem;
    }
  }

  &--small {
    @media (--tablet) {
      padding: 0.2rem 2rem;
      font-size: 1.3rem;
    }
  }

  &--block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}
