.btn-group {
  text-align: center;
  @media (--tablet) {
    text-align: right;
  }

  &--toggle > .btn {
    border-bottom: 0;
    font-size: 1.1rem;
  }

  &--small > .btn {
    font-size: 1.1rem;
  }

  button:not(:first-of-type) {

    @media (--tablet) {
      border-radius: 0 2px 2px 0;
      margin-left: -4px;
      border-left: 1px solid rgba(0,0,0,0.3);
    }
  }

  .btn {
    display: inline-block;
    width: auto;
    margin: 1rem 0 1rem .2rem;
    border-radius: 2px;

    @media (--tablet) {
      margin: 0;
      border-radius: 2px 0 0 2px;
    }

    & > i[class^="icon--"] {
      font-size: .9rem;
      margin: 0 0.5rem;
    }

    &--primary {
      @extend %full-border;
      border-color: color(var(--gramo-blue) shade(2%));
      border-bottom-color: color(var(--gramo-blue) shade(15%));
    }

    &--white:last-child {
      /*box-shadow: 0px 0px 1px var(--silver);*/
      border: 1px solid var(--silver);
    }
  }

  &--hover,
  &--floating {
    @media (--desktop) {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1rem;
      margin: auto;
      height: 2.7rem;
    }
  }

  &--floating {
    display: block;
    bottom: auto;
    right: 0;
    z-index: 1;
    top: -1rem;
  }

  a:not(.btn) {
  margin: 0 1rem;
  color: #333;
  }
}
