.btn-select {
  position: relative;
  display: flex;

  & > .btn {
    border-radius: 0 1px 1px 0;
    margin-bottom: 0;
  }

  & > .btn i {
    font-size: 8px;
    margin-left: .3rem;
  }

  & > ul {
    @extend %no-list;
    background: var(--gramo-white);
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    min-width: 140px;
    display: none;
    text-align: left;
    z-index: 2;

    li {
      margin: 0;
    }

    li a {
      padding: .5rem 1rem;
      display: block;
      @extend .link--no-style;
      @extend .link--inline;
      border-bottom: 1px solid var(--silver);
      white-space: nowrap;

      &:hover {
        background: var(--light-gray);
      }
    }
  }

  &--active ul {
    display: block;
  }
}
