.btn {
  padding: 1rem 2rem;
  border-radius: 2px;
  border-width: 0 0 3px 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  line-height: normal;
  margin-bottom: .5rem;

  @media (--tablet) {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }

  &:hover {
     transition: 0.5s ease;
  }

  &[disabled] {
    /*border-color: color(var(--silver) shade(10%));
    @extend %full-border;
    background-color: var(--light-gray);
    color: color(var(--off-gray) shade(20%));
    &:hover {
       background-color: var(--light-gray);
    }*/
    opacity: 0.8;
    pointer-events: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: calc(100% + 3px);
      background: rgba(0, 0, 0, 0.5);
    }
  }

  /*** Buttons types ***/

  &--primary {
    border-color: color(var(--primary) shade(15%));
    background-color: var(--primary);

    &:hover {
       background-color: color(var(--primary) shade(25%));
    }
  }

  &--secondary {
    border-color: var(--silver);
    background-color: var(--secondary);
    color: var(--gramo-black);
    @extend %full-border;
    &:hover {
       background-color: color(var(--secondary) shade(20%));
    }
  }

  &--success {
    border-color: color(var(--success) shade(15%));
    background-color: var(--success);

    &:hover {
       background-color: color(var(--success) shade(25%));
    }
  }

  &--info {
    border-color: color(var(--info) shade(15%));
    background-color: var(--info);

    &:hover {
       background-color: color(var(--info) shade(25%));
    }
  }

  &--error {
    border-color: color(var(--error) shade(15%));
    background-color: var(--error);

    &:hover {
       background-color: color(var(--error) shade(25%));
    }
  }

  &--white {
    background-color: var(--gramo-white);
    color: var(--gramo-black);
    border: 0;
    &:hover {
       background-color: color(var(--x-light-gray) shade(10%));
    }
  }

  /*** Button Variations ***/

  &--outline {
    background: none;
    border: 1px solid;
  }

  &--simple {
    border: 0;
  }

  &--inline {
    vertical-align: baseline;
    width: auto;
    display: inline-block;
  }

  &--block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

/*** Button Sizes ***/

  &--large {
    padding: 1.3rem 2rem;
  }

  &--medium {
    @media (--tablet) {
      padding: .9rem 2rem;
    }
  }

  &--small {
    @media (--tablet) {
      padding: .3rem 2rem;
    }
  }
}
