.btn-group {
  text-align: center;
  @media (--tablet) {
    text-align: left;
  }

  &--toggle > .btn {
    border-bottom: 0;
  }

  button:not(:first-of-type) {

    @media (--tablet) {
      border-radius: 0 2px 2px 0;
      margin-left: -4px;
      border-left: 1px solid rgba(0,0,0,0.3);
    }
  }

  .btn {
    display: inline-block;
    width: 49%;
    margin: 1rem 0 1rem .2rem;
    border-radius: 2px;

    @media (--tablet) {
      margin: 0;
      width: auto;
      border-radius: 2px 0 0 2px;
    }

    & > i {
      font-size: .9rem;
      margin: 0 0.5rem;
    }

    &--success {
      @extend %full-border;
      border-color: color(var(--gramo-green) shade(2%));
      border-bottom-color: color(var(--gramo-green) shade(15%));
    }

    &--white:last-child {
      /*box-shadow: 0px 0px 1px var(--silver);*/
      border: 1px solid var(--silver);
    }
  }

  &--hover {
    @media (--desktop) {
      display: none;
      position: absolute;
      right: 1rem;
      top: 20%;
    }
  }

  a {
  margin: 0 1rem;
  color: #333;
  }
}
