.code {
  position: relative;
  max-width: 800px;
}

pre {
  position: relative;
  margin: 0;
  /*white-space: nowrap;
    word-break: normal;*/
}

.bash::after {
  background: var(--off-gray);
  border-radius: 4px 4px 0 0;
  content: "";
  display: block;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bash,
.html {
  background: var(--ui-gray);
  border: 0 none;
  border-radius: 4px;
  color: var(--gramo-white);
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
  display: block;

}

.html {
  background: var(--light-gray);
  padding: 0;
  color: var(--ui-gray);
}

.code-highlight {
  overflow: hidden;
}

pre.prettyprint {
padding: 2rem 1rem!important;
  font-size: 1.4rem;
  border: 0!important;
  background: var(--light-gray);
  overflow-x: auto;
  overflow: hidden;
  margin: 2rem 0;
  box-sizing:border-box;
  display:block;
  white-space: pre-wrap;
  word-wrap: break-word;

}

.tag {
    color: var(--gramo-blue)!important;
}

.atn {
    color: var(--gramo-purple)!important;
}

.atv {
    color: var(--gramo-green)!important;
}
