.content-header {
  @extend .container;
  margin-bottom: 1rem;

  & > * {
    padding: 1.5rem 0.5rem;
    justify-content: space-around;
    @media (--tablet) { justify-content: flex-start; }
  }

  &__above {
    @extend .row;
    @media (--tablet) { border-bottom: 1px solid var(--silver); }
    align-items: flex-end;
  }

  &__title {
    text-transform: uppercase;
    font-weight: var(--font-700);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    @media (--tablet) {
      font-size: 2.2rem;
      margin-bottom: 0;
    }
    @extend .col-sm;
    display: block;
  }

  &__below {
    @extend .row;
    align-items: center;
    padding-bottom: 0.5rem;
  }

  &__meta {
    @extend .col-xs-6;
    @extend .col-sm-3;
    @extend .col-md-2;
    padding-right: 0;
    display: block;
    font-weight: var(--font-700);
    color: var(--slate-gray);
    text-align: center;

    @media (--tablet) {
      text-align: left;
    }

    date {
      font-weight: var(--font-300);
    }
  }

  &__action {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-8;
    display: block;
    text-align: center;
    @media (--tablet) { text-align: right; }
  }
}
