.content-header {
  @extend .container;

  &--fixed {
    background: var(--base-background-color);
    position: fixed;
    right: 1rem;
    z-index: 2;
    left: 21rem;
    top: 0;
    @media (--tablet) {
      padding-top: 3rem;
    }
    @media (--desktop) {
      left: 23rem;
      top: auto;
      padding-top: 0;
    }

    & > * {
      max-width: var(--container-hd);
    }
  }

  & > * {
    padding: 1rem;
    justify-content: space-around;
    @media (--tablet) { justify-content: flex-start; }
  }

  &__above {
    @extend .row;
    @media (--tablet) { border-bottom: 1px solid var(--silver); }
    align-items: flex-end;
    /*align-items: center;*/

    &--compressed {
      padding-bottom: .5rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: var(--font-600);
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
    /*@extend .col-xs-12;*/
    order: 1;
    @media (--tablet) {
      margin-top: .5rem;
      margin-bottom: 0;
      text-align: left;
      display: block;
      flex: 0 0 auto;
      order: initial;
    }



    &--small {
      color: var(--off-gray);
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }

  &__title--lower {
    text-transform: none;
  }

  &__below {
    @extend .row;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--silver);
  }

  &__meta {
    display: block;
    font-weight: var(--font-700);
    color: var(--slate-gray);
    text-align: center;
    letter-spacing: -0.015rem;

    @media (--tablet) {
      text-align: left;
    }

    date {
      font-weight: var(--font-300);
      margin-right: 1rem;
    }
  }

  &__action,
  &__info {
    /*flex: 1 0 auto;*/
    @extend .col-xs-12;
    padding: 0;
    text-align: center;

    @media (--tablet) {
      flex: 1 0 auto;
      text-align: right;
      display: block;
    }

    & > *:first-child {
      order: 1;
    }
  }


  /* A simpler version of the content header without a bottom border, padding or margin */
  &--simple {
    margin-bottom: 0;
    padding: 0;

    .content-header__above {
      border-bottom: 0;
    }

    .content-header__below {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

/* Change left position value of .content-header--fixed when sidebar is closed */
main.pull .content-header--fixed {
  left: 1rem;
}
