.flash-message-wrapper {
  overflow: hidden;
  @extend .row;
  position: fixed;
  top: 0;
  left: 20rem;
  right: 0;
  z-index: 6;
  margin: 0;
  transition: all .25s ease;

  &--full-width {
    left: 0;
    top: 19rem;
  }
}

.pull .flash-message-wrapper {
  left: 0;
}

.flash-message {
  text-align: center;
  background: var(--info);
  color: var(--gramo-white);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 3.4rem;
  animation: fadeIn ease 1s;
  padding: .8rem 0;
  min-height: 4rem;
  @media (--desktop) {
    margin-top: 0;
  }

  &.exiting {
    animation: fadeOut ease 1s;
  }

  p {
    margin: 0;
    /*padding: 1.2rem 3rem;*/
    display: inline-block;
  }

  a {
    color: var(--gramo-white);
  }

  .btn {
    background: color(var(--info) shade(25%));
    text-transform: uppercase;
    padding: .15rem 1rem;
    margin-left: .5rem;
    @media (--desktop) { margin: 0 1rem; }
  }
}

.flash-message--error {
  background: var(--error);

  .btn {
    background: color(var(--error) shade(25%));
  }
}

.flash-message--success {
  background: var(--success);

  .btn {
    background: color(var(--success) shade(25%));
  }
}

/* Ingen filer er lest inn i perioden message */
.message {
  clear: both;
  margin: 2rem;
  font-style: italic;
  color: var(--off-gray);
}
