.flash-message-wrapper {
  overflow: hidden;
  @extend .row;
  height: 5rem;
  @media (--tablet) { height: 3rem; }

  .flash-message {
    margin-top: 0;
  }
}

.flash-message {
  text-align: center;
  background: var(--info);
  color: var(--gramo-white);
  text-transform: uppercase;
  padding: 0.75rem 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 3.4rem;
  animation: fadeIn ease 1s;
  @media (--desktop) {
    margin-top: 0;
  }

  &.exiting {
    animation: fadeOut ease 1s;
  }

  p {
    margin: 0;
    display: inline-block;
    margin-right: 1rem;
  }

  a {
    color: var(--gramo-white);
  }

  .btn {
    background: color(var(--info) shade(25%));
    margin-left: 1rem;
  }
}

.flash-message--error {
  background: var(--error);

  .btn {
    background: color(var(--error) shade(25%));
  }
}

.flash-message--success {
  background: var(--success);

  .btn {
    background: color(var(--success) shade(25%));
  }
}

/* Ingen filer er lest inn i perioden message */
.message {
  clear: both;
  margin: 2rem;
  font-style: italic;
  color: var(--off-gray);
}
