.flash-message-wrapper {
  height: 3rem;
}

.flash-message {
  text-align: center;
  background: var(--gramo-turkis);
  color: var(--gramo-white);
  text-transform: uppercase;
  padding: 0.75rem 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 3.4rem;
  @media (--desktop) {
    margin-top: 0;
  }

  p {
    margin: 0;
    display: inline-block;
    margin-right: 1rem;
  }

  .btn {
    background: color(var(--gramo-turkis) shade(25%));
  }
}

.flash-message--error {
  background: var(--gramo-red);

  .btn {
    background: color(var(--gramo-red) shade(25%));
  }
}

.flash-message--success {
  background: var(--gramo-green);

  .btn {
    background: color(var(--gramo-green) shade(25%));
  }
}

/* Ingen filer er lest inn i perioden message */
.message {
  clear: both;
  margin: 2rem;
  font-style: italic;
  color: var(--off-gray);
}
