/* Form fields for right aligned labels and inline inputs */
.form__field {
  margin-bottom: .4rem;

  &:last-child {
    margin-bottom: 0;
  }

  & > *,
  .form__label > span,
  .form__field__text,
  &__action {
    @media (--tablet) {
      display: inline-block;
    }
  }

  .form__field__text {
    font-weight: var(--semibold);
  }

  /*.form__label:first-child > span,*/
  & > *:first-child span,
  .form__field__text {
    width: 140px;
    text-align: right;
    padding-right: 1rem;

    &--double {
      vertical-align: middle;
    }
  }

  .form__label,
  &__action {
    vertical-align: top;
  }

  &__action {
    padding-top: .6rem;
  }

  .form__label--required {
    &:before {
      content: none;
    }

    & > span::before {
      @extend .form__label--required:before;
    }
  }


  &__suggestion {
    margin-right: 1rem;
    position: relative;
    top: .5rem;
  }
}

/* Make error messages line up with inputs */
.form__field > *:first-child {
  .form__input__errors > p,
  p.error--form-field {
    @media (--tablet) {
      margin-left: 144px
    }
  }
}
