.form {

  &--padded {
    padding: 2rem 1rem;
  }

  }

  .form__section {
    margin-bottom: 3rem;

    /* Section with button(s) */
    &--action {
      /*text-align: right;*/
      margin-top: 2rem;

      .btn:last-child {
        margin-top: 1rem;
        @media (--tablet) { margin: 0 0 0 0.2rem; }
      }
    }
  }

  .form__heading {
    @extend label;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    font-weight: var(--font-600);
    color: var(--slate-gray);
    font-size: 1.4rem;
  }


  /* Form elements */

  .form__label {
    position: relative;
    font-weight: var(--font-600);
    color: var(--slate-gray);
    font-size: 1.4rem;
    display: block;
    @media (--tablet) {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3rem 0 0;
    }

    &--is-checked {
      color: var(--gramo-blue);
    }

    &--required {

      &:before {
        content: '*';
        color: var(--gramo-red);
      }
    }

    &--hidden {
      @media (--tablet) { margin-top: -2rem!important; }

      & > span {
        @media (--tablet) { visibility: hidden; }
      }
    }

    /* Block labels */
    &--block {
      display: block;
      margin: 0 0 1rem 0;
    }

    &--reduced {
      width: calc(100% - .5rem);
    }

    /* Percents */
    &--percent {
      margin: 0;

      span {
        display: block;
      }
      .form__input {
        display: inline-block;
      }
      &::after {
        content: '%';
        margin-left: 0.2rem;
      }
    }

    /* Dates */
    &--date {
      font-weight: var(--font-600);
      margin-bottom: 1rem;
      @media (--tablet) {
        margin-bottom: 0;
      }

      br {
        @media (--tablet) { display: none; }
      }
    }

    &--date > .form__input {
      font-weight: var(--font-400);
      color: var(--gramo-blue);
      background: #fff url(img/calendar.svg) center right 10px no-repeat;
      border: 1px solid var(--silver);
      padding-right: 1rem;

      &::-webkit-clear-button,
      &::-webkit-calendar-picker-indicator,
      &::-webkit-inner-spin-button {
        opacity: 0;
        -webkit-appearance: none;
      }


      &.placeholder {
        color: var(--gramo-blue);
      }

     &--block {
       display: block;
       margin-left: 0;
      }
    }
  }
  /* Form fields for right aligned labels and inline inputs */
  .form__field {
    @extend .row;
    font-size: 1.4rem;

    .form__label {
      @media (--tablet) {
        display: flex;
        align-items: center;
      }


      span {
        flex: 1 0 140px;
        text-align: right;
        padding-right: 1rem;
      }

      .form__input {
        flex: 1 0 75%;
      }
    }

  &__action {
    flex: 1 0 auto;
    margin-left: 1rem;

    @media (--tablet) {
      margin-left: 2rem;
      align-self: center;
    }
  }

  .form__label--required {
    &:before {
      content: none;
    }

    & > span::before {
      @extend .form__label--required:before;
    }
  }
}

  .form__input {
    border: 1px solid var(--silver);
    padding-right: 2rem;
    background-color: #fff;
    font-weight: var(--font-400);

    &[disabled] {
      background-color: var(--light-gray);
    }


    /* Block inputs */
    &--block {
      display: block;
      width: 100%;
      margin-top: 0.25rem;
    }
  }

  /* Numeric inputs */
  .form__input[type="number"],
  .form__input[type="time"] {
    padding: 0.5rem 0 0.5rem 0.3rem!important;
    text-align: center;
    font-size: 1.4rem;
    height: 3rem;
  }


  /* Form validation classes */
  .form__label.is-valid .form__input/*, .form__label .form__input:valid*/ {
      border: 1px solid var(--light-gray);
      border-width: 1px 1px 1px 0;
      border-left: 4px solid var(--success);
      background: #fff url(img/checkmark.svg) center right 7px no-repeat;
      background-size: 15px;
  }

  .form__label.has-error .form__input {
      border: 3px solid var(--error);
      background: #fff url(img/cross.svg) center right 7px no-repeat;
      background-size: 11px;

      &[type="number"] {
        background-image: none;
      }
    }

  /*** Hidden and shared validation ***/

  .form__label.has-error .form__input--validation-hidden,
  .form__label.is-valid .form__input--validation-hidden {
    @media (--desktop) { background-image: none!important; }
  }

  .form__label.is-valid .form__input--validation-hidden {
    @media (--tablet) { border: 1px solid var(--light-gray); }
  }

  .form__label--validation-shared.is-valid::after,
  .form__label--validation-shared.has-error::after {
    color: var(--gramo-green);
    font-family: 'icomoon';
    position: absolute;
    left: 113%;
    top: 1.5rem;
    background: var(--gramo-white);
    content: none;
    @media (--desktop) { content: "\e900"; }
  }

  .form__validation-divider {
    /*background: linear-gradient(to right, var(--gramo-white) 50%,var(--table-border-color) 52%,var(--gramo-white) 50%);*/
  }

  .form__label--validation-shared.has-error::after {
    color: var(--gramo-red);
    content: none;
    @media (--desktop) { content: "\e901"; }
  }
