.form {

  &--padded {
    padding: 0;
  }

  }

  .form__fieldset {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__section {
    margin-bottom: 3rem;

    /* Section with button(s) */
    &--action {
      margin: 1rem 0 1.5rem 0;

      .btn:last-child {
        margin-top: 1rem;
        @media (--tablet) { margin: 0 0 0 0.2rem; }
      }
    }
  }


  /* Form elements */

  .form__label {
    position: relative;
    @extend h4;
    display: block;
    @media (--tablet) {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3rem 0 0;
    }

    &--is-checked {
      color: var(--gramo-blue);
    }

    &--required {

      &:before {
        content: '*';
        color: var(--gramo-red);
      }
    }

    &--hidden {
      @media (--tablet) { margin-top: -1.7rem!important; }

      & > span {
        @media (--tablet) { visibility: hidden; }
      }
    }

    /* Block labels */
    &--block {
      display: block;
      margin: 0 0 .5rem 0;
    }

    &--reduced {
      width: calc(100% - .5rem);
    }

    /* Percents */
    &--percent {
      margin: 0;

      span {
        display: block;
      }
      .form__input {
        display: inline-block;
      }
      &::after {
        content: '%';
        margin-left: 0.2rem;
      }
    }

    /* Dates */
    &--date {
      font-weight: var(--semibold);
      margin-bottom: 1rem;
      @media (--tablet) {
        margin-bottom: 0;
      }

      br {
        @media (--tablet) { display: none; }
      }
    }

    &--date > .form__input {
      font-weight: var(--normal);
      color: var(--gramo-blue);
      background: #fff url(img/calendar.svg) center right 10px no-repeat;
      border: 1px solid var(--silver);
      padding-right: 1rem;

      &::-webkit-clear-button,
      &::-webkit-calendar-picker-indicator,
      &::-webkit-inner-spin-button {
        opacity: 0;
        -webkit-appearance: none;
      }


      &.placeholder {
        color: var(--gramo-blue);
      }

     &--block {
       display: block;
       margin-left: 0;
      }
    }
  }

.form__input {
  border: 1px solid var(--silver);
  padding-right: 2rem;
  background-color: #fff;
  font-weight: var(--normal);

  &[disabled] {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: color(var(--x-light-gray) shade(7%));
  }


  /* Block inputs */
  &--block {
    display: block;
    width: 100%;
    /*margin-top: 0.25rem;*/
  }
}

/* Numeric inputs */
.form__input[type="number"],
.form__input[type="time"] {
  padding: 0.5rem 0 0.5rem 0.3rem!important;
  text-align: center;
  height: 3rem;
}
