.form {

  &__section {
    margin-bottom: 3rem;
  }

  &__section--action {
    text-align: right;
    margin-top: 2rem;

    .btn:last-child {
      margin-top: 1rem;
      @media (--tablet) { margin: 0 0 0 0.7rem; }
    }
  }

  &__heading {
    @extend label;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    font-weight: var(--font-600);
    color: var(--slate-gray);
    font-size: 1.4rem;
  }


  /* Form elements */

  .form__label {
    position: relative;
    margin: 0 3rem 0 0;
    font-weight: var(--font-600);
    color: var(--slate-gray);
    font-size: 1.4rem;
    display: block;
    @media (--tablet) {
      display: inline-block;
      vertical-align: middle;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 0.5rem;
    }

    &--isChecked {
      color: var(--gramo-blue);
    }

    /* Block labels */
    &--block {
      display: block;
      margin: 0 0 1rem 0;
    }
  }

  .form__input {
    border: 1px solid var(--silver);
    padding-right: 2rem;
    background-color: #fff;
    font-weight: var(--font-400);
    font-size: 1.6rem;

    /* Block inputs */
    &--block {
      display: block;
      width: 100%;
      margin-top: 0.75rem;
    }
  }

  /* Numeric inputs */
  .form__input--numeric {
    width: 40px;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.4rem;
  }



  /* Form validation classes */
  .form__label.is-valid .form__input/*, .form__label .form__input:valid*/ {
      border: 1px solid var(--light-gray);
      border-width: 1px 1px 1px 0;
      border-left: 4px solid var(--gramo-green);
      background: #fff url(img/checkmark.svg) center right 10px no-repeat;
      background-size: 17px;
  }

  .form__label.has-error .form__input {
      border: 3px solid var(--gramo-red);
      background: #fff url(img/cross.svg) center right 10px no-repeat;
      background-size: 14px;
    }

  .input-error {
    color: var(--gramo-red);
    margin-top: -0.75rem;
  }
}

/* Date inputs */
.form__label--date > .form__input {
  font-weight: var(--font-400);
  color: var(--gramo-blue);

  &.placeholder {
    color: var(--gramo-blue);
  }
}

.form__label--date {
  font-weight: var(--font-600);
  br {
    @media (--tablet) { display: none; }
  }
}

 .form__label--date .form__input {
   background: #fff url(img/calendar.svg) center right 10px no-repeat;
   border: 1px solid var(--silver);
   padding-right: 0.5rem;


   &:hover {
     background-image: none;
   }

   &--block {
     display: block;
     max-width: 170px;
     margin-left: 0;
   }
 }

 .form__input--stepper {
   @extend .form .form__input--numeric;
   padding: 0.5rem 0;
 }
