/* Form fields for right aligned labels and inline inputs */
.form__field {
  @extend .row;

  .form__label {
    @media (--tablet) {
      display: flex;
      align-items: center;
    }

    span {
      flex: 1 0 140px;
      text-align: right;
      padding-right: 1rem;
    }

    .form__input {
      flex: 1 0 75%;
    }

    .form__input--checkbox {
      flex: 0 1 auto;
    }

    &--date {
      margin-bottom: .5rem; /* override standard .form__label--date margin-bottom: 0 */
    }
  }

  &__action {
    flex: 1 0 auto;
    margin: -.75rem 0 1rem 1rem;

    @media (--tablet) {
      align-self: center;
      margin: 0;
    }
  }

   &__action--delete {
    position: absolute;
    right: -1rem;
    top: 4rem

    @media (--tablet) {  
      bottom: 1rem;
    }

    @media (--hd) {
      position: static;
    }
  }

  .form__label--required {
    &:before {
      content: none;
    }

    & > span::before {
      @extend .form__label--required:before;
    }
  }
  /* For correct positioning of links to right of input */
  &--controlled-width {
    .form__label .form__input {
      flex: 1 1 auto;
    }
  }

  &__suggestion {
    @extend .text--light;
    @extend .align--vertical-center;
    margin-right: 1rem;
    order: 1;
    @media (--tablet) { order: 0; }
  }
}

/* Make error messages line up with inputs */
.form__field p,
p.error--form-field {
  @media (--tablet) {
    margin-left: 140px
  }
}

/* Override responsive behaviour on form inputs on large screens */

.form__field {
  & > .col-lg-5 {
    @media (--tablet) {
      min-width: 550px;
      max-width: 550px;
    }
  }

  & > .col-lg-4 {
    @media (--tablet) {
      min-width: 400px;
      max-width: 400px;
    }
  }

  & > .col-lg-3 {
    @media (--tablet) {
      min-width: 320px;
      max-width: 320px;
    }
  }

  & > .col-lg-2 {
    @media (--tablet) {
      min-width: 200px;
      max-width: 200px;
    }
  }
}
