/* Form fields for right aligned labels and inline inputs */
.form__field {
  margin-bottom: .4rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__text,
  &__action,
  .ember-view { /* make every div (ember-view) inline-block */
    @media (--tablet) {
      display: inline-block;
    }
  }

  .form__label > span:first-of-type {
    width: 140px;
    text-align: right;
    padding-right: 1rem;
  }

   &__action--delete {
    position: absolute;
    right: -0.5rem;
    top: 4rem;

    @media (--tablet) {
      top: 1rem;
    }

    @media (--hd) {
      position: static;
    }
  }

  .form__label--required {
    &:before {
      content: none;
    }

    & > span::before {
      @extend .form__label--required:before;
    }
  }


  &__suggestion {
    margin-right: 1rem;
  }
}

/* Make error messages line up with inputs */
.form__field p,
p.error--form-field {
  @media (--tablet) {
    margin-left: 140px
  }
}

/* Remove default link underlines */

.form__field a {
  text-decoration: none;
}
