.horizontal-rule {
  position: relative;
  text-align: center;
  margin: 2rem 0;
  background: var(--silver);
}

.horizontal-rule:before,
.horizontal-rule:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

.horizontal-rule:before {
  margin-left: -16px;
  border-top-color: color(var(--silver) shade 5%); /* darken stroke slightly */
  border-width: 16px;
  left: 50%;
}

.horizontal-rule:after {
  margin-left: -15px;
  border-top-color: var(--base-background-color);
  border-width: 15px;
  left: 50%;
}

.spacer {
  background: var(--ui-gray);
  height: 10rem;
}

/* Stretched horizontal-rule */
.horizontal-rule--stretch {

  margin: .5rem 0 0 -1rem;
  width: calc(100% + 2rem);

  &:before,
  &:after {
    content: none;
  }
}

.horizontal-rule--dashed {
  border-top: 1px dashed var(--silver);
  background: none;

  &:before,
  &:after {
    content: none;
  }
}
