.infobar {
  border-bottom: 1px solid var(--table-border-color);
  background: var(--base-background-color);
  padding: 1.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;

  &--no-border {
    border-bottom: 0;
  }

  &__heading,
  &__count {
    margin: .4rem 0;
  }

  &__meta {
    @extend .text--inline;
    @extend .text--medium;
    @extend .text--light;
    line-height: 130%;
  }

  &__count {
    @extend .h3;
  }
}

.infobar--fixed {
  @media (--hd) {
    position: fixed;
    width: inherit;
    z-index: 2;
    width: 615px;

    & + div {
      padding-top: 15rem;
    }
  }

  @media (--hd) {
    width: 935px;
  }
}
