.infobar {
  border-bottom: 1px solid var(--table-border-color);
  padding: 1.5rem 0 1rem 0.2rem;
  margin-bottom: 1rem;
  @media (--tablet) {
    display: flex;
  }

  &--no-border {
    border-bottom: 0;
  }

  &__heading {
    span {
      margin-left: 2rem;
    }
  }

  &__heading,
  &__count {
    margin: .4rem 0;
  }

  &__count {
    @extend .infobar__heading;
  }

  &__meta {
    @extend .text--inline;
    @extend .text--light;
  }

  &__left {
    flex: 1 0 auto;
  }

  &__right {
    @media (--tablet) {
      text-align: right;
    }
  }

  &__action {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    @media (--tablet) {
      margin-left: 1rem;
    }
  }
}

.infobar--fixed {
  @media (--hd) {
    position: fixed;
    width: inherit;
    z-index: 2;
    width: 615px;

    & + div {
      padding-top: 15rem;
    }
  }

  @media (--hd) {
    width: 935px;
  }
}

[data-type]::before {
  content: '';
  margin-right: .5rem;
  font-family: 'icomoon';
  font-size: 1.2rem;
  font-weight: var(--normal);
  color: var(--off-gray);
}

[data-type="performer"]::before {
  content: "\e916";
}

[data-type="album"]::before {
  content: "\e917";
}

[data-type="recording"]::before {
  content: "\e919";
}

[data-type="label"]::before,
[data-type="owner"]::before {
  content: "\e918";
}
