input[type="number"],
input[type="time"] {
  position: relative;

  /* Spin Buttons modified */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      background: var(--off-gray) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
      width: 1em;
      border-left: 1px solid var(-gramo-white);
      opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
  }
  &::-webkit-inner-spin-button:hover,
  &::-webkit-inner-spin-button:active{
      box-shadow: 0 0 2px #0CF;
      opacity: .8;
  }
}
