.list {
  list-style: none;
  padding: 0;
  background: var(--gramo-white);
  border: 1px solid var(--table-border-color);
}

.list--expandable {

  .list__item {
    border-top: 1px solid var(--table-border-color);
    padding: 1.5rem 1rem;
    @extend .row;
    margin: 0;

    &:first-child {
      border-top: 0;
    }

    &--success {
      @extend %border-success;
    }
    &--danger {
      @extend %border-danger;
    }
  }

/* Date, results, actions */
  .list__item__date,
  .list__item__results {
    display: block;
  }

  .list__item__date {
    @extend .col-xs-6;

    span {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: var(--off-gray);
      display: block;
      line-height: 1.5rem;
    }
  }
  .list__item__results {
    @extend .col-sm;
    align-self: flex-end;
    font-weight: var(--font-300);

    span {
      display: block;
      @media (--desktop) { display: inline-block; };
    }
  }

  .list__item__action {
    @extend .col-sm;
    align-self: flex-end;
    text-align: right;

    a {
      text-decoration: none;
    }
  }

  .list__item__results i,
  .sub-list__item--downloads i {
    margin: 0 0.4rem;
  }
}

/* States */
.list--sub-list {
  display: none;
}

.list--expandable .list__item--is-expanded {
  padding-bottom: 0;

  .list__item__action i {
    transform: rotate(90deg);
  }
  .list--sub-list {
    list-style: none;
    margin: 1rem 0 0 0;
    background: var(--gramo-white);
    padding: 0;
    @extend .col-xs-12;
    position: relative;
    display: block;


    &::before {
      content: '';
      background: color(var(--table-border-color) shade(7%));
      width: 100%;
      height: 1px;
      top: 0;
      left: -1rem;
      position: absolute;
      width: calc(100% + 2rem);
    }

    .sub-list__item {
      font-size: 1.5rem;
      font-weight: var(--font-300);
      padding: 1.2rem 0.5rem;
      padding-left: 0.5rem;
      margin-bottom: 0;
      @extend .row;

      &:nth-child(odd) {
        background: color(var(--table-border-color) tint(75%));
      }

      &:nth-child(even) {
        background: var(--gramo-white);
      }

      &--downloads {
        @extend .col-xs-6;
        display: block;
      }
      &--message {
        @extend .col-xs-6;
        font-style: italic;
        font-size: 1.4rem;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
