.search {
  @extend .container;

  &--fixed-width {
    width: 300px;
    display: inline-block;
  }
}

.search__form {
  @extend .row;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
}

input[type="text"].search__form__input {
  @extend .col-xs;
  background: var(--gramo-white);

  /*Make sure the placeholder isn't poorly cut off*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid var(--silver);
  border-width: 1px 1px 1px 0;
  border-radius: 2px 0 0 2px;
  outline: none;

  &--large {
    padding: 1.2rem;
  }
}

.search__submit {
  @extend .col-xs-2;
  border: 0;
  border-radius: 0 2px 2px 0;
  margin: 0 0 0 -1px;
  align-items: center;
}

.search__clear {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 2.8rem;
  font-size: 1.2rem;
  z-index: 1;
  display: none;

  .icon--cross:before {
    color: var(--off-gray)!important;
  }
}

.search__form:before {
  border-radius: 2px 0 0 2px;
  background: var(--silver);
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  color: var(--gramo-white);
  content: "\e909";
  display: inline-flex;
  /*display: none;*/
  /*Use flexbox to center the icon*/
  /* Don't shrink or grow and use a default size */
  flex: 0 0 4rem;
  align-items: center;
  justify-content: center;
  @media (--tablet) { display: inline-flex; }
}
