.searchable-list {
  position: relative;
  background-color: var(--gramo-white);
  border-radius: 2px;
  border: 1px solid var(--silver);
  text-align: left;
  padding: 0.25rem;

  &__heading {
    position: relative;
    height: 30px;
    margin-right: 5px;
    height: 32px;
    line-height: 30px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 1.4rem;

    &:before {
      content: '';
      background-image: url("img/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 12px;
      position: absolute;
      height: 32px;
      width: 12px;
      right: .25rem;
    }
  }

  &--open {
    .searchable-list__heading:before {
      transform: rotate(180deg);
    }

    .searchable-list__dropdown {
      display: block;
    }
  }


  &__dropdown {
    position: absolute;
    width: 100%;
    display: none;
    background-color: var(--gramo-white);
    border-radius: 2px;
    border: 1px solid var(--silver);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .searchable-list__search {
      background: url("img/search.svg") right 0.5rem center no-repeat;
      background-size: 1.8rem;
      width: 96%;
      margin: 0.5rem auto;;
    }
  }

  &__dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li.searchable-list__option {
      padding: 5px;

      &--active, &:hover {
        color: var(--gramo-white);
        background-color: var(--gramo-blue);
        cursor: pointer;
      }
    }
  }

  /*** Below search list for search results e.g. discography search in manual matching ***/
  &--below-search {
    border: 0;
    padding: 0;

    .searchable-list__dropdown {
      border-top: 0;
    }
  }
}
