.select {
  border: 1px solid var(--silver);
  width: 99%;
  border-radius: 3px;
  background: var(--gramo-white) url("img/chevron-down.svg") no-repeat 97% 55%;
  background-size: 12px;
  font-weight: 400;
  color: var(--slate-gray);
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .7rem .5rem;
  min-width: 200px;


  @media (--tablet) {
    margin-top: 0;
    background-position: 96% 55%;
  }

  &--block {
    display: block;
  }

  &--fluid {
    min-width: 0;
  }

  &[disabled] {
    @extend .form__input[disabled];
    background-image: none;
  }
}
