.select {
  border: 1px solid var(--silver);
  width: 99%;
  margin-top: 1rem;
  border-radius: 3px;
  overflow: hidden;
  background: var(--gramo-white) url("img/chevron-down.svg") no-repeat 97% 55%;
  background-size: 12px;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  color: var(--slate-gray);

  @media (--tablet) {
    width: 180px;
    margin-top: 0;
    background-position: 95% 55%;
  }

  &--block {
    display: block;
    margin-top: 0.75rem;
  }


  select {
    font-weight: var(--font-600);
    padding: 0.75rem;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: 0;

    &:focus {
        outline: none;
    }
    &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    }
  }

  &--search {

  }
}


.searchable-list {
  position: relative;
  background-color: var(--gramo-white);
  border-radius: 2px;
  border: 1px solid var(--silver);

  &__heading {
    position: relative;
    height: 30px;
    margin-right: 5px;
    height: 32px;
    line-height: 30px;
    padding: 2px 5px;
    cursor: pointer;

    &:before {
      content: '';
      background-image: url("img/chevron-down.svg");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 12px;
      position: absolute;
      height: 32px;
      width: 12px;
      right: 1rem;
    }
  }

  &--open {
    .searchable-list__heading:before {
      transform: rotate(180deg);
    }

    .searchable-list__dropdown {
      display: block;
    }
  }


  &__dropdown {
    position: absolute;
    width: 100%;
    display: none;
    background-color: var(--gramo-white);

    border-radius: 2px;
    border: 1px solid var(--silver);

    .searchable-list__search {
      /* TODO search icon on the right of input field */
      /* TODO width may be wrong */
      width: 96%;
      margin: 0.5em 5px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;


      li.searchable-list__option {
        padding: 5px;

        &--active, &:hover {
          color: var(--gramo-white);
          background-color: var(--gramo-blue);
          cursor: pointer;
        }
      }
    }
  }
}
