.select {
  border: 1px solid var(--silver);
  width: 99%;
  border-radius: 3px;
  overflow: hidden;
  background: var(--gramo-white) url("img/chevron-down.svg") no-repeat 97% 55%;
  background-size: 12px;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  color: var(--slate-gray);

  @media (--tablet) {
    width: 180px;
    margin-top: 0;
    background-position: 95% 55%;
  }

  &--block {
    display: block;
    margin-top: 0.75rem;
  }

  &--full {
    width: 99%;
  }


  select {
    font-weight: var(--font-400);
    padding: 0.75rem;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: 0;

    &:focus {
        outline: none;
    }

    &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    }
  }
}
