%fixed {
  position: fixed;
  width: 20rem;
  height: 100%;
}

.sidebar {
  flex: 0 0 20rem;
  transform: translateX(-20rem);
  transition: transform .25s ease;
  z-index: 2;
  @extend %fixed;

  @media (--hd) {
    transform: none;
    position: static;
  }

  &--is-open {
    transform: none;
    box-shadow: 1px 0 11px rgba(0,0,0,0.5);
    @media (--desktop) {
      box-shadow: none;
    }
  }

  &__content {
    @extend %fixed;
    display: flex;
    flex-direction: column;
    background: var(--ui-gray);
  }

  &__header {
    text-align: center;
    flex: 0 0 auto;
  }
  &__header__title {
    color: var(--light-gray);
    margin-top: 5rem;
    font-size: 7rem;
  }

  .sidebar__nav {
    flex: 1;
  }
}
