.sidebar {
  flex-basis: 0;
  transform: translateX(-20rem);
  transition: all .25s ease;
  z-index: 4;

  @media (--tablet) {
    position: static;
  }

  &--is-expanded {
    transform: none;
    flex: 0 0 20rem;
  }

  &__content {
    position: fixed;
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--ui-gray);
  }

  &__header {
    text-align: center;
    flex: 0 0 auto;
  }
  &__header__title {
    color: var(--light-gray);
    margin-top: 5rem;
    font-size: 7rem;
  }

  .sidebar__nav {
    flex: 1;
  }
}
