.tabs {
  position: relative;
  margin-top: 2rem;

  &__nav {
    @extend %no-list;
    position: relative;
    z-index: 1;

    &__item {
      @extend .col-xs-3;
      @extend .col-md-2;

      padding: 0;
      text-align: center;
      background: var(--x-light-gray);
      border: 1px solid var(--silver);
      border-width: 1px 0 1px 1px;
      @media (--tablet) {
        border-width: 1px 0 0 1px;
      }
      font-size: 1.4rem;

      &:last-child {
        border-right-width: 1px;
      }

      /*&--plus {
        background: var(--light-gray);
        color: var(--gramo-white);
      }*/

      &--light > .active {
        background: var(--base-background-color)!important;
      }
    }

    &--flexible {

      & > .tabs__nav__item {
        flex: 0 0 auto;

        & > a {
           padding-left: 1rem;
           padding-right: 1rem;
        }
      }
    }
  }

  &__nav__item:hover,
  .active { /* previously '&__nav__item--active' changed to work with Ember default behaviour */
    background: var(--light-gray);
    position: relative;
    height: 100%;

    &::after {
      @media (--tablet) {
        content: '';
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background: var(--light-gray);
        width: 100%;
        z-index: 1;
      }
    }
  }

  &__nav__item a {
    text-decoration: none;
    color: var(--slate-gray);
    padding: 1rem 0;
  }

  &--toggleable {

    & > .tabs__nav,
    & > .toolbar {
      display: none;
    }
  }

  &--toggleable #tab-control {
    display: none;

    &:checked {
      & ~ label[for="tab-control"],
      & ~ hr {
        display: none;
      }

      & ~ .tabs__nav,
      & ~ .toolbar {
        display: flex;
      }
    }
  }

  &--toggleable label[for="tab-control"] {
    color: var(--base-link-color);
    cursor: pointer;
    font-size: 90%;
    margin-left: 1rem;
    font-weight: 300;
  }

  &__section--outline {
    border: 1px solid var(--table-border-color);
  }
}

/* Narrow width tabs */
.tabs--compressed {

  .tabs__nav {
    margin-top: -1px;
  }

  .tabs__nav__item {
    @extend .col-sm;
    @extend .col-md-3;
    padding: 0;
  }
}

/* Transparent tabs */
.tabs--transparent {

  @media (--tablet) {
    margin-top: 0
  }

  .tabs__nav {
    margin-bottom: .5rem;
  }

  .tabs__nav__item {
    border: 0;
    background: none;
    text-align: left;
    @extend .col-md-6;


    a {
      padding: .5rem 0;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.6rem;
      color: color(var(--gramo-blue) tint(60%));
      padding-bottom: 0;
    }

    .btn {
      text-transform: none;
      padding: .3rem 2rem;
      font-weight: inherit;
      color: inherit;
      margin-bottom: 0;

      &.active {
        background: var(--light-gray);
        border-bottom-color: var(--light-gray);

        &:after {
          content: '';
          height: 7px;
          width: calc(100% + 2px);
          left: -1px;
          bottom: -9px;
          border: 1px solid var(--table-border-color);
          border-width: 0 1px;
          position: absolute;
          background: var(--light-gray);
        }
      }
    }
  }

  .tabs__nav__item:hover,
  .active {
    background: none;
    color: var(--slate-gray)!important;

    &::after {
      @media (--tablet) {
        content: none;
      }
    }
  }

  .tab__nav__item--right {
    align-items: flex-end;
  }
}
