.table {
  margin-top: 2rem;
  table-layout: fixed;
  width: 100%;
  @media (--desktop) { min-width: 700px; width: auto; }
  @media (--hd) { min-width: 960px; }

  &--example {
    @media (--desktop) { min-width: 500px; }
    @media (--hd) { min-width: 720px; }
  }

  /*** Table head widths ***/

  &__head--small {
    @media (--desktop) { width: 8%; }
  }

  &__head--medium {
    @media (--desktop) { width: 15%; }
  }

  &__head--large {
    @media (--desktop) { width: 25%; }
  }

  &__head--xlarge {
    @media (--desktop) { width: 30%; }
  }

  /*** Text color for details in Avvik column ***/

  tr > td:nth-child(6) > span {
    color: var(--off-gray);
  }


  tbody {
    /* Space between thead and tbody */
    &::before {
      content: '';
      display: block;;
      height: 2rem;
    }
  }
}

/* Helper class */
.action {
  @media (--tablet) {
    text-align: right;
  }
}

/*** Broadcaster row ***/

.table__row--broadcaster {
  background: var(--x-light-gray);
  border-top: 0!important;

  td {
    padding: .5rem 2rem;
    /*background: var(--slate-gray)!important;
    border-bottom: 0; Responsive styles */
  }

  & > td:first-child,
  & > td:last-child {
    border-left: 0;
    border-right: 0;
  }

  &__title {
    font-weight: var(--font-700);
    color: #fff;
    margin: 0.5rem 0;
    font-size: 2.8rem;
    text-align: center;
    @media (--desktop) {
      text-align: left;
      font-size: 1.5rem;
      margin: 1rem 0 0 0;
      color: var(--slate-gray);
    }
  }
}
