.toggle-sidebar {
  @extend .col-sm-1;
  display: inline-block;
  transform: rotate(0deg);
  transition: .5s ease-in-out;

  @media (--desktop) { display: none; }

  a {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    vertical-align: middle;
  }
}

.toggle-sidebar span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light-gray);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.toggle-sidebar span:nth-child(1) {
  top: 0px;
}

.toggle-sidebar span:nth-child(2) {
  top: 6px;
}

.toggle-sidebar span:nth-child(3) {
  top: 12px;
}

.toggle-sidebar.open {
  transform: translateX(-2rem);
}

.toggle-sidebar.open span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}

.toggle-sidebar.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.toggle-sidebar.open span:nth-child(3) {
  top: 6px;
  transform: rotate(-135deg);
}
