.toggle-sidebar {
  /*transition: all .15s ease-in-out;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--x-light-gray);
  z-index: 4;
  padding: 1.3rem 0 0 1.5rem;

  a {
    display: inline-block;
    height: 3rem;
    width: 8rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--slate-gray);

    &::before {
      content: "\e914";
      font-family: 'icomoon';
      font-size: 2.4rem;
    }

    &::after {
      content: 'menu';
      position: relative;
      left: .5rem;
      top: -0.75rem;
    }
  }

  &.open {
    background: none;
    left: 13rem;

    a {
      color: #fff;
    }

    a::before {
      content: "\e907";
      font-family: 'icomoon';
      font-size: 1.5rem;
    }

    a::after {
      content: 'lukk';
      top: -0.3rem;
    }
  }
}
