
@import url('vendor/_x-button.css');

.x-toggle-btn {
  vertical-align: middle;
  color: var(--gramo-gray);
  font-size: 1.2rem;
  line-height: 2.3rem;
  background: url(/img/toggle-bg.svg) right 7px center no-repeat;
  background-size: 10px;
  background-color: var(--light-gray!important);

  &.medium {
    padding: 1px;
  }
  &::after {
    content: attr(data-tg-off)!important;
    text-align: center;
  }
}

.x-toggle:checked + .x-toggle-btn {
  background: url(/img/toggle-bg.svg) 7px center no-repeat;
  background-size: 10px;
  background-color: var(--gramo-blue)!important;
}

.x-toggle:checked + .x-toggle-btn::after {
  content: attr(data-tg-on)!important;
}
