.toolbar {
  background: var(--table-head-background);
  border: 1px solid var(--table-border-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  justify-content: center;

  &--padded {
    @media (--hd) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__action {
    align-self: center;
    align-items: center;
    @media (--tablet) { align-items: flex-end; }
    padding: 0;
  }

  &__above,
  &__below {
    border-radius: 2px 2px 0 0;
    background: var(--table-head-background);
    border: 1px solid var(--table-border-color);
    border-width: 1px 1px 0 1px;
    padding: .75rem 0;

    &--transparent {
      background: none;
      border: 0;
      padding-bottom: .25rem;
    }

    & > div[class*="col-"] {
      display: block;
    }
  }
}

.toolbar--transparent {
  background: none;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.toolbar--alone {
  margin-top: 4rem;
  padding: 4rem 0;
}

/* Remove border-top on first child after toolbar */

.toolbar ~ div[class*="fake-table"] {

  & > .fake-table__row:first-child {
    border-top: 0;
  }
}
