/*** Wrappers to divide the page in two columns
Used e.g. for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/
.wrapper--sidebar {
  @extend .col-md;
  @media (--desktop) { margin-right: 2rem; }

  &--boxed {
    border-right: 1px solid var(--table-border-color);
    margin: 0;
  }
}

.wrapper--sidebar,
.wrapper--main {
  @media (--desktop) { padding: 0; }

  .fake-table__row {

    div[class*="col-"]:first-child {
      justify-content: center;
    }
  }
}

.wrapper--main {
  @extend .col-xs-12;
  @extend .col-md-8;
}

.scrollable-area {
  height: calc(100vh - 25rem);
  overflow-y: auto;
}

.wrapper--full {
  flex: 1 1 auto;
}
