/*** Wrappers to divide the page in two columns
Used e.g. for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper__sidebar {
  flex: 1 0 100%;

  @media (--desktop) {
    margin-right: 2rem;
    flex: 0 1 30%;
    padding: 0;
  }

  &--boxed {
    border-right: 1px solid var(--table-border-color);
    margin: 0;
  }
}

.wrapper__main {
  flex: 1 0 100%;

  @media (--desktop) {
    flex: 1 1 60%;
    padding: 0;
  }
}

.wrapper__sidebar,
.wrapper__main {

  .fake-table__row {

    div[class*="col-"]:first-child {
      justify-content: center;
    }
  }
}

.scrollable-area {
  height: calc(100vh - 25rem);
  overflow-y: auto;
}

.wrapper--full {
  flex: 1 1 auto;
}
