.btn {
  padding: .5rem 2rem;
  border-radius: 2px;
  border-width: 0 0 3px 0;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 1.2rem;
  margin-bottom: .5rem;

  @media (--tablet) {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
     transition: 0.5s ease;
  }

  &[disabled] {
    opacity: 0.8;
    pointer-events: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: calc(100% + 3px);
      background: rgba(0, 0, 0, 0.5);
    }
  }

  /*** Buttons types ***/

  &--primary {
    border-color: color(var(--primary) shade(15%));
    background-color: var(--primary);

    &:hover {
       background-color: color(var(--primary) shade(25%));
    }
  }

  &--secondary {
    border-color: color(var(--silver) shade(5%));
    background-color: var(--secondary);
    color: var(--gramo-black);
    border-width: 1px 1px 3px 1px!important;
    min-height: 32px;
    &:hover {
       background-color: color(var(--secondary) shade(20%));
    }
  }

  &--danger {
    border-color: color(var(--gramo-red) shade(15%));
    background-color: var(--gramo-red);

    &:hover {
       background-color: color(var(--gramo-red) shade(20%));
    }
  }

  /*** Button Variations ***/

  &--borderless {
    border: 0;
  }

  &--inline {
    vertical-align: baseline;
    width: auto;
    display: inline-block;
  }

  &--block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  &--small {
    padding: .5rem 1rem;
    margin: 0;
    line-height: 1;
    min-height: 0;
  }
  
  &--fixed-width {
    min-width: 200px;
    margin: 0 .5rem;
  }
  
  &--add {
    width: auto;
    border: 0;
    position: relative;
    padding: 0.5rem .9rem;
    
    &:before {
      content: "\e901";
      font-family: 'icomoon';
      display: block;
      transform: rotate(45deg);
      font-size: 1rem;
    }
  }
  &[disabled]::after {
    height: 100%;
  }
}
