/* Toggle containers - rows that toggle child rows */
.fake-table__toggle-container {
  padding: 0 1rem;
  width: 100%;
  cursor: pointer;
}
/* To compensate for the left-padding on fake-table--numeric */
.fake-table__toggle-container--numeric {
  margin-left: -4rem;
  width: calc(100% + 4rem);
  padding-left: 5rem;
  position: relative; /* To position the numeric badge */

  .fake-table__toggle-row > div[class*="col-"]:first-child:not(.fake-table__cell--empty) {
    padding-left: 1rem
  }

  .fake-table__toggle-row > div[class*="col-"]:last-child:not(.fake-table__cell--empty) {
    padding-left: 1rem
  }
}

.fake-table__toggle-row {
  @extend .row;
  align-items: center;

  /* stop child elements from flexing 100% */
  & > div {
    display: block;
  }

  & > div[class*="col-"] {
    padding: 1.4rem 1rem; /* give cols elements the same padding as in .fake-table__row -- changed from 1.25rem 1rem */
    min-height: var(--table-row-height);
  }

  & > div[class*="col-"]:first-child{
    padding-left: 2rem
  }

  & > div[class*="col-"]:last-child {
    padding-right: 2rem;
  }
}

.fake-table__toggle {
  @extend .table-row-toggle;
}
