/* Cells used for buttons or toggles */
.fake-table__cell--action {
  justify-content: space-between;
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 0 1rem;
  @media (--tablet) { text-align: right; }
}

/* Cells used for form labels */
.fake-table__cell--label {
  justify-content: center;
  margin-top: 1rem;
  text-align: right;
  font-weight: 600;
  @media (--hd) { text-align: right; margin-top: 0; }
}

/* Cells for artists */
.fake-table__cell--artists {
  display: block
}

/* absolute position in row */
.fake-table__cell--absolute {
  @media (--tablet) {
    position: absolute;
    right: 0;
    top: .75rem;
    z-index: 1;
  }
}

.fake-table__cell--delete {
  text-align: right;
}

.fake-table__cell--empty {
  padding-left: 2rem;
}
