.filter-items {
  font-size: 1.3rem;
  @extend %no-list;
  padding: .5rem 0;
  display: inline-block;

  a {
    text-decoration: none;
    
    &:last-child {
      vertical-align: middle;
    }
  }

  &__remove {
    font-size: 55%;
    text-decoration: none;
    margin-right: .3rem;

    &:before {
      content: '';
      margin: 0 1rem 0 .3rem;
      border-left: 1px solid var(--silver);
    }
  }
}
