.form__label {
  position: relative;
  @extend h4;
  display: block;
  @media (--tablet) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
  }

  &--is-checked {
    color: var(--gramo-blue);
  }

  &--required {

    &:before {
      content: '*';
      color: var(--gramo-red);
    }
  }

  &--hidden {
    @media (--tablet) { margin-top: -1.6rem!important; }

    & > span {
      @media (--tablet) { visibility: hidden; white-space: nowrap; }
    }
  }

  /* Block labels */
  &--block {
    display: block;
    margin: 0 0 .4rem 0;
  }

  &--inline {
    display: inline-block;
    vertical-align: middle;
  }

  &--reduced {
    width: calc(100% - .5rem);
  }

  /* Dates */
  &--date {
    font-weight: var(--semibold);
    margin-bottom: 1rem;
    @media (--tablet) {
      margin-bottom: 0;
    }

    br {
      @media (--tablet) { display: none; }
    }
  }
  /* makes a label with e.g. checkbox/radio line up properly with text inputs */
  &--padded {
    padding-top: .65rem;
  }
  
  &--disabled {
    opacity: 0.5;
  }
}

/* Inputs with new data (kladd) */
.form__label--new {
  position: relative;

  &:before {
    content: "\e90a";
    font-family: 'icomoon';
    font-size: 1.6rem;
    background: var(--gramo-turkis);
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: .5rem;
    top: 2.5rem;
    border-radius: 2rem;
    color: var(--gramo-white);
    text-align: center;
  }
  
  .form__input {
    padding-left: 3rem;
  }
}
