.form__input {
  border: 1px solid var(--silver);
  padding: 0.55rem;
  padding-right: 2rem;
  background-color: var(--gramo-white);
  font-weight: var(--normal);
  display: block;
  width: 100%;
  margin-bottom: .6rem;
  @media (--tablet) {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }

  &[disabled] {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: color(var(--x-light-gray) shade(7%));
  }


  /* Block inputs */
  &--block {
    display: block;
    width: 100%;
  }

  &--inline {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Checkboxes/radio buttons */
input[type="radio"], input[type="checkbox"],
.form__input--checkbox,
.form__input--radio {
  display: inline-block;
  width: auto;
  margin-right: 0.2rem;
}

.form__input--date,
.form__input[type="date"] {
  font-weight: var(--normal);
  color: var(--gramo-blue);
  background: #fff url(img/calendar.svg) center right 5px no-repeat;
  border: 1px solid var(--silver);
  padding-right:.5rem;
  padding-left: .5rem;
  max-height: 31px;
  max-width: 150px;
  min-width: 115px;
  @media (--tablet) { 
    min-width: 0;
    max-width: none;
  }
  
  &::-webkit-calendar-picker-indicator,
  &::-webkit-inner-spin-button {
    opacity: 0;
    -webkit-appearance: none;
  }

  &.placeholder {
    color: var(--gramo-blue);
    text-align: center;
  }

  &[disabled] {
    @extend .form__input[disabled];
    color: var(--base-font-color);
    background-image: none;
    min-width: 0;
    /*width: 100%;*/
    /*padding-left: 0;*/
    padding-right: 0;
  }
}

.form__input--date-no-clear {
  &::-webkit-clear-button {
    opacity: 0;
    -webkit-appearance: none;
  }
}

/* Limit width of date input when there are two per row */

.form__field-to-and-from .form__input[type="date"] {
  max-width: 130px;
}

/* Placeholder Colour */
input-placeholder {
  color: var(--base-placeholder-color);
}

/* Custom widths for form inputs */

.form__input--300 {
  @media (--tablet) { min-width: 300px!important; }
}

.form__input--220 {
  @media (--tablet) { min-width: 220px!important; }
}

.form__input--180 {
  @media (--tablet) { min-width: 180px!important; }
}

.form__input--150 {
  @media (--tablet) { width: 150px!important; }
}

.form__input--143 {
  @media (--tablet) { width: 143px!important; }
}

.form__input--130 {
  @media (--tablet) { width: 130px!important; }
}

.form__input--100 {
  @media (--tablet) { width: 100px!important; }
}

.form__input--80 {
  @media (--tablet) { width: 80px!important; padding-right: 1rem;  }
}

.form__input--60 {
  @media (--tablet) { width: 60px!important; padding-right: 1rem; }
}

.form__input--40 {
  @media (--tablet) { width: 40px!important; padding-right: 1rem;  }
}

/* Textarea */
.form__input--textarea {
  resize:vertical;
  background: var(--gramo-white);
  min-height: 100px;
  max-width: 400px;
  margin-bottom: 1.2rem;
}

/* Ukjent */
.form__input--unknown {
  background: var(--gramo-white) url(img/ukjent.svg) left .5rem top 1rem no-repeat;
  padding-left: 5rem;
}