.form__input--stepper,
input[type="number"],
input[type="time"] {
  position: relative;
  height: 3.2rem;

  /* Spin Buttons modified */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      background: var(--off-gray) url(img/spinner-arrows.png) no-repeat center center;
      width: 1.5rem;
      border-left: 1px solid var(--gramo-white);
      opacity: .5;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
  }
  /*&::-webkit-inner-spin-button:hover,
  &::-webkit-inner-spin-button:active{
      opacity: .8;
  }*/
}

/* Safari 9 only override */
_::-webkit-:not(:root:root), input[type="number"]::-webkit-outer-spin-button,
_::-webkit-:not(:root:root), input[type="number"]::-webkit-inner-spin-button {
  position: relative;
}
/* Safari 10 only override */
@media not all and (min-resolution:.001dpcm) { @media { 
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  position: relative;
  }
} }

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  position: absolute;
  }
}}

input[type="time"] {
  padding-right: 2rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    right: -1px;
  }
}

input[type="number"] {
  max-width: 100px;
  
  &.four-digit {
    max-width: 60px;
  }
  
  &.fluid {
    max-width: none;
  }
}
