hr, .horizontal-rule {
  height: 1px;
  border: 0;
  padding: 0;
  position: relative;
  text-align: center;
  margin: 4rem 0 3rem 0;
  background: var(--silver);
  clear: both;
}

.horizontal-rule--dashed {
  border-top: 1px dashed var(--silver);
  background: none;
  margin: 1.2rem 0 0 0;

  &:before,
  &:after {
    content: none;
  }
}

.horizontal-rule--spacer {
  margin: 1.2rem 0 2rem 0!important;
  background: none;
  &:before,
  &:after {
    content: none;
  }
}

.horizontal-rule--stretch {
  margin: .5rem 0 0 -1rem;
  width: calc(100% + 2rem);

  &:before,
  &:after {
    content: none;
  }
}
