.link--no-style {
  color: var(--base-font-color);
}

.link--inline {
  text-decoration: none;
  /*font-weight: 300;*/
  margin: 0 1rem;
}

.link--no-line {
  text-decoration: none;
}

.link--edit {
  text-decoration: none;
  padding: .5rem 0;
  height: 32px;
  display: block;

  &:after {
    content: "\e915";
    font-family: 'icomoon';
    margin-left: .25rem;
    vertical-align: middle;
    font-size: 90%;
  }
}

.link-list {
  @extend %no-list;
  background: var(--light-gray);
  padding: 2rem 4rem;
  margin: 1rem -1rem;
  border: 1px solid var(--silver);
  border-width: 1px 0;

  li a {
    @extend .link--no-line;
    padding: 1rem .3rem;
    display: block;
    border-bottom: 1px solid var(--silver);

    &::before {
      position: relative;
      top: 1px;
    }

    &.active {
      color: var(--gramo-black);
    }
  }
}
