.link--no-style {
  color: var(--base-font-color);
}

.link--inline {
  text-decoration: none;
  /*font-weight: 300;*/
  margin: 0 1rem;
}

.link--no-line {
  text-decoration: none;
}

.link--edit {
  text-decoration: none;
  padding: .5rem 0;
  height: 32px;
  display: block;

  &:after {
    content: "\e915";
    font-family: 'icomoon';
    margin-left: .25rem;
    vertical-align: middle;
    font-size: 90%;
  }
}

.link--disabled {
  color: var(--base-font-color);
  pointer-events: none;
  text-decoration: none;
  cursor: default;
}

.link--add {
  margin-bottom: 1.2rem;
  display: block;
}
