.select {
  border: 1px solid var(--silver);
  width: 100%;
  border-radius: 3px;
  background: var(--gramo-white) url("img/chevron-down.svg") no-repeat;
  background-position: right 4px top 12px;
  background-size: 12px;
  font-weight: 400;
  color: var(--slate-gray);
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .5rem 2.5rem .5rem .5rem;
  min-width: 200px;
  height: 32px;
  display: block;
  /* For ie10 + */
  &::-ms-expand {
        display: none;
  }

  @media (--tablet) {
    margin-top: 0;
    background-position: 97% 55%;
    display: inline-block;
  }

  &--block {
    display: block;
  }

  &--fluid {
    min-width: 0;
    @media (--tablet) { width: auto; }
  }
  
  &--inline {
    @media (--tablet) { width: auto; }
  }

  &--fixed-width {
    max-width: 135px;
  }

  &--with-search {
    border-radius: 3px 1px 1px 3px;
    margin-right: -2px;
    background-position: 93% 55%;
  }

  &[disabled] {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: color(var(--x-light-gray) shade(7%));
    background-image: none;
  }
}

/* Error class - red border */
.form__label.has-error .select {
  border: 3px solid var(--error);
}
