/*** Show button group when hovering on row ***/
.table__row--is-editing > td.table__cell--action,
tr:hover > td.table__cell--action,
tr:hover > .table-summary__cell--action,
.fake-table__row:hover > .fake-table__cell--action,
.fake-table__toggle-row:hover > .fake-table__cell--action,
.fake-table__row--child-inner > .row:hover .fake-table__cell--action,
.table__row--expanded ~ tr:hover > td  {
  position: relative;

  & > .text--hide-on-hover {
    display: none;
  }

  & > .btn-group--hover {
    display: block;
  }
}
