.table-sort {
  position: relative;
  display: inline-block;
  cursor: pointer;
  
  &--asc:after,
  &--desc:after {
    font-family: 'icomoon';
    font-size: 80%;
    margin-left: .35rem;
  }
  
  &--desc:after {
    @extend .icon--chevron-down:before;
  }
  
  &--asc:after {
    @extend .icon--chevron-up:before;
  }
}
