.table__cell {

  &--truncated {
    @extend .truncated;
  }
  /* hack to align uneven number of table cells in discography/kladd_recording.html */
  &--spaced {
    width: 8%;
    @media (--hd) { width: 13%; }
  }
  
  &--delete {
    position: relative;
    
    & > a {
      position: absolute;
      right: -2.5rem;
      top: 50%;
      margin-top: -.75rem;
    }
  }
  &--min-width-160 {
    min-width: 162px;
  }
  &--no-wrap {
    white-space: nowrap;
  }
}

/* Change truncated gradient color for different states */

/*tr:hover,
.table__row--disabled {
  .table__cell--truncated::after {
    background:linear-gradient(to right, transparent 120px, var(--x-light-gray));
  }
}*/

/* Reskontro icons for a/c balance */
.table__cell--increase,
.table__cell--decrease,
.table__cell--transfer {
  &::after {
    content: '';
    text-align: center;
    display: inline-block;
    width: 2rem;
    margin-left: .5rem;
  }
}

.table__cell--transfer::after {
  content: "\e924";
  font-family: 'Icomoon';
  color: var(--gramo-blue);
  font-size: 2.4rem;
  vertical-align: middle;
}

.table__row--with-errors .table__cell--transfer::after {
  color: var(--gramo-red);
}

.table__cell--increase::after,
.table__cell--decrease::after  {
  content: "\e908";
  transform: rotate(-90deg);
  font-family: 'icomoon';
  font-size: 70%;
  color: var(--off-gray);
}

.table__cell--decrease::after {
  transform: rotate(90deg);
}

/* Status flags for table cells */
.status--red::before,
.status--yellow::before,
.status--green::before {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  margin-right: .5rem;
}

.status--red::before {
  @extend .icon--cross:before;
  font-family: 'icomoon';
  font-size: 1rem;
}

.status--yellow::before {
  content: '';
  left: -3px;
  height: 3px;
  background: orange;
  vertical-align: middle;
}

.status--green::before {
  @extend .icon--tick:before;
  font-family: 'icomoon';
  font-size: 1rem;
  color: var(--gramo-green);
}