.table__cell {

  &--truncated {
    @extend .truncated;
  }
  /* hack to align uneven number of table cells in discography/kladd_recording.html */
  &--spaced {
    width: 8%;
    @media (--hd) { width: 13%; }
  }
  
  &--delete {
    position: relative;
    
    & > a {
      position: absolute;
      right: -2.5rem;
      top: 50%;
      margin-top: -.75rem;
    }
  }
  &--min-width-160 {
    min-width: 160px;
  }
}

/* Change truncated gradient color for different states */

/*tr:hover,
.table__row--disabled {
  .table__cell--truncated::after {
    background:linear-gradient(to right, transparent 120px, var(--x-light-gray));
  }
}*/
