.toolbar {
  background: var(--table-head-background);
  border: 1px solid var(--table-border-color);
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @extend %margin-bottom;

  &__action {
    flex: 1 0 auto;
    align-self: center;
    align-items: center;
    @media (--tablet) { align-items: flex-end; }
    padding: 0;
  }

  &--above {
    border-radius: 2px 2px 0 0;
    background: var(--table-head-background);
    border: 1px solid var(--table-border-color);
    border-width: 1px 1px 0 1px;
    padding: .75rem 1rem;
    margin-bottom: 0;

    &--transparent {
      background: none;
      border: 0;
      padding-bottom: .25rem;
    }

    & > div[class*="col-"] {
      display: block;
    }
  }

  &__column {
    flex: 0 1 20%;
  }
}
