/*** Wrappers to divide the page in two columns
Used e.g. for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/
.panels {
  display: flex;
  flex-wrap: wrap;

  &--is-editing {
    background: var(--x-light-gray);
  }

  &--has-divider {
    @media (--hd) {
      background-image: url(img/line.png);
      background-repeat: repeat-y;
      background-position: calc(45% - .75rem) 0;
    }
  }
}

.panels__sidebar {
  flex: 1 0 100%;

  @media (--hd) {
    margin-right: 2rem;
    flex: 0 1 35%;
    padding: 0;
  }
}

.panels__sidebar--45 {
  @media (--hd) {
    flex: 0 1 45%;
  }
}

.panels__sidebar--25 {
  @media (--hd) {
    flex: 0 1 25%;
  }
}

.panels__main {
  flex: 1 0 100%;

  @media (--hd) {
    flex: 1 1 55%;
    padding: 0;
  }
}

.panels__main--55 {
  @media (--hd) {
    flex: 0 1 55%;
  }
}

.panels__sidebar,
.panels__main {

  .fake-table__row {

    div[class*="col-"]:first-child {
      /* justify-content: center; */
    }
  }

  .container--is-editing {
    height: calc(100% - 1.3rem);
  }
}

.scrollable-area {
  height: calc(100vh - 25rem);
  overflow-y: auto;
  margin-bottom: 0; /* to prevent vertical scrolling */
  padding-bottom: 2rem;

  &--with-footer {
    height: calc(100vh - 30rem);
  }
}
