.fake-table {
  margin: 2rem 0;
  font-size: 1.4rem;
  @extend .container;

  &__row {
    @extend .row;
    background: var(--gramo-white);
    cursor: pointer;
    border: 1px solid var(--table-border-color);
    border-width: 0 1px 1px 1px;

    &:hover {
      @media (--tablet) { background: var(--row-hover); }
    }

    &--head {
      background: var(--table-head-background);
      border: 1px solid var(--table-border-color);
      text-align: center;
      font-weight: var(--font-400);
      display: none;
      @media (--tablet) { display: flex; }

      &:hover {
        background: var(--table-head-background);
      }

      @media (--tablet) {
        text-align: left;
      }
    }

    & > div {
      padding: 1rem;
    }
  }

  &__toggle-wrapper {
    @extend .container;
    width: 100%;
  }

  &__toggle-row {
    @extend .row;

    & > div[class*="col-"]::before {
      content: attr(data-label);
      display: block;
      color: var(--off-gray);
      text-transform: uppercase;
      @media (--tablet) { content: none; }
    }
  }

  &__row--child {
    @extend .row;
    border: 0;
    margin: 0;
    padding: 0!important;
    display: none;
    width: 100%;

    & > div {
      display: block;
      cursor: default;

      span {
        font-weight: 300;
        margin-left: 1rem;
      }
    }
  }


  &__row--expanded {
    border-bottom: 1px solid var(--table-border-color);
    background: var(--row-hover);

    .fake-table__toggle-wrapper {
      border-bottom: 1px solid var(--table-border-color);
    }

    .fake-table__row--child {
      display: flex;

      &:hover {
        @extend .fake-table__row:hover;
      }
    }
    .table-row-toggle {
      @extend .icon--chevron-down;
    }
  }
}
