.fake-table {
  @extend .container;
  width: 100%;
  margin: 2rem 0;
  font-size: 1.4rem;

  &__head {
    @extend .row;
    background: var(--table-head-background);
    border: 1px solid var(--table-border-color);
    text-align: center;
    font-weight: var(--font-400);
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (--tablet) {
      text-align: left;
    }
  }


  &__row {
    @extend .row;
    background: var(--gramo-white);
    border: 1px solid var(--table-border-color);
    border-width: 0 1px 1px 1px;

    &:hover {
      @media (--tablet) { background: var(--x-light-gray); }
    }

    & > div {
      padding: 1rem;
    }

    &--wrapper {
      @extend .row;
      width: 100%;
      padding: 1.5rem 1rem;
      margin: 0;
      cursor: pointer;
    }
  }

  &__row--child {
    @extend .col-xs;
    @extend .col-sm-12;
    @extend .container;
    background: var(--x-light-gray);
    margin: 0;
    border-width: 1px 0 0 0;
    padding: 0!important;
    display: none;
  }

  &__row-content {
    @extend .row;
    text-align: center;
    line-height: 0;
    padding: 0!important;

    & > div {
      justify-content: center;
      line-height: normal;
      @extend .col-xs-12;
      @extend .col-sm-4;
      @extend .text--em;
    }

    & > div:not(:first-child) {
      border-left: 1px solid var(--table-border-color);
    }
  }

  &__row--expanded {
    .fake-table__row--child {
      display: flex;
    }
    .table-row-toggle {
      @extend .icon--chevron-down;
    }
  }
}
