.fake-table {
  margin: 0;
  font-size: 1.4rem;
  @extend .container;
  min-width: 100%;

  &__row {
    @extend .row;
    background: var(--gramo-white);
    cursor: pointer;
    border: 1px solid var(--table-border-color);
    border-width: 0 1px 1px 1px;

    &:hover {
      @media (--tablet) { background: var(--row-hover); }
    }

    &-label {
      justify-content: center;
      font-size: 1.6rem;
      margin-top: 1rem;
      @media (--hd) { text-align: right; font-size: 1.4rem; margin-top: 0; }
      font-weight: 600;
    }

    &--head {
      background: var(--table-head-background);
      border: 1px solid var(--table-border-color);
      text-align: center;
      font-weight: var(--font-400);
      display: none;
      cursor: default;
      @media (--tablet) { display: flex; }

      &:hover {
        background: var(--table-head-background);
      }

      @media (--tablet) {
        text-align: left;
      }
    }

    &--foot {
      border: 0;
      background: var(--table-head-background);
      justify-content: center;
      padding: .5rem 0;
      margin-bottom: -1rem;
      margin-top: 2rem;

      &:hover {
        background: var(--table-head-background);
      }
    }

    & > div {
      padding: 1rem;
    }

    div[class*="col-"]::before {
      content: attr(data-label);
      display: block;
      color: var(--off-gray);
      text-transform: uppercase;
      margin-top: .5rem;
      @media (--tablet) { content: none; }
    }
  }

  &__toggle-container {
    @extend .container;
    width: 100%;
  }

  &__toggle-row {
    @extend .row;

    & > div {
      display: block;
    }
  }

  &__row--child {
    @extend .row;
    border: 0;
    margin: 0;
    padding: 0!important;
    display: none;
    width: 100%;

    & > div {
      display: block;
      cursor: default;

      span {
        font-weight: 300;
        margin-left: 1rem;
      }
    }

    &:nth-child(odd) {
      background: var(--row-hover);

      &:hover {
        background: var(--row-hover)!important;
      }
    }
  }


  &__row--expanded {
    border-bottom: 1px solid var(--table-border-color);
    background: var(--row-hover);

    .fake-table__toggle-container {
      border-bottom: 1px solid var(--table-border-color);
    }

    .fake-table__row--child {
      display: flex;

      &:hover {
        /*@extend .fake-table__row:hover;*/
        background: var(--gramo-white);
      }

      .fake-table__cell--label {
        text-align: right;
        align-self: center;
      }
    }
    .table-row-toggle {
      @extend .icon--chevron-down;
    }
  }
}

/*** Groups of fake tables ***/

.fake-table--group {
  margin-top: 2rem;

  .fake-table {

    &__scrollarea {

      @media (--hd) {
        height: 50vh;
        overflow-y: auto;
      }
    }
  }

  .fake-table__row:first-child {
    border-top-width: 1px;
  }

  .fake-table__row {

    &--selected {
      background: var(--gramo-blue);
      color: #fff;

      .table-row-toggle:before {
        color: #fff;
      }
    }

    .btn-group {
      display: none;
    }
  }

  .fake-table__row--expanded {
    background: var(--table-head-background);

    .fake-table__cell--action {
      justify-content: center;
    }

    .btn-group {
      display: block;
      align-self: flex-end;
    }
  }
}

/*** Containers for fake tables allowing the table to be scrollable while a toolbar/header stays in position ***/

.fake-table__wrapper--sidebar {
  @extend .col-md;
  padding: 0;
}

.fake-table__wrapper--sidebar,
.fake-table__wrapper--main {
  .fake-table__row {

    div[class*="col-"]:first-child,
    div[class*="col-"]:last-child {
      justify-content: center;
    }
  }
}

.fake-table__wrapper--main {
  @extend .col-xs-12;
  @extend .col-md-8;
  padding: 0;
  @media (--hd) { padding-left: 2rem; }
}

/*** Toolbar ***/

.fake-table__toolbar {
  background: var(--table-head-background);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*** Infobar ***/

.fake-table__infobar {
  background: var(--gramo-blue);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  & > .row {

    div[class*="col-"]:last-child {
      justify-content: center;
    }
  }
}
