.table-row-toggle {
  @extend .icon--chevron-right;
  font-family: 'icomoon';
  display: inline-block;
  text-decoration: none;
  @media (--tablet) { margin-right: 2rem; }

  &--toggled {
    @extend .icon--chevron-down;
  }
}
