.table-row-toggle {
  @extend .icon--chevron-right;
  font-family: 'icomoon';
  display: inline-block;
  text-decoration: none;
  @media (--tablet) { text-align: center; }

  &--toggled {
    @extend .icon--chevron-down;
  }
}
