:root{
}

body, .form__input, .form__input[type="date"], .form__input--date, .form__label{
  font-size:1.6rem;
  line-height:1.5;
}
body{
  background:#f9f9f9;
  color:#3f3e44;
}

a{
  color:#31798d;
}
h1, h2, h3, h4, h5{
  font-weight:400;
}

h1, h2{
  font-family:"brandon-grotesque";
  font-weight:400;
  text-transform:uppercase;
  font-size:2.4rem;
  margin:0 0 1.2rem 0;
}

h1{
  font-size:3.3rem;
}

h4{
  font-family:'Source Sans Pro', sans-serif;
  color:#a5a4ab;
  font-size:inherit;
}

[data-type]::before{
  color:inherit;
  margin-right:1rem;
  vertical-align:middle;
}

.text--center-on-mobile{
  text-align:center!important;
}

@media (min-width: 768px){

  .text--center-on-mobile{
    text-align:left!important;
  }
}

.text--center-always{
  text-align:center!important;
}

@media (min-width: 768px){

  .text--center-always{
    text-align:center!important;
  }
}

.text--bold-on-mobile{
  font-weight:600;
}

@media (min-width: 768px){

  .text--bold-on-mobile{
    font-weight:normal;
  }
}

.text--light-on-mobile{
  color:#a5a4ab;
}

@media (min-width: 768px){

  .text--light-on-mobile{
    color:inherit;
  }
}

.site-wrapper{
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}

main{
  -webkit-flex:1 1 auto;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  position:relative;
  overflow-y:auto;
}

main > section:first-of-type{
  padding-top:0;
}

.container--padded{
  padding:2.5rem 1rem 0 1rem!important;
}

.container--col-1{
  max-width:800px;
  margin:auto;
}

@media (min-width: 768px){

  .container--col-1-min{
    min-width:800px;
  }
}

.container--branded{
  background:url("img/gramo-logo-black.png") no-repeat 50% 5rem;
  background-size:160px;
  padding-top:10rem!important;
}

.container--col-3{
  max-width:1100px;
  margin:auto;
}
.overlay, .nav--primary.nav-visible ~ main::after{
  width:100%;
  height:100%;
  background:rgba(67, 77, 90, 0.7);
  left:0;
  top:0;
  right:0;
  bottom:0;
  position:fixed;
  z-index:1;
  padding:1rem;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.nav--primary.nav-visible ~ main::after{
  content:'';
  -webkit-animation:fadeIn ease 1s;
  animation:fadeIn ease 1s;
}
@font-face{
  font-family:'icomoon';
  src:url('fonts/minside.eot?pdihjx');
  src:url('fonts/minside.eot?pdihjx#iefix') format('embedded-opentype'),
    url('fonts/minside.ttf?pdihjx') format('truetype'),
    url('fonts/minside.woff?pdihjx') format('woff'),
    url('fonts/minside.svg?pdihjx#icomoon') format('svg');
  font-weight:normal;
  font-style:normal;
}

[class^="icon-"], [class*=" icon-"]{
  font-family:'icomoon' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.icon--primary, .icon--paperplane:before, .box--shortcut .icon{
  color:#88c7d8;
}

.icon--secondary, .statusboard--secondary .icon{
  color:#a5a4ab;
}

.icon--dark, .statusboard__footer .icon{
  color:#504f56;
}

.icon--danger, .icon--no:before, .statusboard--error .icon{
  color:#ed6b6a;
}

.icon--success, .icon--yay2:before, .icon--altok:before, .statusboard--success .icon{
  color:#50bf9e;
}
.icon--calendar:before{
  content:"\e900";
}
.icon--account:before{
  content:"\e901";
}
.icon--address:before{
  content:"\e902";
}
.icon--album-label:before{
  content:"\e903";
}
.icon--producer:before{
  content:"\e904";
}
.icon--profile:before{
  content:"\e905";
}
.icon--artist:before{
  content:"\e906";
}
.icon--recording:before{
  content:"\e907";
}
.icon--arrow-back:before{
  content:"\e908";
}
.icon--carret_down:before{
  content:"\e909";
}
.icon--checkmark:before{
  content:"\e90a";
}
.icon--close:before{
  content:"\e90b";
}
.icon--down:before{
  content:"\e90c";
}
.icon--info:before{
  content:"\e90d";
}
.icon--menu:before{
  content:"\e90e";
}
.icon--switch:before{
  content:"\e90f";
}
.icon--lock:before{
  content:"\e910";
}
.icon--show:before{
  content:"\e911";
}
.icon-altok2:before{
  content:"\e912";
}
.icon--no2:before{
  content:"\e913";
}
.icon--nerd:before{
  content:"\e914";
}
.icon--yay2:before{
  content:"\e915";
}
.icon--altok:before{
  content:"\e916";
}

.icon--yay:before{
  content:"\e92a";
}

.icon--bank:before{
  content:"\e925";
}
.icon--paperplane:before{
  content:"\e926";
}
.icon--no:before{
  content:"\e927";
}
.icon--quill:before{
  content:"\e928";
}

.icon--large, .statusboard .icon{
  font-size:6rem;
}
.box--shortcut{
  -webkit-flex:none;
  -ms-flex:none;
  flex:none;
  box-shadow:none;
  border-bottom:4px solid #88c7d8;
  text-align:center;
  padding:1rem 0;
}
@media (min-width: 768px){

  .box--shortcut{
    padding-top:2rem;
  }
}
.box--shortcut .icon{
  font-size:3.2rem;
}
@media (min-width: 768px){

  .box--shortcut .icon{
    font-size:4rem;
  }
}
.box--shortcut.active{
  border-color:#31798d;
}
.box--shortcut.active .icon{
  color:#31798d;
}
.box--shortcut h4{
  font-size:1.4rem;
  color:inherit;
  font-weight:600;
}
@media (min-width: 768px){

  .box--shortcut h4{
    font-size:inherit;
  }
}
.box--shortcut em{
  font-weight:600;
  display:block;
  font-style:normal;
}

.box--login, .box--overlay{
  background:none;
  padding:0;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  min-height:calc(100vh - 102px);
}

@media (min-width: 768px){

  .box--login, .box--overlay{
    margin-top:2rem;
    min-height:550px;
  }
}

.box--login .box__inner, .box--overlay .box__inner{
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  padding:2rem 3rem 0 3rem;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  text-align:center;
}

.box--login .box__inner .icon, .box--overlay .box__inner .icon{
  font-size:5rem;
}

.box__header{
  text-align:center;
  padding:1rem 3rem 0 3rem;
}

.box--overlay{
  background:#ededed;
  margin:0 auto;
  box-shadow:0 2px 5px 0 rgb(16, 16, 16);
}

.box--meta{
  background:#d9d9dc;
}
.btn{
  font-family:"brandon-grotesque";
  text-transform:uppercase;
  font-size:1.4rem;
  padding:1.2rem 2rem;
  font-weight:600;
}
.btn--primary{
  background:#88c7d8;
  border-color:rgb(116, 169, 184);
  color:#504f56;
}
.btn--primary:hover{
  background-color:rgb(102, 149, 162);
}
.btn--secondary{
  color:#504f56;
}
.btn--solo{
  min-width:200px;
  max-width:300px;
  margin:2rem auto 0 auto;
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
}
.btn--small{
  padding:0 2rem;
}
.form__label.is-valid::after, .form__label.has-error::after{
  color:#504f56;
  font-family:'icomoon';
  position:absolute;
  left:92%;
  top:55%;
  background:#fdfdfd;
  content:none;
}
@media (min-width: 960px){

  .form__label.is-valid::after, .form__label.has-error::after{
    content:"\e90a";
  }
}

.form__label.has-error::after{
  color:#ed6b6a;
  content:none;
}

@media (min-width: 960px){

  .form__label.has-error::after{
    content:"\e90b";
  }
}

.form__label.is-valid .form__input, .form__label.has-error .form__input{
  border:1px solid #d9d9dc;
  background-image:none;
}
.horizontal-rule--with-arrow{
  padding:0;
  position:relative;
  text-align:center;
  margin:2rem 0;
  background:#d9d9dc;
}
.horizontal-rule--with-arrow hr{
  height:1px;
  border:0;
}

.horizontal-rule--with-arrow:before, .horizontal-rule--with-arrow:after{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border-style:solid;
  border-color:transparent;
  border-bottom:0;
  top:0;
}

.horizontal-rule--with-arrow:before{
  margin-left:-10px;
  border-top-color:rgb(206, 206, 209);
  border-width:10px;
  left:50%;
}

.horizontal-rule--with-arrow:after{
  margin-left:-9px;
  border-top-color:#f9f9f9;
  border-width:9px;
  left:50%;
}
hr.horizontal-rule{
  margin:1.2rem 0;
}
.badge{
  color:#504f56;
  padding:0.15rem 1rem;
}
.badge--primary, .tabs__nav__item .active .badge{
  background:#88c7d8;
}
.badge--secondary, .tabs__nav__item .badge{
  background:#d9d9dc;
}
h2 .badge{
  padding:0.25rem .75rem;
  font-size:80%;
  vertical-align:top;
  margin-top:.5rem;
  line-height:1;
}

.badge--numeric, .table--numeric-tracks tr:not(:first-child) > td:first-child::before{
  font-size:1rem;
  color:#a5a4ab;
  background:#ededed;
  border-radius:2rem;
  text-align:center;
  padding:.3rem .5rem;
  min-width:2rem;
  height:2rem;
}
.select{
  height:4.8rem;
  padding:0 4rem 0 1rem;
  background-image:url(../img/arrow-down-dark.svg);
  background-position:right 1rem top 55%;
  min-width:250px;
  margin-top:.6rem;
}
.form__input, .form__input[type="date"], .form__input--date{
  padding:1.2rem 0.75rem;
  display:block;
  width:100%;
  margin-top:.6rem;
  margin-bottom:0;
}

.form__input[type="date"], .form__input--date{
  color:inherit;
  padding:2.3rem .75rem;
  background-position:center right 1rem;  
}

@media (min-width: 768px){

  .form__input[type="date"], .form__input--date{
    max-width:200px;
  }
}
_:-ms-lang(x), .form__input[type="date"]{
  line-height:0;
}

input[type="number"]{
  height:auto;
  max-width:150px;
}

.form__input[disabled]{
  border-color:#d9d9dc;
  background:rgb(230, 230, 230);
  color:#a5a4ab;
}

.form__input--discreet[disabled]{
  border:0;
  background:none;
  color:inherit;
  text-transform:uppercase;
  font-weight:600;
}

input[type="checkbox"].form__input--toggle-visibility{
  visibility:hidden;
}
.form__label{
  padding:0;
  margin:0 0 1.2rem 0;
  color:inherit;
}

.form__label:not(.form__label--inline):not(.form__label--required):before{
  content:'';
  margin-left:.4rem;
}

.form__label--inline{
  margin-right:2rem;
}

.form__label--hidden span{
  visibility:hidden;
}

.form__label--toggle{
  position:absolute;
  right:-0.5rem;
  top:50%;
}

.form__label--toggle:before{
  content:"\e911";
  font-family:'icomoon';
  opacity:0.5;
}

.form__label--toggled::before{
  opacity:1;
}
.toolbar{
  padding-top:2rem;
}
.toggle-sidebar{
  text-align:right;
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
}
.toggle-sidebar a{
  width:auto;
  left:auto;
  -webkit-justify-content:flex-end;
  -ms-flex-pack:end;
  justify-content:flex-end;
}
.toggle-sidebar.open a{
  margin-right:0rem;
  color:inherit;
}
@media (min-width: 768px){

  .toggle-sidebar.open a{
    margin-right:-7rem;
    color:#fdfdfd;
  }
}

.toggle-sidebar a::before{
  content:"\e921";
  font-family:'icomoon';
  font-size:2.4rem;
}

.toggle-sidebar.open a::before{
  content:"\e901";
  font-family:'icomoon';
  font-size:1.4rem;
}

.toggle-sidebar a::after{
  content:none;
}

@media (min-width: 768px){

  .toggle-sidebar a::after{
    content:'menu';
  }
}

.toggle-sidebar.open a::after{
  content:none;
}

@media (min-width: 768px){

  .toggle-sidebar.open a::after{
    content:'lukk';
  }
}
.flash-message-wrapper{
  position:static;
}

.flash-message{
  padding:1.5rem 1rem;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  margin-top:0;
  text-transform:none;
  font-weight:600;
  font-family:"brandon-grotesque";
  font-size:1.8rem;
  line-height:1;
}

.flash-message > p{
  -webkit-flex:1;
  -ms-flex:1;
  flex:1
}

.flash-message__close{
  -webkit-align-self:flex-end;
  -ms-flex-item-align:end;
  align-self:flex-end;
  font-size:1.5rem;
}
.tabs__nav--flexible{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
@media (min-width: 768px){

  .tabs__nav--flexible{
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
  }
}
.tabs__nav--flexible .tabs__nav__item{
  -webkit-flex:1 0 auto;
  -ms-flex:1 0 auto;
  flex:1 0 auto;
}
@media (min-width: 768px){

  .tabs__nav--flexible .tabs__nav__item{
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
  }
}
.tabs__nav--flexible .tabs__nav__item > a{
  max-width:none;
  min-width:150px;
}

.tabs__nav__item:hover::after, .tabs__nav__item a.active::after{
  content:none;
}

.tabs__nav__item a:not(.active):after{
  content:'';
  position:absolute;
  bottom:0;
  width:calc(100% + 1px);
  height:5px;
  background:#ededed;
  left:-1px;
  border-top:1px solid #d9d9dc;
  z-index:1;
}

.tabs__nav__item:first-child a:not(.active):after{
  left:0;
}
.nav--secondary ul{
  list-style:none;
  padding:0 0 1.2rem 0;
  margin:0 0 1.2rem 0;
  border-bottom:1px solid #d9d9dc;
  font-family:"brandon-grotesque";
  word-break:break-all;
}
@media (min-width: 768px){

  .nav--secondary ul{
    margin:0;
    border:0;
    padding:0;
    text-transform:uppercase;
    font-size:1.8rem;
  }
}
.nav--secondary li{
  display:inline-block;
}
@media (min-width: 768px){

  .nav--secondary li{
    display:block;
  }
}
.nav--secondary li a{
  text-decoration:none;
  padding:.5rem 0;
  margin:0 1rem .5rem 0;
  color:#a5a4ab;
}
@media (min-width: 768px){

  .nav--secondary li a{
    display:block;
  }
}
.nav--secondary li a.active, .nav--secondary li a:hover{
  color:#31798d;
  text-decoration:underline;
}
@media (min-width: 768px){

  .nav--secondary li a.active, .nav--secondary li a:hover{
    text-decoration:none;
  }
}
.nav-toggle{
  -webkit-flex:0 0 auto;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  position:relative;
  color:#fdfdfd;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:flex-end;
  -ms-flex-align:end;
  align-items:flex-end;
  transition:all .25s ease;
  margin-right:.5rem;
  z-index:2;
}
.nav-toggle::after{
  content:"\e90e";
  font-family:'icomoon';
  font-size:1.4rem;
  margin-left:1rem;
}

.nav-toggle[aria-expanded="true"]::after{
  content:"\e91c";
}

.nav--primary{
  width:30rem;
  -webkit-transform:translateX(30rem);
  transform:translateX(30rem);
  transition:all .25s ease;
  height:calc(100% - 5.1rem);
  background:#fdfdfd;
  position:fixed;
  overflow:auto;
  z-index:2;
  right:0;
  top:5.1rem;
}

.nav--primary.nav-visible{
  -webkit-transform:translateX(0);
  transform:translateX(0);
  box-shadow:-3px 3px 5px 0px rgba(67, 77, 90, 0.5);
}

.nav--primary .vertical__nav{
  background:none;
}

.nav--primary .vertical__nav__item a{
  background:none;
  color:inherit;
  text-transform:none;
  border:0;
  padding:1rem 1.5rem;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.nav--primary .vertical__nav__item a.active, .nav--primary .vertical__nav__item a:hover{
  color:#31798d;
}

.nav--primary .vertical__nav__item:last-child{
  border-top:1px solid #ededed;
}

.nav--primary .vertical__nav .icon{
  font-size:2.5rem;
  margin-right:1rem;
  margin-top:.2rem;
}

.nav--primary .vertical__nav__heading{
  background:#f9f9f9;
  padding:1rem 1.5rem;
  border-top:1px solid #ededed;
}
.user{
  background:none;
  font-size:1.6rem;
  padding:1rem 1.5rem;
}
.user__name{
  margin-right:1rem;
  color:#434D5A;
  text-transform:none;
  -webkit-flex:1 0 auto;
  -ms-flex:1 0 auto;
  flex:1 0 auto;
}
.user__avatar{
  border:1px solid rgb(160, 210, 224);
  -webkit-filter:grayscale(1) url(../img/img-filter.svg#monochrome);
  filter:grayscale(1) url(../img/img-filter.svg#monochrome);
}
.search{
  padding:1.2rem 0;
}

.search__form{
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}

.search__form .form__input{
  margin-top:0;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
}

@media (min-width: 768px){

  .search__form .form__input{
    max-width:400px;
  }
}

.search__form .search__submit{
  padding-left:2rem;
  padding-right:2rem;
  -webkit-flex:0 0 auto;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
}

.search__form .search__submit::before{
  font-size:2.5rem;
}
.pagination .pagination__item{
  border-color:#d9d9dc;
  background:#f9f9f9;
  color:#31798d;
}
.pagination .pagination__item--current, .pagination .pagination__item a:hover{
  background:#31798d;
  border-color:#31798d;
}
.site-header{
  position:static;
  height:auto;
  -webkit-flex:0 0 auto;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  background:#3f3e44;
  box-shadow:none;
  border:0;
  padding:1rem;
  z-index:auto;
}
.site-header__branding{
  display:block;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  margin:.5rem 0 0 1rem;
}
.site-header--login{
}
.sidebar{
  -webkit-order:1;
  -ms-flex-order:1;
  order:1;
  -webkit-transform:translateX(20rem);
  transform:translateX(20rem);
}
.sidebar__content{
  padding-top:20rem;
}
.sidebar--is-expanded{
  -webkit-transform:translateX(-20rem);
  transform:translateX(-20rem);
}
@media (min-width: 768px){

  .sidebar--is-expanded{
    -webkit-transform:none;
    transform:none;
  }
}
.form--in-box{
}

.form__fieldset--group{
  background:none;
  border:0;
  margin-top:1.2rem;
  padding:1rem 0;
}

.form__fieldset--group legend{
  font-weight:600;
}

.form--summary .form__label{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.form--summary .form__label span{
  color:#504f56;
  border:1px solid #d9d9dc;
  border-width:1px 0 1px 1px;
  text-transform:none;
  background:#ededed;
  font-weight:600;
  padding:1.2rem;
  -webkit-flex:0 0 45%;
  -ms-flex:0 0 45%;
  flex:0 0 45%;
  display:block;
}

@media (min-width: 768px){

  .form--summary .form__label span{
    -webkit-flex:0 0 15%;
    -ms-flex:0 0 15%;
    flex:0 0 15%;
  }
}

.form--summary .form__label{
  margin-bottom:.6rem;
}

.form--summary .form__input{
  margin-top:0;
  width:auto;
  border-left:0;
}

.form--summary .form__input[disabled]{
  background:#fdfdfd;
}
.wizard-steps--minimal, .wizard-steps--overlay{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}
.wizard-steps--minimal li > span, .wizard-steps--overlay li > span{
  display:none;
}
.wizard-steps--minimal li::after, .wizard-steps--minimal li:last-child::after, .wizard-steps--overlay li::after, .wizard-steps--overlay li:last-child::after{
  content:'\2022';
  font-size:3rem;
  line-height:0;
  color:#a5a4ab;
  margin-left:.3rem;
}
.wizard-steps--minimal li:last-child, .wizard-steps--overlay li:last-child{
  margin-right:0;
}
.wizard-steps--minimal li.selected::after, .wizard-steps--overlay li.selected::after{
  color:#31798d;
}

.wizard-steps--overlay{
  position:absolute;
  bottom:-50px;
  width:100%;
  left:0;
}

.wizard-steps--overlay li::after, .wizard-steps--overlay li:last-child::after{
  color:#a5a4ab;
}

.wizard-steps--overlay li.selected::after{
  color:#ededed;
}
@media only screen and (max-width: 768px),
(min-device-width: 968px) and (max-device-width: 1024px){
  
  .table--list tr{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    border:1px solid #d9d9dc;
    padding:1rem;
    width:calc(100% +2rem);
    margin:0 -1rem;
  }
  
  .table--list tr:not(:first-child){
    margin-top:-1px;
  }
  
  .table--list td{
    border:0!important;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end;
    padding:0 1rem;
    margin:0;
  }
  
  .table--list td:first-child{
    font-size:inherit;
    -webkit-flex:1 0 60%;
    -ms-flex:1 0 60%;
    flex:1 0 60%;
  }
  
  .table--list td.table__cell--left{
    -webkit-flex:1 0 60%;
    -ms-flex:1 0 60%;
    flex:1 0 60%;
  }
  
  .table--list td::before{
    content:none;
  }
  
  .table--list .table__row--with-arrow{
    position:relative;
    padding-right:2rem;
  }
  
  .table--list .table__row--with-arrow:after{
    content:"\e90c";
    color:#ededed;
    top:50%;
    right:1rem;
    margin-top:-1rem;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    position:absolute;
    font-family:'icomoon';
  }
  
  .table--recordings td:nth-child(2){
    -webkit-order:1;
    -ms-flex-order:1;
    order:1;
  }
  
  .table--recordings td:nth-child(4){
    -webkit-order:2;
    -ms-flex-order:2;
    order:2;
  }
  
  .table--ledger td:nth-child(2){
    -webkit-order:3;
    -ms-flex-order:3;
    order:3;
  }
  
  .table--ledger td:nth-child(3){
    -webkit-order:5;
    -ms-flex-order:5;
    order:5;
  }
  
  .table--ledger td:nth-child(4){
    -webkit-order:6;
    -ms-flex-order:6;
    order:6;
  }
  
  .table--ledger td:nth-child(5){
    -webkit-order:4;
    -ms-flex-order:4;
    order:4;
  }
  
  .table--ledger td:nth-child(6){
    -webkit-order:2;
    -ms-flex-order:2;
    order:2;
  }
  
  .table--standard{
    display:table;
    width:calc(100% + 2rem);
    margin:0 -1rem;
  }
  
  .table--standard thead{
    display:table-header-group;
    border:0;
  }
  
  .table--standard tbody{
    display:table-row-group;
  }
  
  .table--standard tr{
    display:table-row;
    border-width:0 0 1px 0;
  }
  
  .table--standard th, .table--standard td{
    display:table-cell;
    border-width:1px 0!important;
  }
}

@media (min-width: 768px){

  .table--standard{
    margin-top:2rem;
  }
}
.table--numeric-tracks tbody{
  counter-reset:section;
}
.table--numeric-tracks thead th:first-child, .table--numeric-tracks tr > td:first-child{
  padding-left:5rem;
}
.table--numeric-tracks tr:not(:first-child) > td{
  position:relative;
}
.table--numeric-tracks tbody tr:first-child{
  background:none;
}
.table--numeric-tracks tbody tr:first-child > td{
  border-width:0 0 1px 0;
  padding-left:1rem;
  font-weight:600;
}
.table--numeric-tracks tr:not(:first-child) > td:first-child::before{
  counter-increment:section;
  content:counters(section,".") " ";
  position:absolute;
  margin-top:-1rem;
  left:1.5rem;
  top:2.3rem;
  top:50%;
}
.list{
  padding:0 1rem;
  border:0;
}
.list__item{
  padding:1rem 0;
  border-bottom:1px solid #d9d9dc;
}
.list__item a{
  text-decoration:none;
  font-weight:600;
}
.section__header{
  display:block;
  padding-top:0;
  text-align:center; 
}
.infobar{
  display:block;
  padding-top:0;
}
.masthead{
  position:relative;
  padding:2rem 1rem;
  text-align:center;
  width:100%;
  background:#ededed;
  color:#504f56;
  box-shadow:0 1px 0 #d9d9dc;
}
.masthead .icon{
  font-size:6rem;
}
.masthead:before, .masthead:after{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border-style:solid;
  border-color:transparent;
  border-bottom:0;
}
.masthead:before{
  margin-left:-10px;
  border-top-color:rgb(206, 206, 209);
  border-width:10px;
  left:50%;
  bottom:-10px;
}
.masthead:after{
  margin-left:-9px;
  border-top-color:#ededed;
  border-width:9px;
  left:50%;
  bottom:-9px;
}
.masthead h1{
  margin:0;
}
.masthead h2{
}
.masthead > p{
  padding:1rem 2rem;
  width:100%;
}

.masthead__meta{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border-top:1px solid #d9d9dc;
  margin:1.5rem -2rem -2rem -2rem;
}

@media (min-width: 768px){

  .masthead__meta{
    padding:0 20%;
  }
}

.masthead__meta__item{
  color:#504f56;
  -webkit-flex:1 0 33.333%;
  -ms-flex:1 0 33.333%;
  flex:1 0 33.333%;
  border-right:1px solid #d9d9dc;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding:1rem;
  font-weight:600;
}

.masthead__meta__item span{
  margin-right:.5rem;
  -webkit-order:1;
  -ms-flex-order:1;
  order:1;
  font-weight:400;
}

.masthead__meta__item::after{
}

@media (min-width: 768px){

  .masthead__meta__item:first-child{
    border-left:1px solid #d9d9dc;
  }
}

.masthead__meta__item:last-child{
  border-right-width:0;
}

@media (min-width: 768px){

  .masthead__meta__item:last-child{
    border-right-width:1px;
  }
}

.masthead__meta__item:last-child::after{
  content:none;
}
.message{
  color:#fdfdfd;
  font-style:normal;
  margin:0;
  padding:1rem;
  text-align:center;
  width:100%;
}
.message .icon{
  font-size:5rem;
  margin:1rem 0;
}
.message--primary{
  background:#88c7d8;
  font-family:"brandon-grotesque";
  font-size:1.8rem;
  font-weight:600;
}
.message--secondary{
  background:#ededed;
  color:#504f56;
  margin-bottom:2rem;
}
.message--success{
  background:#50bf9e;
}
.message--error{
  background:#ed6b6a;
}
.message--dark{
  background:#434D5A;
}
.message--dark *{
  color:#fdfdfd;
}
.statusboard{
  text-align:center;
  width:100%;
  display:block;
}
.statusboard--primary{
  background:#88c7d8;
}
.statusboard--primary .statusboard__header{
  background:rgb(207, 233, 239);
}
.statusboard--secondary{
  background:#d9d9dc;
}
.statusboard--secondary .statusboard__header{
  background:rgb(240, 240, 241);
}
.statusboard--success{
  background:#50bf9e;
}
.statusboard--success .statusboard__header{
  background:rgb(185, 229, 216);
}
.statusboard--error{
  background:#ed6b6a;
}
.statusboard--error .statusboard__header{
  background:rgb(248, 196, 195);
}
.statusboard__header{
  padding:2rem;
  position:relative;
}
@media (min-width: 768px){

  .statusboard__header{
    border-radius:4px 4px 0 0;
  }
}
.statusboard__header > *{
  display:block;
}
.statusboard__header em{
  font-size:2.4rem;
  font-weight:600;
  font-style:normal;
}
.statusboard__header span{
  margin-right:0;
}
.statusboard__close{
  position:absolute;
  right:0;
  top:0;
  color:inherit;
  opacity:0.4;
  font-size:1.5rem;
  display:block;
  padding:1rem;
  background:none;
  border:0;
  outline:none;
}
.statusboard__footer{
  padding:1rem;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}
.statusboard__footer p{
  margin-right:.5rem;
}
.statusboard__footer em{
  font-style:normal;
}
.statusboard__footer span{
  margin-right:1rem;
}
.statusboard__footer a{
  line-height:0;
}
.statusboard__footer .icon{
  font-size:inherit;
  margin-right:0;
}