:root{
} ==========================================================================

body{
  font-family:'Source Sans Pro', sans-serif;
  font-size:16;
  line-height:22;
  color:#000;
  font-weight:400;
  background:#f9f9f9;
}

p{ margin:0 0 1em 0; }

a{
  color:#0095da;
  background:transparent;
  text-decoration:underline;
}

a:active, a:hover{
  outline:0;
  text-decoration:none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family:'Source Sans Pro', sans-serif;
  margin:0;
}
h1, .h1{
  font-size:32;
  line-height:38;
  margin-top:.7em;
  margin-bottom:.5em;
  color:#343434;
  font-weight:400;
}
h2, .h2{
  font-size:26;
  line-height:32;
  margin-top:1.4em;
  margin-bottom:.2em;
  color:#504f56;
  font-weight:400;
}
h3, .h3{
  font-size:22;
  line-height:28;
  margin-top:1em;
  margin-bottom:.2em;
  color:#000;
  font-weight:400;
}
h4, .h4{
  font-size:18;
  line-height:24;
  margin-top:1em;
  margin-bottom:.2em;
  color:#000;
  font-weight:400;
}
h5, .h5{
  font-size:16;
  line-height:22;
  margin-top:1em;
  margin-bottom:.1em;
  color:#000;
  font-weight:400;
}
h6, .h6{
  font-size:14;
  line-height:20;
  margin-top:1em;
  margin-bottom:.1em;
  color:#000;
  font-weight:400;
}

b, strong, .strong{
  font-weight:700;
}
em, .em{
  font-style:italic;
}

abbr[title], .abbr[title]{ border-bottom:1px dotted; }

dfn{ font-style:italic; }

small, .small{ font-size:80%; }

mark, .mark{
  background:#ff0;
  color:#000;
}

sub, .sub, sup, .sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup, .sup{ top:-0.5em; }
sub, .sub{ bottom:-0.25em; }

del, .del{ text-decoration:line-through; }

figure{ margin:1em 40px; }

hr, .hr{
  box-sizing:content-box;
  height:1px;
  background:lighten(#504f56, 50%);
  border:0;
  padding:0;
  margin:0;
}
.row, .form{
  box-sizing:border-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-left:-0.5rem;
  margin-right:-0.5rem;
}

.col-xs, .col-sm, .col-md, .col-lg, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  box-sizing:border-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-flex-grow:0;
  -ms-flex-positive:0;
  flex-grow:0;
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  padding-left:0.5rem;
  padding-right:0.5rem;
}

.col-xs, .col-sm, .col-md, .col-lg{
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
  -webkit-flex-basis:0;
  -ms-flex-preferred-size:0;
  flex-basis:0;
  max-width:100%;
}
.col-xs-1{
  -webkit-flex-basis:8.33333%;
  -ms-flex-preferred-size:8.33333%;
  flex-basis:8.33333%;
  max-width:8.33333%;
}

.col-xs-2{
  -webkit-flex-basis:16.66667%;
  -ms-flex-preferred-size:16.66667%;
  flex-basis:16.66667%;
  max-width:16.66667%;
}

.col-xs-3{
  -webkit-flex-basis:25%;
  -ms-flex-preferred-size:25%;
  flex-basis:25%;
  max-width:25%;
}

.col-xs-4{
  -webkit-flex-basis:33.33333%;
  -ms-flex-preferred-size:33.33333%;
  flex-basis:33.33333%;
  max-width:33.33333%;
}

.col-xs-5{
  -webkit-flex-basis:41.66667%;
  -ms-flex-preferred-size:41.66667%;
  flex-basis:41.66667%;
  max-width:41.66667%;
}

.col-xs-6{
  -webkit-flex-basis:50%;
  -ms-flex-preferred-size:50%;
  flex-basis:50%;
  max-width:50%;
}

.col-xs-7{
  -webkit-flex-basis:58.33333%;
  -ms-flex-preferred-size:58.33333%;
  flex-basis:58.33333%;
  max-width:58.33333%;
}

.col-xs-8{
  -webkit-flex-basis:66.66667%;
  -ms-flex-preferred-size:66.66667%;
  flex-basis:66.66667%;
  max-width:66.66667%;
}

.col-xs-9{
  -webkit-flex-basis:75%;
  -ms-flex-preferred-size:75%;
  flex-basis:75%;
  max-width:75%;
}

.col-xs-10{
  -webkit-flex-basis:83.33333%;
  -ms-flex-preferred-size:83.33333%;
  flex-basis:83.33333%;
  max-width:83.33333%;
}

.col-xs-11{
  -webkit-flex-basis:91.66667%;
  -ms-flex-preferred-size:91.66667%;
  flex-basis:91.66667%;
  max-width:91.66667%;
}

.col-xs-12{
  -webkit-flex-basis:100%;
  -ms-flex-preferred-size:100%;
  flex-basis:100%;
  max-width:100%;
}

.off-xs-1{
  margin-left:8.33333%;
}

.off-xs-2{
  margin-left:16.66667%;
}

.off-xs-3{
  margin-left:25%;
}

.off-xs-4{
  margin-left:33.33333%;
}

.off-xs-5{
  margin-left:41.66667%;
}

.off-xs-6{
  margin-left:50%;
}

.off-xs-7{
  margin-left:58.33333%;
}

.off-xs-8{
  margin-left:66.66667%;
}

.off-xs-9{
  margin-left:75%;
}

.off-xs-10{
  margin-left:83.33333%;
}

.off-xs-11{
  margin-left:91.66667%;
}

@media only screen and (min-width: 768px){
  .col-sm-1{
    -webkit-flex-basis:8.33333%;
    -ms-flex-preferred-size:8.33333%;
    flex-basis:8.33333%;
    max-width:8.33333%;
  }
  .col-sm-2{
    -webkit-flex-basis:16.66667%;
    -ms-flex-preferred-size:16.66667%;
    flex-basis:16.66667%;
    max-width:16.66667%;
  }
  .col-sm-3{
    -webkit-flex-basis:25%;
    -ms-flex-preferred-size:25%;
    flex-basis:25%;
    max-width:25%;
  }
  .col-sm-4{
    -webkit-flex-basis:33.33333%;
    -ms-flex-preferred-size:33.33333%;
    flex-basis:33.33333%;
    max-width:33.33333%;
  }
  .col-sm-5{
    -webkit-flex-basis:41.66667%;
    -ms-flex-preferred-size:41.66667%;
    flex-basis:41.66667%;
    max-width:41.66667%;
  }
  .col-sm-6{
    -webkit-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    max-width:50%;
  }
  .col-sm-7{
    -webkit-flex-basis:58.33333%;
    -ms-flex-preferred-size:58.33333%;
    flex-basis:58.33333%;
    max-width:58.33333%;
  }
  .col-sm-8{
    -webkit-flex-basis:66.66667%;
    -ms-flex-preferred-size:66.66667%;
    flex-basis:66.66667%;
    max-width:66.66667%;
  }
  .col-sm-9{
    -webkit-flex-basis:75%;
    -ms-flex-preferred-size:75%;
    flex-basis:75%;
    max-width:75%;
  }
  .col-sm-10{
    -webkit-flex-basis:83.33333%;
    -ms-flex-preferred-size:83.33333%;
    flex-basis:83.33333%;
    max-width:83.33333%;
  }
  .col-sm-11{
    -webkit-flex-basis:91.66667%;
    -ms-flex-preferred-size:91.66667%;
    flex-basis:91.66667%;
    max-width:91.66667%;
  }
  .col-sm-12{
    -webkit-flex-basis:100%;
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    max-width:100%;
  }
  .off-sm-1{
    margin-left:8.33333%;
  }
  .off-sm-2{
    margin-left:16.66667%;
  }
  .off-sm-3{
    margin-left:25%;
  }
  .off-sm-4{
    margin-left:33.33333%;
  }
  .off-sm-5{
    margin-left:41.66667%;
  }
  .off-sm-6{
    margin-left:50%;
  }
  .off-sm-7{
    margin-left:58.33333%;
  }
  .off-sm-8{
    margin-left:66.66667%;
  }
  .off-sm-9{
    margin-left:75%;
  }
  .off-sm-10{
    margin-left:83.33333%;
  }
  .off-sm-11{
    margin-left:91.66667%;
  }
}

@media only screen and (min-width: 992px){
  .col-md-1{
    -webkit-flex-basis:8.33333%;
    -ms-flex-preferred-size:8.33333%;
    flex-basis:8.33333%;
    max-width:8.33333%;
  }
  .col-md-2{
    -webkit-flex-basis:16.66667%;
    -ms-flex-preferred-size:16.66667%;
    flex-basis:16.66667%;
    max-width:16.66667%;
  }
  .col-md-3{
    -webkit-flex-basis:25%;
    -ms-flex-preferred-size:25%;
    flex-basis:25%;
    max-width:25%;
  }
  .col-md-4{
    -webkit-flex-basis:33.33333%;
    -ms-flex-preferred-size:33.33333%;
    flex-basis:33.33333%;
    max-width:33.33333%;
  }
  .col-md-5{
    -webkit-flex-basis:41.66667%;
    -ms-flex-preferred-size:41.66667%;
    flex-basis:41.66667%;
    max-width:41.66667%;
  }
  .col-md-6{
    -webkit-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    max-width:50%;
  }
  .col-md-7{
    -webkit-flex-basis:58.33333%;
    -ms-flex-preferred-size:58.33333%;
    flex-basis:58.33333%;
    max-width:58.33333%;
  }
  .col-md-8{
    -webkit-flex-basis:66.66667%;
    -ms-flex-preferred-size:66.66667%;
    flex-basis:66.66667%;
    max-width:66.66667%;
  }
  .col-md-9{
    -webkit-flex-basis:75%;
    -ms-flex-preferred-size:75%;
    flex-basis:75%;
    max-width:75%;
  }
  .col-md-10{
    -webkit-flex-basis:83.33333%;
    -ms-flex-preferred-size:83.33333%;
    flex-basis:83.33333%;
    max-width:83.33333%;
  }
  .col-md-11{
    -webkit-flex-basis:91.66667%;
    -ms-flex-preferred-size:91.66667%;
    flex-basis:91.66667%;
    max-width:91.66667%;
  }
  .col-md-12{
    -webkit-flex-basis:100%;
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    max-width:100%;
  }
  .off-md-1{
    margin-left:8.33333%;
  }
  .off-md-2{
    margin-left:16.66667%;
  }
  .off-md-3{
    margin-left:25%;
  }
  .off-md-4{
    margin-left:33.33333%;
  }
  .off-md-5{
    margin-left:41.66667%;
  }
  .off-md-6{
    margin-left:50%;
  }
  .off-md-7{
    margin-left:58.33333%;
  }
  .off-md-8{
    margin-left:66.66667%;
  }
  .off-md-9{
    margin-left:75%;
  }
  .off-md-10{
    margin-left:83.33333%;
  }
  .off-md-11{
    margin-left:91.66667%;
  }
}

@media only screen and (min-width: 1200px){
  .col-lg-1{
    -webkit-flex-basis:8.33333%;
    -ms-flex-preferred-size:8.33333%;
    flex-basis:8.33333%;
    max-width:8.33333%;
  }
  .col-lg-2{
    -webkit-flex-basis:16.66667%;
    -ms-flex-preferred-size:16.66667%;
    flex-basis:16.66667%;
    max-width:16.66667%;
  }
  .col-lg-3{
    -webkit-flex-basis:25%;
    -ms-flex-preferred-size:25%;
    flex-basis:25%;
    max-width:25%;
  }
  .col-lg-4{
    -webkit-flex-basis:33.33333%;
    -ms-flex-preferred-size:33.33333%;
    flex-basis:33.33333%;
    max-width:33.33333%;
  }
  .col-lg-5{
    -webkit-flex-basis:41.66667%;
    -ms-flex-preferred-size:41.66667%;
    flex-basis:41.66667%;
    max-width:41.66667%;
  }
  .col-lg-6{
    -webkit-flex-basis:50%;
    -ms-flex-preferred-size:50%;
    flex-basis:50%;
    max-width:50%;
  }
  .col-lg-7{
    -webkit-flex-basis:58.33333%;
    -ms-flex-preferred-size:58.33333%;
    flex-basis:58.33333%;
    max-width:58.33333%;
  }
  .col-lg-8{
    -webkit-flex-basis:66.66667%;
    -ms-flex-preferred-size:66.66667%;
    flex-basis:66.66667%;
    max-width:66.66667%;
  }
  .col-lg-9{
    -webkit-flex-basis:75%;
    -ms-flex-preferred-size:75%;
    flex-basis:75%;
    max-width:75%;
  }
  .col-lg-10{
    -webkit-flex-basis:83.33333%;
    -ms-flex-preferred-size:83.33333%;
    flex-basis:83.33333%;
    max-width:83.33333%;
  }
  .col-lg-11{
    -webkit-flex-basis:91.66667%;
    -ms-flex-preferred-size:91.66667%;
    flex-basis:91.66667%;
    max-width:91.66667%;
  }
  .col-lg-12{
    -webkit-flex-basis:100%;
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    max-width:100%;
  }
  .off-lg-1{
    margin-left:8.33333%;
  }
  .off-lg-2{
    margin-left:16.66667%;
  }
  .off-lg-3{
    margin-left:25%;
  }
  .off-lg-4{
    margin-left:33.33333%;
  }
  .off-lg-5{
    margin-left:41.66667%;
  }
  .off-lg-6{
    margin-left:50%;
  }
  .off-lg-7{
    margin-left:58.33333%;
  }
  .off-lg-8{
    margin-left:66.66667%;
  }
  .off-lg-9{
    margin-left:75%;
  }
  .off-lg-10{
    margin-left:83.33333%;
  }
  .off-lg-11{
    margin-left:91.66667%;
  }
}
.pull-right{
  text-align:right
}

.center{
  text-align:center;
}

a.no-style{
  color:$base-font-color;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  display:block;
}

audio, canvas, progress, video{
  display:inline-block;
  vertical-align:baseline;
}

audio:not([controls]){
  display:none;
  height:0;
}

[hidden], template{
  display:none;
}

a{
  background-color:transparent;
}

a:active, a:hover{
  outline:0;
}

abbr[title]{
  border-bottom:1px dotted;
}

b, strong{
  font-weight:bold;
}

dfn{
  font-style:italic;
}

h1{
  font-size:2em;
  margin:0.67em 0;
}

mark{
  background:#ff0;
  color:#000;
}

small{
  font-size:80%;
}

sub, sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup{
  top:-0.5em;
}

sub{
  bottom:-0.25em;
}

img{
  border:0;
}

svg:not(:root){
  overflow:hidden;
}

figure{
  margin:1em 40px;
}

hr{
  box-sizing:content-box;
  height:0;
}

pre{
  overflow:auto;
}

code, kbd, pre, samp{
  font-family:monospace, monospace;
  font-size:1em;
}

button, input, optgroup, select, textarea{
  color:inherit;
  font:inherit;
  margin:0;
}

button{
  overflow:visible;
}

button, select{
  text-transform:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer;
}

button[disabled], html input[disabled]{
  cursor:default;
}

button::-moz-focus-inner, input::-moz-focus-inner{
  border:0;
  padding:0;
}

input{
  line-height:normal;
}

input[type="checkbox"], input[type="radio"]{
  box-sizing:border-box;
  padding:0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
  height:auto;
}

input[type="search"]{
  -webkit-appearance:textfield;
  box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}

legend{
  border:0;
  padding:0;
}

textarea{
  overflow:auto;
}

optgroup{
  font-weight:bold;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

td, th{
  padding:0;
}
@font-face{
	font-family:'icomoon';
	src:url('fonts/icomoon.eot?q1q1mz');
	src:url('fonts/icomoon.eot?q1q1mz#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?q1q1mz') format('truetype'),
		url('fonts/icomoon.woff?q1q1mz') format('woff'),
		url('fonts/icomoon.svg?q1q1mz#icomoon') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="icon-"], [class*=" icon-"]{
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
  display:inline-block;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.icon--chevron-right:before{
	content:"\e907";
	color:lighten(#504f56, 50%);
}
.icon--chevron-left:before{
	content:"\e908";
	color:lighten(#504f56, 50%);
}

.icon--logo-echo:before{
	content:"\e906";
}

.icon--checkmark:before{
	content:"\e900";
  color:#50bf9e;
}
.icon--cross:before{
	content:"\e901";
  color:#ed6b6a;
}
.icon--expand-arrow:before{
	content:"\e902";
  color:lighten(#504f56, 50%);
}

.icon--link-arrow:before{
	content:"\e902";
  color:#0095da;
  font-size:0.6rem;
}

.icon--pagination-next:before{
	content:"\e908";
  color:#0095da;
  font-size:0.6rem;
}

.icon--pagination-previous:before{
	content:"\e907";
  color:#0095da;
  font-size:0.6rem;
}

.icon--breadcrumbs-arrow:before{
	content:"\e904";
}
.icon--home:before{
	content:"\e905";
}
.site-wrapper{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  height:100vh;
  overflow-x:hidden;
  width:100vw;
}

main{
  -webkit-flex:1 0 100%;
  -ms-flex:1 0 100%;
  flex:1 0 100%;
  -webkit-transform:translateX(-12rem);
  transform:translateX(-12rem);
  transition:.25s ease;
}

@media(desktop){ main{
    -webkit-transform:translateX(0);
    transform:translateX(0);
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
  }
}

main.push{
  -webkit-transform:translateX(0);
  transform:translateX(0);
}

.container{
  padding:0 0.5rem;
  margin:0 auto;
}

.container--hd{
  max-width:1120px;
}

.container--desktop{
  max-width:960px;
}

.container--tablet{
  max-width:720px;
}

.container--mobile{
  max-width:100%;
}

.container--branded{
  background:url("/img/logo-echo.svg") no-repeat 50% 1rem;
  background-size:5rem;
  padding-top:7rem;
}

.container--branded h2{
  font-weight:300;
  margin-bottom:1rem;
  text-align:center;
}
.container.grid-test > .row{
  border:1px solid #fff;
  border-width:0 0 1px 0;
}

.container.grid-test > .row > *{
  background:lighten(#88c7d8, 20%);
  padding-top:2rem;
  padding-bottom:2rem;
}

.container.grid-test > .row > *:nth-child(odd){
  background:lighten(#88c7d8, 25%);
}
fieldset, legend{
  border:0;
  margin:0;
  padding:0;
}
legend{
  font-size:(16 + 2);
  line-height:(22 + 2);
  font-weight:700;
}
label, button, input, optgroup, select, textarea, &__heading{
  color:inherit;
  font:inherit;
  margin:0;
}
input{ line-height:normal; }
.input{ width:100%; }
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"]{
  height:36px;
  padding:0 .4em;
  box-sizing:border-box;
}
input[type="date"]::-webkit-inner-spin-button{
  display:none;
  -webkit-appearance:none;
}
input[type="checkbox"], input[type="radio"]{
  box-sizing:border-box;
  padding:0;
}
input[type="checkbox"]:checked, input[type="radio"]:checked{
  background-color:#0095da;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
  height:auto;
}
input[type="search"]{
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}
textarea{ overflow:auto; }
select{ text-transform:none; }
optgroup{ font-weight:700; }
button{
  overflow:visible;
  text-transform:none;
  width:100%;
}
@media (tablet){ button{
    width:auto;
  }
}
button, html input[type="button"], input[type="reset"], input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer;
}
button[disabled], html input[disabled]{ cursor:default; }
button::-moz-focus-inner, input::-moz-focus-inner{
  border:0;
  padding:0;
}
input-placeholder{
  color:#999;
}
.select{
  border:1px solid #ccc;
  width:99%;
  margin-top:1rem;
  border-radius:3px;
  overflow:hidden;
  background:#fff url("img/arrow-down.svg") no-repeat 95% 50%;
  background-size:12px;
  font-size:1rem;
  display:inline-block;
  color:#504f56;
}
@media (tablet){ .select{
    width:160px;
    margin-top:0;
  }
}
.select--block{
  display:block;
  margin-top:0.75rem;
}
.select select{
  font-size:1rem;
  font-weight:400;
  padding:0.5rem;
  width:110%;
  border:none;
  box-shadow:none;
  background:transparent;
  background-image:none;
  -webkit-appearance:none;
}
@media (tablet){ .select select{
    padding:0.2rem 0.3rem;
    font-size:0.9rem;
  }
}
.select select:focus{
  outline:none;
}
.form{
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  padding:1rem;
}
.form__section{
  margin-bottom:2rem;
}
.form__section--button{
  text-align:right;
  margin-top:2rem;
}
.form__section--button .btn:last-child{
  margin-left:0.7rem;
}
.form .form__label, .form__heading{
  display:block;
  position:relative;
  margin-bottom:1rem;
  font-weight:600;
  color:#504f56;
  font-size:0.9rem;
}
.form .form__label--inline, .form__heading--inline{
  display:inline-block;
  margin:0 1.5rem 0 0;
  font-weight:400;
}
.form .form__label--inline input[type="radio"], .form .form__label--inline input[type="checkbox"], .form__heading--inline input[type="radio"], .form__heading--inline input[type="checkbox"]{
  margin-right:0.5rem;
}
.form .form__label--isChecked, .form__heading--isChecked{
  color:#0095da;
}
.form .form__input{
  border:1px solid lighten(#504f56, 50%);
  width:100%;
  padding-right:2rem;
  background-color:#fff;
  margin-top:0.75rem;
  font-weight:400;
  font-size:1rem;
}
.form .form__input--block{
  display:block;
  max-width:170px;
}
.form .form__input--numeric{
  display:block;
  width:40px;
  padding:0;
  text-align:center;
}
.form .form__label.is-valid .form__input, .form__heading.is-valid .form__input{
  border:1px solid lighten(#504f56, 50%);
  border-width:1px 1px 1px 0;
  border-left:4px solid #50bf9e;
  background:#fff url(img/checkmark.svg) center right 10px no-repeat;
  background-size:17px;
}
.form .form__label.has-error .form__input, .form__heading.has-error .form__input{
  border:3px solid #ed6b6a;
  background:#fff url(img/cross.svg) center right 10px no-repeat;
  background-size:14px;
}
.form .input-error{
  color:#ed6b6a;
  margin-top:-0.75rem;
}

//Date input
.form__label--date > .form__input{
  font-weight:400;
  color:#0095da;
}

//Date input
.form__label--date > .form__input.placeholder{
  color:#0095da;
}

.form__label--date{
  font-weight:!important;
  font-weight:600;
}

@media (tablet){ .form__label--date br{
    display:none;
  }
}

 .form__label--date .form__input{
   background:#fff url(/img/calendar.svg) center right 10px no-repeat;
   border:1px solid lighten(#504f56, 50%);
 }

 @media (tablet){ .form__label--date .form__input{
    margin-left:1rem;
  }
}

 .form__label--date .form__input--block{
  display:block;
  max-width:170px;
  margin-left:0;
}
ul, ol{
  margin:1em 0 2em 0;
  padding:0 0 0 40px;
}
ul li, ol li{
  margin-bottom:5px;
}
dl:before, dl:after{
  content:" ";
  display:table;
}
dl:after{
  clear:both;
}
dl dt{
  float:left;
  width:25%;
  display:block;
  font-weight:$font-400;
}
dl dd{
  overflow:hidden;
  display:block;
}
*, *:before, *:after{
  background:transparent;
  color:#000;
  box-shadow:none;
  text-shadow:none;
}

// Links
a, a:visited{ text-decoration:underline; }
a[href]:after{ content:" (" attr(href) ")"; }
a[href^="#"]:after, a[href^="javascript:"]:after{ content:""; }

// Code and Blockquotes
pre, blockquote{ page-break-inside:avoid; }

// Tables
thead{ display:table-header-group; }
tr{ page-break-inside:avoid; }

// Images
img{ page-break-inside:avoid; max-width:100%;}

// Typography
p, h2, h3{ orphans:3; widows:3; }
h2, h3{ page-break-after:avoid; }
abbr[title]:after{ content:" (" attr(title) ")"; }
// ==========================================================================
// Base – Tables
// ==========================================================================
caption{
  font-size:(16 + 2);
  line-height:normal;
  font-weight:700;
  text-align:left;
  padding:.5rem 0;
  border-bottom:1px solid #d7d7d7;
}
table{
  font-size:(16 - 2);
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  margin:1rem 0;
  text-align:left;
}
table thead td, table thead th, table tbody td, table tbody th, table tfoot td, table tfoot th{
  color:#585858;
  padding:0.5rem 1rem;
  border-bottom:1px solid $table-border-color;
}
@media (tablet){ table thead td, table thead th, table tbody td, table tbody th, table tfoot td, table tfoot th{
    padding:0.5rem;
  }
}
table thead th:first-child, table thead td:first-child, table tbody th:first-child, table tbody td:first-child, table tfoot th:first-child, table tfoot td:first-child{
  padding-left:1rem;
}
table thead th:last-child, table thead td:last-child, table tbody th:last-child, table tbody td:last-child, table tfoot th:last-child, table tfoot td:last-child{
  padding-right:1rem;
}


.btn{
  margin-bottom:1.25rem;
  padding:0.6rem 1.5rem;
  border-radius:0;
  border-width:0 0 3px 0;
  border-style:solid;
  display:block;
  text-align:center;
  text-decoration:none;
  color:#000;
}


@media (min-width: 740px){ .btn{
    display:inline-block;
  }
}


.btn:hover{
  transition:0.5s ease;
}


.btn--primary{
  border-color:rgb(122, 179, 194);
  background-color:#88c7d8;
  color:#FFF;
}


.btn--primary:hover{
  background-color:rgb(128, 187, 203);
}


.btn--info{
  border-color:rgb(0, 134, 196);
  background-color:#0095da;
}


.btn--info:hover{
  background-color:rgb(0, 140, 205);
}


.btn--success{
  border-color:rgb(72, 172, 142);
  background-color:#50bf9e;
}


.btn--success:hover{
  background-color:rgb(75, 180, 149);
}


.btn--danger{
  border-color:rgb(213, 96, 95);
  background-color:#ed6b6a;
}


.btn--danger:hover{
  background-color:rgb(223, 101, 100);
}
