.changelog {
  @extend .comments;
  right: 150px;

  &__inner {
    @extend .comments__inner;

    &:before {
      @extend .comments__inner:before;
    }
  }
  
  .changelog__header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    
    h3 {
      flex: 1 0 auto;
    }
    
    .changelog__download {
      text-transform: uppercase;
      color: inherit;
    }
  }
  
  .changelog__content {
    @extend .comments .comments__content;
    padding-top: 1rem;

    li {
      @extend .comments .comments__content li;
    }
  }

  &.show-inner > .changelog__inner {
    display: block;
  }

  .changelog__content__header,
  .changelog__subheader {
    @extend .comments .comment__header;
  }

  .changelog__author {
    
  }

  .changelog__date {
    @extend .comments .comment__date;
  }

  .toggle-changelog {
    @extend .comments .toggle-comments;

    &:before {
      @extend .comments .toggle-comments:before;
    }
  }
  
  .changelog__content ul {
    list-style: none;
    padding: 0;
    
    li {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: .6rem;
    }
  }

  .changelog__old {
    display: inline-block;
    margin: 0 .75rem 0 .5rem;
    text-decoration: line-through;
    min-width: 1rem;
  }
  
  .changelog__old::after {
    content: '';
    border-right: 1px solid var(--off-gray);
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
  }
  
  .changelog__share{
    margin-left: 0.5rem;
  }
}
