.changelog {
  @extend .comments;
  right: 150px;

  &__inner {
    @extend .comments__inner;

    &:before {
      @extend .comments__inner:before;
    }
  }

  &.show-inner > .changelog__inner {
    display: block;
  }

  .changelog__header,
  .changelog__subheader {
    @extend .comments .comment__header;
  }

  .changelog__author {
    
  }

  .changelog__date {
    @extend .comments .comment__date;
  }

  .changelog__content {
    @extend .comments .comments__content;

    li {
      @extend .comments .comments__content li;
    }
  }

  .toggle-changelog {
    @extend .comments .toggle-comments;

    &:before {
      @extend .comments .toggle-comments:before;
    }
  }
  
  .changelog__content ul {
    list-style: none;
    padding: 0;
    
    li {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: .6rem;
    }
  }

  .changelog__from {
    display: inline-block;
    margin: 0 .75rem 0 .5rem;
    text-decoration: line-through;
    min-width: 1rem;
  }

  .changelog__to {
    &:before {
      content: '|';
      margin-right: .5rem;
    }
  }
}
