.comments {
  max-width: 500px;

  &__inner {
    background: var(--gramo-white);
    padding: 1rem 2rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    display: none;
  }

  &.show-inner > .comments__inner {
    display: block;
  }
}
