.empty-state {
  padding-top: 2rem;
  text-align: center;

  h3 {
    span {
      display: block;
      margin-top: 1.5rem;
      font-weight: 300;
      color: var(--off-gray);
      margin-bottom: 7.5rem;
    }
  }

  &__icon {
    margin-top: 5rem;

    i {
      color: var(--silver);
      font-size: 18rem;
      border: 1px solid;
      width: 18rem;
      height: 18rem;
      line-height: 1;
      border-radius: 6px;
    }
  }
  
  &--small {
    min-height: 300px;
    
    .empty-state__icon i {
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      margin: 5rem auto;
      border: 0;
    }
  }
}
