.fake-table--numeric {
  counter-reset: section;
  list-style-type: none;

  .fake-table__row {
    position: relative;
    padding-left: 4rem;
  }

  & > .fake-table__row > *:first-child::before {
    counter-increment: section;
    content: counters(section,".") " ";
    position: absolute;
    @extend .badge--numeric;
    margin-top: -1rem;
    left: 1.5rem;
    top: 2.3rem;
    @media (--tablet) { top: 50%; }
  }

  & > .fake-table__row--selected > *:first-child::before,
  & > .fake-table__row--expanded > *:first-child::before {
    @extend .badge--numeric--inverse;
  }

  .fake-table__row--head > *:first-child::before {
    content: none;
  }

  .fake-table__row--child {
    margin-left: -4rem;
    width: calc(100% + 4rem);
    padding-left: 0;
  }
}

/* Fake table numeric in panels__sidebar (stop number verically centering) */
.panels__sidebar .fake-table--numeric > .fake-table__row > *:first-child::before {
  margin-top: 1.5rem;
  @media (--tablet) { top: 0; }
}

/* Fake table numeric with checkboxes */
.fake-table--numeric--checkboxes {

  .fake-table__row {

    input[type="checkbox"] {
      position: absolute;
      left: -5rem;
      top: 1.7rem;
      z-index: 1;

      &:before {
        left: 7rem;
      }
    }
  }

  .fake-table__row:hover {

    input[type="checkbox"] {
      left: 2.4rem;

      &:before {
        visibility: hidden;
      }
    }
  }

  input[type="checkbox"]:checked {
    left: 2.4rem;

    &::before {
      visibility: hidden;
    }
  }
}

.fake-table--numeric__divider {
  font-weight: var(--semibold);
  display: block;
  position: relative;

  &[draggable=true] {
    cursor: grab;
  }

  &[draggable=true]:hover::before {
    content: '';
    @extend .drag-handle;
    top: 50%;
    margin-top: -0.7rem;
    display: block;
  }

  &[draggable=true]:active::after {
    border-color: color(var(--silver) shade(15%));
  }

  & > .fake-table--numeric__divider__delete {
    @extend .fake-table__row__delete;
    top: 50%;
    margin-top: -1rem;
    right: -3.9rem;
  }

  &:hover > .fake-table--numeric__divider__delete {
    display: block;
  }

  .horizontal-rule--dashed {
    width: calc(100% + 1rem);
    margin-left: -.25rem;
  }
}
