.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__toggle {
  color: var(--off-gray);
}

.file-upload__inner {
  display: none;
  background: var(--gramo-white);
  /*padding: 2rem;*/
  position: absolute;
  right: 3rem;
  top: -100%;
  width: 800px;
  text-align: left;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  transition: opacity .15s ease-in;
  
  &.is-visible {
    display: flex;
    z-index: 1;
  }
  
  &:before {
    content: "\e902";
    font-family: 'icomoon';
    color: #fff;
    position: absolute;
    text-shadow: 1px 0 2px rgba(0,0,0,0.3);
    top: 20px;
    right: -9px;
    z-index: -1;
  }
  
  &.is-visible--over {
    top: auto;
    bottom: -10px;
    
    &:before {
      top: auto;
      bottom: 10px;
    }
  }
}

.file-upload__header {
  border-bottom: 1px solid var(--silver);
  padding-bottom: .3rem;
  margin-bottom: 1.2rem;
  display: flex;
  
  &--action {
    flex: 1;
    text-align: right;
    align-self: center;
    
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.file-upload__form {
  background: var(--light-gray);
  /*border: 1px solid var(--silver);*/
  padding: 2rem;
  
  .form__label--comments {
    margin: 1.2rem 0;
    
    .form__input--block {
      max-width: 300px;
    }
  }
  
  .form__label--upload {
    margin: .6rem 0;
    
    input {
      outline: none;
    }
  }
}

.file-upload__list {
  flex: 1 1 auto;
  padding: 2rem;
}

.file-upload__list ul {
  @extend %no-list;
  max-height: 280px;
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -2rem;
  padding-right: 2rem;
  
  li {
    border-bottom: 1px dotted var(--silver);
    margin: 0;
    padding: 0;
    padding-bottom: .6rem;
    margin-bottom: 1.2rem;
    
    & > div[class^="col-"] {
      padding-left: .25rem;
      padding-right: .25rem;
    }
  }
}