.form {
  @extend %margin-bottom;
  }

  .form__fieldset {
    position: relative;
    border: 0;
    padding: 0;
    clear: both;
    
    .form__fieldset:not(.row) {
      margin: 0;
    }

    /*&:last-child { /* test to see if this affects vertical rhythm 
      margin-bottom: 0;
    }*/

    &--group {
      padding: 2rem;
      background: var(--light-gray);
      border: 1px solid var(--silver);
    }

    &--is-editing {
      background: var(--x-light-gray);
    }
    
    /* Make sure multiple labels with checkboxes vertically align nicely */
    &--labels-aligned {
      margin: 1.2rem 0;
      @media (--tablet) { margin-left: 137px; }
      .form__label {
        min-width: 80px;
      }
    }
  }

  .form__section--action {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    .btn:last-child {
      margin-top: 1rem;
      @media (--tablet) { margin: 0 0 0 0.2rem; }
    }
    
    
    &--right {
      text-align: right;
      padding-right: 1rem;
    }

    &--padded {
      padding-bottom: 4rem;
    }
  }
