.match-form {
  display: grid;
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  grid-template-columns: auto 1fr 40px 1.2fr;
  gap: .25rem 1rem;
  align-items: center;
  
  .form__label--validation-shared.is-valid::after, 
  .form__label--validation-shared.has-error::after {
    right: -40px;
    left: auto;
  }
  
  &__header {
    justify-self: center;
    
    &:first-child {
      grid-column: 2/3;
    }
    &:nth-child(2) {
      grid-column: 4/-1;
    }
  }
  
  .form__validation-divider {
    justify-self: center;
  }
  
  /* Hide empty inputs/validations when no match results found in Echo */
  &--no-result {
    position: relative;
    
    [data-label="Match result"],
    .form__label--validation-shared.is-valid::after, 
    .form__label--validation-shared.has-error::after {
      visibility: hidden;
    }
    
    &::before {
      content: attr(data-match-status);
      grid-column: 4/-1;
      justify-self: center;
      position: absolute;
      top: 6rem;
      color: var(--off-gray);
      font-style: italic;
    }
    &::after {
      font-family: 'icomoon';
      content: "\e913";
      position: absolute;
      grid-column: 4/-1;
      justify-self: center;
      top: 7rem;
      font-size: 7rem;
      color: var(--silver);
    }
  }
}