.section-header {
  display: flex;
  align-items: center;
  @extend %margin-bottom;
  padding-top: 1.2rem;

  &__above,
  &__below {
    display: flex;
  }

  &--with-border {
    border-bottom: 1px solid var(--silver);
    padding-bottom: 1.2rem;
    padding-top: 0;
  }
}

.section-header header {
  flex: 1 0 auto;

  h1 {
    text-transform: uppercase;
    /*margin: .5rem 0 1rem 0;*/
    text-align: center;
    @media (--tablet) {
      margin-left: 1rem;
      text-align: left;
      display: block;
    }
    span {
      text-transform: none;
    }
  }

  h2 {
    display: flex;
    align-items: center;
  }
}

.section-header__toolbar {
  align-self: center;
  padding-right: .5rem;
}

.section-header--ordered {

  header {
    order: 1;

    @media (tablet) {
      flex: 0 0 auto;
      order: initial;
    }
  }
}

.section-header--divided {
  display: block;
  padding-bottom: 0;

  .section-header__above,
  .section-header__below {
    display: flex;
    align-items: center;
  }

  .section-header__above {
    @extend %margin-bottom;
  }

  .section-header__below {
    padding: 1.2rem 1rem;
    border-top: 1px solid var(--silver);

    & > *:first-child {
      flex: 1 0 auto;
    }

    & > *:first-child[class$="--short"] {
      flex: 0 0 auto;
    }

    &--no-border {
      border: 0;
    }
  }

  .section-header__meta {
    font-weight: var(--semibold);

    span {
      margin-right: 1rem;
    }
  }

  .section-header__toolbar {
    text-align: right;
  }
}

.section-header--fixed {
  background: var(--base-background-color);
  position: fixed;
  right: 1rem;
  z-index: 2;
  left: 21rem;
  top: 3rem;
  @media (--tablet) {
    padding-top: 3rem;
  }
  @media (--desktop) {
    left: 23rem;
    top: 3rem;
    padding-top: 1rem;
  }

  & > * {
    max-width: var(--container-hd);
  }

  & + * {
    margin-top: 11rem;
  }
}

/* Change left position value of .content-header--fixed when sidebar is closed */
main.pull .section-header--fixed {
  left: 1rem;
}
