.site-header {
  position: fixed;
  top: 0;
  left: 20rem;
  right: 0;
  background: var(--light-gray);
  border-bottom: 1px solid var(--silver);
  z-index: 4;
  height: 32px;
}

.pull .site-header {
  left: 0;
}

.site-header--static {
  position: static;
  height: auto;
  padding: 1rem;
}
