caption {
  font-weight: var(--bold);
  text-align: left;
  padding: 1rem 2rem;
  background: var(--table-border-color);
  @extend .clear;
  
  span:first-child {
    float: left;
  }
  span:last-child {
    float: right;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  thead,
  tbody,
  tfoot {
    td,
    th {
      color: var(--slate-gray);
      padding: 1rem 2rem;
      @media (--tablet) { padding: 1rem; height: var(--table-row-height); }
      border-bottom: 1px solid var(--table-border-color);
    }
    th:first-child,
    td:first-child {
      @media (--desktop) { padding-left: 2rem; }
    }
    th:last-child,
    td:last-child {
      @media (--desktop) { padding-right: 2rem; }
    }
  }
}

thead {
  border: 1px solid var(--table-border-color);
  text-align: center;

  @media (--desktop) {
    text-align: left;
  }

  tr {
    background: var(--table-head-background);
  }

  th {
    font-weight: var(--semibold);
    text-align: left;
  }
}

tbody > tr {
  background: var(--gramo-white);
  &:hover {
    @media (--tablet) { background: var(--row-hover); }
  }
}

tr:first-child {
  border-top: 1px solid var(--table-border-color);
}

tr > td:first-child {
  border-left: 1px solid var(--table-border-color);
}

tr > td:last-child {
  border-right: 1px solid var(--table-border-color);
}

/*** Make table responsive - not mobile first in this case! ***/

@media
only screen and (max-width: 768px),
(min-device-width: 968px) and (max-device-width: 1024px)  {

  /* Force table to stack vertically */
  table, caption, thead, tbody, th, td, tr {
    display: block;
  }

  thead:not(.table__head--always-visible) {
    display: none;
  }

  .table-cell--hidden-on-mobile {
    display: none;
  }

  td::before {
    content: attr(data-label);
    display: block;
    color: var(--off-gray);
    text-transform: uppercase;
  }

  th:empty, td:empty {
    display: none;
  }
  
  tr td {
    border: 1px solid var(--table-border-color);
    border-width: 0 1px;
  }

  tr td:first-child {
    /*border-left: 0!important;*/
    /*background: var(--light-gray);*/
  }
  tr td:last-child {
    /*border-right: 0!important;*/
  }
}
