.table--numeric {
  @extend .fake-table--numeric;

  tr > td:first-child {
    @extend .fake-table--numeric .fake-table__row;
    padding-left: 4.7rem;
    @media (--hd) { max-width: 120px; }
  }

  tr:not(.table__row--no-count) > td:first-child::before {
    @extend .fake-table--numeric > .fake-table__row > *:first-child::before;
    top: 50%;
  }
  
  .dd-open > td:first-child::before {
    color: var(--gramo-white)!important;
    background: var(--slate-gray)!important;
  }
}

.table--with-checkboxes {
  
  tr > td:first-child {
    &::before {
      z-index: 1; /* default stacking order for number 1 */
    }
    
    
    .form__input--checkbox {
      position: relative;
      z-index: -1; /* default stacking order for <input>  0 */
    }
    
    .form__label {
      position: absolute;
      left: 1.5rem;
      top: calc(50% - 1.5rem);
      padding: .5rem .5rem .5rem .3rem;
    }
    
    /* <span> used to cover number when row is hovered over and checkbox is :checked */
    .form__label span {
      width: 100%;
      height: 100%;
      background: var(--gramo-white);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1; /* default stacking order for <span>  -1 */
    }
    
      /* stacking order for <input> when :checked  3 */
    .form__input--checkbox:checked {
      z-index: 3;
    }
    
    /* stacking order for <span> when input:checked  2 */
    .form__input--checkbox:checked + span {
      z-index: 2;
    }
  }
    
  /* when row is hovered over: */
  tr:not(.row--no-checkbox):hover {
    /* hide number */
    & > td:first-child::before {
      visibility: hidden;
    }
    
    .form__input--checkbox:not(:checked) {
      z-index: 0;
    }
    
    .form__label span {
      /* make <span> same colour as row background */
      background: var(--row-hover);
    }
  }
  /* Adjust background color of <span> */
  .dd-open > td:first-child .form__label span {
    background: var(--table-head-background);
  }
  
  .dd-open:hover > td:first-child .form__label span {
    background: var(--x-light-gray);
  }
  
  /* Align parent and child row left-margins */
  .table__row--no-count .row {
    padding-left: .75rem;
  }
}

/* Table with badges */
.table--with-badges {
  tr > td:first-child::before {
    visibility: hidden;
  }
  
  tr > td > .badge--numeric {
    position: absolute;
    margin-top: -1rem;
    left: .5rem;
    top: 2.3rem;
    z-index: 1;
    @media (--tablet) { top: 50%; }
  }
  
  /* when row is hovered over: */
  tr:not(.row--no-checkbox):hover {
    /* hide number */
    .badge--numeric {
      visibility: hidden;
    }
  }
  
  /* Adjust background color of badge */
  .dd-open > td:first-child .badge--numeric {
    background: var(--slate-gray);
    color: var(--gramo-white);
  }
}