.tabs {
  position: relative;

  /* tabs--toggleable */
  &--toggleable {

    & > .tabs__nav,
    & > .toolbar {
      display: none;
    }
  }

  &--toggleable #tab-control {
    display: none;

    &:checked {
      & ~ label[for="tab-control"],
      & ~ hr {
        display: none;
      }

      & ~ .tabs__nav,
      & ~ .toolbar {
        display: flex;
      }
    }
  }

  &--toggleable label[for="tab-control"] {
    color: var(--base-link-color);
    cursor: pointer;
    margin-left: 1rem;
    font-weight: 300;
  }

  &__section--outline {
    border: 1px solid var(--table-border-color);
  }
}

/* Narrow width tabs */
.tabs--compressed {

  .tabs__nav {
    margin-top: -1px;
  }

  .tabs__nav__item {
    @extend .col-sm;
    @extend .col-md-3;
    padding: 0;
  }
}
