.wizard-steps {
  padding: 0;
  list-style: none;
  margin-top: 1.5rem;
  display: inline-flex;
  vertical-align: middle;
  
  & > li {
    font-size: 1.5rem;
    color: var(--off-gray);
    margin-right: 1rem;
    
    &:after {
      content: '\e908';
      font-family: 'icomoon';
      font-size: 1.2rem;
      color: var(--silver);
      margin-left: 1rem;
    }
  
    &:last-child::after {
      content: none;
    }
  }
  
  & > li.selected {
    color: var(--gramo-blue);
  }
}