/* Min Side */
.form {
  &--in-box {
    padding: 2rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__label,
  &__input {
    @extend %font-size;
  }
  
  &__label {
    font-family: var(--minside-font-family);
  }
  
  &__input {
    padding: 1.2rem 0.55rem;
    font-family: var(--base-font-family);
  }
}