.list {
  list-style: none;
  background: var(--gramo-white);
  padding: 0 1rem;
  border: 0;
  
  &__header {
    background: var(--light-gray);;
    margin: -2rem -2rem 1rem -2rem;
    padding: 1rem;
    position: static;
  }
  
  &__header > * {
    display: block;
    @media (--tablet) { align-self: center; }
  }
  
  &__header {
    h3 {
      font-size: 2.4rem;
    }
  }
  
  &__header--action {
    text-align: right;
    
    
    & > .btn {
      display: inline-block;
    }
  }
  
  &__item {
    padding: 1rem 0;
    border-bottom: 1px solid var(--silver);
    
    a {
      text-decoration: none;
      font-weight: var(--semibold);
    }
  }
}

.list--numbered {
  background: none;
  padding: 0;
  counter-reset: item;
  
  & > li {
    background: #f3f3f3;
    border: 1px solid var(--silver);
    padding: 2rem;
    position: relative;
    margin-bottom: 1.2rem;
    
    &:before {
      counter-increment: item;
      content: counters(item,".") " ";
      position: absolute;
      bottom: -3.8rem;
      right: 2rem;
      font-size: 10rem;
      font-family: var(--minside-font-family);
      color: var(--light-gray);
    }
  }
}

.list--plain {
  & > li:before {
    content: none;
  }
}