.list {
  padding: 0 1rem;
  border: 0;
  
  &__header {
    background: var(--light-gray);;
    margin: -2rem -2rem 1rem -2rem;
    padding: 1rem;
  }
  
  &__header > * {
    order: 1;
    @media (--tablet) { order: 0 }
  }
  
  &__header--action {
    align-self: center;
    text-align: right;
    order: 0;
    
    .icon--close {
      font-size: 3rem;
      line-height: 3;
      color: var(--off-gray);
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      @media (--tablet) { position: static; }
    }
  }
  
  &__item {
    padding: 1rem 0;
    border-bottom: 1px solid var(--silver);
    
    a {
      text-decoration: none;
      font-weight: var(--semibold);
    }
  }
}

.list--numbered {
  background: none;
  padding: 0;
  counter-reset: item;
  
  & > li {
    background: #f3f3f3;
    border: 1px solid var(--silver);
    padding: 2rem;
    position: relative;
    margin-bottom: 1.2rem;
    
    &:before {
      counter-increment: item;
      content: counters(item,".") " ";
      position: absolute;
      bottom: -3.8rem;
      right: 2rem;
      font-size: 10rem;
      font-family: var(--minside-font-family);
      color: var(--light-gray);
    }
  }
}