.masthead {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  background: var(--light-gray);
  color: var(--slate-gray);
  box-shadow: 0 1px 0 var(--silver);
  
  .icon {
    font-size: 6rem;
    
  }
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  &:before {
    margin-left: -10px;
    border-top-color: color(var(--silver) shade(5%)); /* darken stroke slightly */
    border-width: 10px;
    left: 50%;
    bottom: -10px;
  }

  &:after {
    margin-left: -9px;
    border-top-color: var(--light-gray);
    border-width: 9px;
    left: 50%;
    bottom: -9px;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    /*font-size: inherit;*/
  }
  
  & > p {
    padding: 1rem 2rem;
    width: 100%; /* for IE */
  }
}

.masthead__meta {
  display: flex;
  border-top: 1px solid var(--silver);
  margin: 1.5rem -2rem -2rem -2rem;
  /*@media (--tablet) { padding: 1rem 0 0 2.4rem; border: 0; margin: 0; }*/
  @media (--tablet) { padding: 0 20%; }
    
  &__item {
    color: var(--slate-gray);
    flex: 1 0 33.333%;
    border-right: 1px solid var(--silver);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: var(--semibold);
    /*@media (--tablet) { display: block; border: 0; flex: 0 0 auto; padding: 0; }*/
    
    span {
      margin-right: .5rem;
      order: 1;
      font-weight: var(--normal);
      /*&:after {
        @media (--tablet) { content: ':'; }
      }*/
    }
    &::after {
      /*@media (--tablet) { content: '|'; margin: 0 1rem; font-weight: var(--normal); }  */
    }
    
    &:first-child {
      @media (--tablet) { border-left: 1px solid var(--silver); }
    }
    
    &:last-child {
      border-right-width: 0;
      @media (--tablet) { border-right-width: 1px; }
      
      &::after {
        content: none;
      }
    }
  }
}