/* Min Side */
.message {
  color: var(--gramo-white);
  font-style: normal;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  
  .icon {
    font-size: 5rem;
    margin: 1rem 0;
  }
  
  &--primary {
    background: var(--gramo-turkis);
    font-size: var(--minside-font-size);
    font-weight: var(--semibold);
  }
  
  &--secondary {
    background: var(--light-gray);
    color: var(--slate-gray);
    margin-bottom: 2rem;
  }
  
  &--success {
    background: var(--gramo-green);
  }
  
  &--error {
    background: var(--gramo-red);
  }
  
  &--dark {
    background: var(--ui-gray);

    * {
      color: var(--gramo-white);
    }
  }
}