/* Min Side */
.message {
  color: var(--gramo-white);
  font-style: normal;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-weight: var(--semibold);
  
  .icon {
    font-size: 5rem;
    margin: 1rem 0;
  }
  
  &--primary {
    background: var(--gramo-turkis);
    font-size: var(--minside-font-size);
  }
  
  &--secondary {
    background: var(--light-gray);
    color: var(--slate-gray);
    margin-bottom: 2rem;
  }
  
  &--success {
    background: var(--gramo-green);
  }
  
  &--error {
    background: var(--gramo-red);
  }
  
  &--dark {
    background: var(--ui-gray);

    * {
      color: var(--gramo-white);
    }
  }
  
  &--agent {
    background: var(--silver);
    display: flex;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
    margin-bottom: 1px;
    justify-content: space-between;
    align-items: center;
    
    & > * {
      color: var(--slate-gray);
    }
    
    & > *:last-child {
      flex: 1 0 auto;
      @media (--desktop) { margin-left: -12rem; }
    }
    
    .icon {
      font-size: 1.8rem;
      margin: 0;
    }
    
    em {
      font-style: normal;
      font-weight: var(--semibold);
    }
  }
  
  &--with-border {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    margin-bottom: 1px;
  }
}