/* Min Side */
.section__header, .container__header {
  display: block;
  padding-top: 0;
  text-align: center;
}

.section-header {
  h2 {
    margin-bottom: 0;
  }
  
  &__action {
    display: flex;
    
    & > *:last-child {
      margin-left: 1rem;
    }
  }
}