/* Min Side */
.section-header {
  
  header {
    
    h2 {
      justify-content: center;
      font-weight: var(--normal);
      text-transform: uppercase;
      font-size: 2.4rem;
    }  
  }
  
  &--left {
    header h2 {
      justify-content: flex-start;
    }
  }
}