/* Min Side */
.site-header {
  position: static;
  height: auto;
  background: none;
  border: 0;
  padding: 1rem;
  
  &__branding {
    margin-top: 1rem;
    @media (--tablet) { text-align: center; }
  }
}