/* Min Side */
.site-header {
  position: static;
  height: auto;
  display: flex;
  background: var(--gramo-white);
  box-shadow: 0 1px 1px var(--silver);
  margin-bottom: 1px;
  border: 0;
  padding: 1rem;
  
  &__branding {
    margin-top: 1rem;
    /*flex: 0 1 auto;*/
    flex: 1;
    margin-right: 2rem;
    @media (--tablet) { flex: 1; }
  }
  
  .user {
    background: none;
    padding: 0;
    flex: 1;
    font-size: 1.4rem;
    align-self: center;
    @media (--tablet) { font-size: 1.5rem; }
    
    &__name a {
      color: var(--ui-gray);
      text-transform: none;
      font-weight: var(--semibold);
    }
    
    &__avatar {
      border: 1px solid color(var(--gramo-turkis) tint(20%));
      max-width: 3.5rem;
      max-height: 3.5rem;
      filter: grayscale(1) url(../img/img-filter.svg#monochrome);
      @media (--tablet) { max-width: 4rem; max-height: 4rem; }
    }
  }
}