.site-footer {
  background: var(--light-gray);
  text-align: center;
  padding: 1rem 3rem;
  border-top: 1px solid var(--silver);
  position: relative;
  
  p {
    margin-top: .5rem;
    font-size: 1.4rem;
    
    a {
      margin-left: .5rem;
    }
  }
  
  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--slate-gray);
  }
}