.statusboard {
  text-align: center;
  width: 100%;
  display: block;
  /*@media (--tablet) { max-width: 400px; margin: 2rem auto 0 auto; border-radius: 4px; }*/

  &--primary {
    background: var(--gramo-turkis);
    
    .statusboard__header {
      background: color(var(--gramo-turkis) tint(60%));
    }
  }
  
  &--secondary {
    background: var(--silver);
    
    .statusboard__header {
      background: color(var(--silver) tint(60%));
    }
    
    .icon {
      @extend .icon--secondary;
    }
  }
  
  &--success {
    background: var(--gramo-green);
    
    .statusboard__header {
      background: color(var(--gramo-green) tint(60%));
    }
    
    .icon {
      @extend .icon--success;
    }
  }
  
  &--error {
    background: var(--gramo-red);
    
    .statusboard__header {
      background: color(var(--gramo-red) tint(60%));
    }
    
    .icon {
      @extend .icon--danger;
    }
  }
  
  &__header {
    padding: 2rem;
    position: relative;
    @media (--tablet) { border-radius: 4px 4px 0 0; }
    
    & > * {
      display: block;
    }
    
    em {
      font-size: 2.4rem;
      font-weight: var(--semibold);
      font-style: normal;
    }
    
    span {
      margin-right: 0;
    }
  }
  
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    color: inherit;
    opacity: 0.4;
    font-size: 1.5rem;
    display: block;
    padding: 1rem;
    background: none;
    border: 0;
    outline: none;
  }
  
  &__footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      /*flex: 1;
      margin-left: 1.5rem;*/
      margin-right: .5rem;
    }
    
    em {
      font-style: normal;
    }
    
    span {
      margin-right: 1rem;
    }
    
    a {
      line-height: 0;
    }
    
    .icon {
      font-size: inherit;
      @extend .icon--dark;
      margin-right: 0;
    }
  }
}