/* Minside */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  table-layout: fixed;
  @extend %margin-bottom;
  
  @media (--desktop) { min-width: 700px; width: auto; }
  @media (--hd) { min-width: 960px; }

  &--fluid {
    @media (--desktop) { min-width: 100%; }
  }
  
  thead,
  tbody,
  tfoot {
    td, th {
      border: 1px solid var(--table-border-color);
      border-width: 1px 0;
      color: var(--slate-gray);
      padding: 1rem 2rem;
      
      @media (--tablet) { 
        padding: 1rem; 
        height: var(--table-row-height); 
      }
      
    }
    th:first-child,
    td:first-child {
      @media (--desktop) { 
        border-left: 1px solid var(--table-border-color);
        padding-left: 2rem; 
      }
    }
    th:last-child,
    td:last-child {
      @media (--desktop) { 
        padding-right: 2rem;
        border-right: 1px solid var(--table-border-color);
      }
    }
  }
  thead {
    display: none;
    @media (--tablet) {
      display: table-header-group;
      
    }

    tr {
      background: var(--table-head-background);
    }

    th {
      font-weight: var(--semibold);
      text-align: left;
    }
  }
  tbody > tr {
    background: var(--gramo-white);
      
    &:hover {
      @media (--tablet) { background: var(--row-hover); }
    }
  }
}


/* Links in tables */
.table a:not(.btn)  {
  text-decoration: none;
  color: var(--gramo-sea-green);
  font-weight: var(--semibold);
}


/* Table standard */
.table--standard {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  @media (--tablet) {
    width: 100%;
    margin: 0 0 1.2rem 0;
  }
  
  thead {
    display: table-header-group;
  }
  
/* Remove data-labels */
  td::before {
    content: none;
  }
}