.table--numeric-tracks {
  tbody {
    counter-reset: section;
  }
  
  thead th:first-child,
  tr > td:first-child {
    padding-left: 4.5rem;
  }
  
  tr:not(:first-child) > td {
    position: relative;
  }
  
  tbody tr:first-child {
    background: none;
    
    & > td {
      border-width: 0 0 1px 0;
      padding-left: 1rem;
      font-weight: var(--semibold);
    }
  }
  
  tr:not(:first-child) > td:first-child::before {
    counter-increment: section;
    content: counters(section,".") " ";
    position: absolute;
    @extend .badge--numeric;
    margin-top: -1rem;
    left: 1.5rem;
    top: 2.3rem;
    top: 50%;
  }
  
  tr.table__row--selected {
    & > td:first-child {
      padding-left: 1rem;
      flex: 1 0 80%;
      z-index: 1;
    }
  }
  
  td.table__cell--action {
    order: 1;
    flex: 1;
    align-self: flex-end;
    margin-top: -3rem;
    position: relative;
    top: -.25rem;
    text-align: right;
    @media (--tablet) {
      margin-top: 0;
      top: .25rem;
    }
    
    &:before {
      content: none;
    }
    
    a {
      color: inherit;
    }
    
    &::before {
      content: none;
    }
  }
  td.table__cell--side-number {
    padding: 2rem 0 0 0;
    
    &:before {
      content: none;
    }
  }
}