/* Minside */
@media
only screen and (max-width: 768px),
(min-device-width: 968px) and (max-device-width: 1024px)  {
  
  .table--list {
    tr {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid var(--table-border-color);
      padding: 1rem;
      width: calc(100% +2rem);
      margin: 0 -1rem;
      
      &:not(:first-child) {
        margin-top: -1px;
      }
    }
    
    td {
      border: 0!important;
      flex: 0 0 auto;
      /*font-size: 1.4rem;*/
      align-items: flex-end;
      padding: 0 1rem;
      margin: 0;
      
      &:first-child {
        /*color: color(var(--gramo-turkis) shade(40%));
        font-weight: var(--semibold);*/
        font-size: inherit;
        flex: 1 0 60%;
      }
      
      &.table__cell--left {
        flex: 1 0 60%;
      }
    }
    
    td::before {
      content: none;
    }
    
    .table__row--with-arrow {
      position: relative;
      padding-right: 2rem;
      
      &:after {
        content: "\e90c";
        color: var(--light-gray);
        top: 50%;
        right: 1rem;
        margin-top: -1rem;
        transform: rotate(-90deg);
        position: absolute;
        font-family: 'minside-icons';
      }
    }
  }
  
  .table--recordings {
    
    td:nth-child(2) {
      order: 1;
    }
    
    td:nth-child(4) {
      order: 2;
    }
  }
  
  .table--ledger {
    
    td:nth-child(2) {
      order: 3;
    }
    
    td:nth-child(3) {
      order: 5;
    }
    
    td:nth-child(4) {
      order: 6;
    }
    
    td:nth-child(5) {
      order: 4;
    }
    
    td:nth-child(6) {
      order: 2;
    }
  }
  
  /*.table--ledger-detail {
    
    td:nth-child(2) {
      order: 3;
    }
    
    td:nth-child(3) {
      order: 5;
    }
    
    td:nth-child(4) {
      order: 6;
    }
    
    td:nth-child(5) {
      order: 4;
    }
    
    td:nth-child(6) {
      order: 2;
    }
  }*/
  
  .table--standard {
    display: table;
    width: calc(100% + 2rem);
    margin: 0 -1rem;
    
    thead {
      display: table-header-group;
      border: 0;
    }
    tbody {
      display: table-row-group;
    }
    tr {
      display: table-row;
      border-width: 0 0 1px 0;
    }
    th, td {
      display: table-cell;
      border-width: 1px 0!important;
    }
  }
}

.table--standard {
  @media (--tablet) { margin-top: 2rem; }
}