/* Min Side */
.wizard-steps--minimal {
  display: flex;
  justify-content: center;
  
  li {
    & > span {
      display: none;
    }
    &::after, &:last-child::after {
      content: '\2022';
      /*font-family: 'minside-icons';*/
      font-size: 3rem;
      line-height: 0;
      color: var(--off-gray);
      margin-left: .3rem;
    }
    
    &:last-child{
      margin-right: 0;
    }
  }
  li.selected::after {
    color: var(--gramo-sea-green);
  }
}

.wizard-steps--overlay {
  @extend .wizard-steps--minimal;
  position: absolute;
  bottom: -50px;
  width: 100%;
  left: 0;
  
  li {
    &::after, &:last-child::after {
      color: var(--off-gray);
    }
    
    &.selected::after {
      color: var(--light-gray);
    }
  }
}
