/* Min Side */

%font-size {
  font-size: var(--minside-font-size);
}

/* Basic layout */
body {
  background: var(--minside-background-color);
  @extend %font-size;
}
main > section:first-of-type {
  padding-top: 0;
}

/* Type and fonts */
h1, h2 {
  font-family: var(--minside-font-family);
}