/* Min Side */

%font-size {
  font-size: var(--minside-font-size);
  line-height: var(--minside-line-height);
}

/* Basic layout */
body {
  background: var(--minside-background-color);
  @extend %font-size;
}

a {
  color: var(--gramo-sea-green);
}

/* Type and fonts */
h1, h2, h3, h4, h5 {
  font-weight: var(--normal);
}

h1, h2 {
  font-family: var(--minside-font-family);
  font-weight: var(--normal);
  text-transform: uppercase;
  font-size: 2.4rem;
  margin: 0 0 1.2rem 0;
}

h1 {
  font-size: 3.3rem;
}

h4 {
  font-family: var(--base-font-family);
  color: var(--off-gray);
  font-size: inherit;
}

[data-type]::before {
  color: inherit;
  margin-right: 1rem;
  vertical-align: middle;
}