/* Min Side */

.site-wrapper {
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

main > section:first-of-type {
  padding-top: 0;
}

.container--padded {
  padding: 2.5rem 1rem 0 1rem!important;
}

.container--branded {
  /*background: url("img/gramo-logo-black.png") no-repeat 50% 5rem;
  background-size: 160px;*/
  background-image: none;
  padding-top: 0!important;
  @media (--tablet) { padding-top: 5rem!important; }
  
  &__heading {
    text-transform: none;
    margin: 0 auto 1rem auto;
    max-width: 400px;
    text-align: center;
  }
}

.container--col-1 {
  max-width: 840px;
  margin: auto;
  
  &-min {
    @media (--tablet) { min-width: 800px; }
  }
}

.container--for-tables {
  max-width: 1080px;
  margin: auto;
}

.container--col-3 {
  max-width: 1100px;
  margin: auto;
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  background: color(var(--ui-gray) a(70%));
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav--primary.nav-visible ~ main::after {
  content: '';
  @extend .overlay;
  animation: fadeIn ease 1s;
}