/* Min Side */
main {
  transform: translateX(-20rem);
  transition: all .25s ease;
  @media (--tablet) { transform: none; }
  
  &.pull {
    flex: 1;
    transform: none;
  }
}

.container--padded {
  padding: 0 2.5rem;
}

.masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background: var(--light-gray);
  color: var(--slate-gray);
  margin-bottom: 2rem;
  box-shadow: 0 1px 0 var(--silver);
  
  .icon {
    font-size: 6rem;
    margin: 1rem 0;
  }
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  &:before {
    margin-left: -10px;
    border-top-color: color(var(--silver) shade(5%)); /* darken stroke slightly */
    border-width: 10px;
    left: 50%;
    bottom: -10px;
  }

  &:after {
    margin-left: -9px;
    border-top-color: var(--light-gray);
    border-width: 9px;
    left: 50%;
    bottom: -9px;
  }
}