/* Min Side */

.site-wrapper {
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

main > section:first-of-type {
  padding-top: 0;
}

.container--padded {
  padding: 2.5rem!important;
}

.container--col-1 {
  max-width: 800px;
  margin: auto;
}

.container--col-3 {
  max-width: 1000px;
  margin: auto;
}