/* Min Side */

.text--center-on-mobile {
  text-align: center!important;
  @media (--tablet) { text-align: left!important; }
}

.text--center-always {
  text-align: center!important;
  @media (--tablet) { text-align: center!important; }
}

.text--bold-on-mobile {
  font-weight: var(--semibold);
  @media (--tablet) { font-weight: normal; }
}

.text--light-on-mobile {
  color: var(--off-gray);
  @media (--tablet) { color: inherit; }
}

.text--blue {
  color: var(--gramo-blue);
}

.text--error {
  margin-top: -0.5rem;
}

.text--hidden {
  visibility: hidden;
  display: block;
  height: 0;
}

.row__delete {
  position: relative;
  right: .5rem;
  top: 1rem;
  align-self: center;
  @media (--tablet) {
    position: absolute;
    right: -1.5rem;
    top: calc(50% - 0.2rem);
  }
  
  .icon {
    font-size: 2rem;
  }
  
  &--half {
    @media (--tablet) { right: calc(50% - 1.5rem); }
  }
}

.link--add {
  margin: -0.5rem 0 1rem 0rem;
}

.adjust--to-left {
  position: static;
  
  @media (--tablet) {
    position: relative;
    left: -2rem;
  }
  
  @media (--hd) {
    position: static;
  }
}