/* Min Side */
.heading--space-below {
  border-bottom: 1px solid var(--silver);
  padding-bottom: .6rem;
}

.row--spaced {
  display: flex;
  padding-bottom: .6rem;
  margin-bottom: .6rem;
  border-bottom: 1px dashed var(--silver);
}

.text--center {
  text-align: center!important;
}